[2016-05-13 04:04] at15 commented on #71
@JasonQSY thx~ btw: 记得交作业

[2016-05-13 07:05] at15 commented on #71
- https://github.com/MacGapProject/MacGap2

[2016-05-13 09:21] swaylq commented on #71
啊，这次到我了~

[2016-05-14 01:47] at15 commented on #71
- https://github.com/jrusev/simple-neural-networks from @mrmiywj star

[2016-05-14 03:24] at15 commented on #71
- https://getsiphon.com/ Pain-free publishing for React Native
  本地只需要命令行工具，服务器端运行as和xcode

[2016-05-14 04:29] at15 commented on #71
- http://www.sumatrapdfreader.org/ win下latex编译时，用adobe家的会提示文件占用，用 sumatra 就可以了 \w/ cc @gaocegege (策策:然而我不用windows

[2016-05-14 07:38] at15 commented on #71
- chrome 插件 panda from 今天讲座的人。可以看 hackernews，以及很多 design 的资源 @scottsun94

[2016-05-14 07:52] arrowrowe commented on #71
re @at15 是这个么? [Panda 4 | News & Inspiration Dashboard](https://chrome.google.com/webstore/detail/panda-4-news-inspiration/haafibkemckmbknhfkiiniobjpgkebko)

[2016-05-14 09:29] at15 commented on #71
- https://survivejs.com/ webpack and react tutorial 今天讲座的人推荐的  cc @daniyuu

@arrowrowe 嗯，是这个

[2016-05-14 11:59] at15 commented on #71
- http://pharo.org/ cc @mrmiywj  btw: 这编辑器浓浓的jb风格....(应该是jb搞基定制版

[2016-05-14 12:46] at15 commented on #71
- http://googleresearch.blogspot.com/2016/05/announcing-syntaxnet-worlds-most.html  Announcing SyntaxNet: The World’s Most Accurate Parser Goes Open Source 好像跟 tensorflow 有关 cc @sxjscience

[2016-05-14 12:50] at15 commented on #71
and @arrowrowe 其实可以类似panda做个pixiv的 /w\ ... 叫 mieda

[2016-05-15 02:02] at15 commented on #71
- https://github.com/rustbridge/helix Ruby and Rust, sitting in a tree (tan or cot /w)
- http://blog.skylight.io/introducing-helix/

[2016-05-15 02:48] ComMouse commented on #71
[又是一个名叫草泥马的项目：thefuck](https://segmentfault.com/a/1190000002740344)

![Demo](https://raw.githubusercontent.com/nvbn/thefuck/master/example.gif)

[2016-05-15 03:07] at15 commented on #71
- https://dribbble.com/viselner 这个人的像素风不错 \w/

[2016-05-15 03:39] at15 commented on #71
- https://www.behance.net/beeple 这个科幻风格不错

[2016-05-15 03:54] at15 commented on #71
- https://github.com/sympy/sympy python 的 symbolic 库。 很好奇symbolic是怎么实现的 ....

computer-algebra systems 似乎更多是这么叫
- https://groups.csail.mit.edu/mac/users/gjs/6.945/  Adventures in Advanced Symbolic Programming 用的 scheme 不过assignment似乎并没有说实现 cas，虽然intro里有说
- [Design and Implementation of Symbolic Computation Systems](https://books.google.com/books?id=NrpGnrVET_MC&pg=PA164&lpg=PA164&dq=symbolic+progr

[2016-05-15 04:03] sxjscience commented on #71
@at15 感觉是把symbol存下来，然后最后再eval的时候处理，MShadow里面是用expression template结合Engine做的。https://github.com/dmlc/mshadow/tree/master/guide/exp-template
还可以看Tensorflow的white paper: http://download.tensorflow.org/paper/whitepaper2015.pdf

[2016-05-15 07:15] mrmiywj commented on #71
[未来计划](http://www.yinwang.org/blog-cn/2016/05/14/future)

八卦一则

[2016-05-15 13:30] arrowrowe commented on #71
[nlp_compromise](https://github.com/nlp-compromise/nlp_compromise) (with a [demo](http://nlpcompromise.com/)) does NLP in the browser, a cool way to use natural language in javascript.

[2016-05-15 15:44] at15 commented on #71
- https://github.com/synfig/synfig open source 2d animation software

[2016-05-16 02:44] at15 commented on #68
@arrowrowe @LukeXuan mail sent?

[2016-05-16 02:45] at15 commented on #71
- https://github.com/saiprashanths/dl-setup Setting up a Deep Learning Machine from Scratch (Software) cc @mrmiywj 要开始认真学炼丹的男人

[2016-05-16 03:08] arrowrowe commented on #68
re @at15 No.

[2016-05-16 15:01] gaocegege commented on #71
https://github.com/shadowsocks/shadowsocks/issues/540#issue-153658221

哎

[2016-05-17 00:28] at15 commented on #71
- https://github.com/chrislusf/glow Glow is an easy-to-use distributed computation system written in Go, similar to Hadoop Map Reduce, Spark, Flink, Storm, etc cc @gaocegege

[2016-05-17 00:34] at15 commented on #71
from https://github.com/zenany/weekly/commit/880da746f883dc88ba26cf8cae04a8d32637f24b
- [林仕鼎-系统架构领域的一些学习材料](http://www.52cs.org/?p=114) cc @mrmiywj
- http://devlink.cn/   PHP 开发者大会 - 2016
- http://maintainablecss.com/ 讲真，我(们)css一直处在原始状态......
- https://code.facebook.com/posts/1072626246134461/introducing-fblearner-flow-facebook-s-ai-backbone/   how fb ml
- **持续交付：当前普遍存在的三个问题与解决方案**
  http://mp.wei

[2016-05-17 00:40] at15 commented on #71
from https://github.com/zenany/weekly/commit/880da746f883dc88ba26cf8cae04a8d32637f24b
- https://blog.risingstack.com/node-hero-node-js-project-structure-tutorial/

cc @说放弃前端还整天用node的口嫌体正的咩 (这名字长度要赶上龙母了)
- **JavaPoly.js**  https://www.javapoly.com/  cc @gaocegege

- https://realm.io/ 代替sqlite的移动端数据库 cc @BrotherJing

[2016-05-17 00:43] at15 commented on #71
- https://buckbuild.com/ 支持多种语言的fb家build tool，cc @BrotherJing   支持 rust cc @mrmiywj

[2016-05-17 00:44] at15 commented on #71
`chrome://tracing` 看 buck 的blog 看到的，chrome 内置的看performance的 https://github.com/catapult-project/catapult/tree/master/tracing

[2016-05-17 01:35] gaocegege commented on #71
『林仕鼎-系统架构领域的一些学习材料』挺棒的

[2016-05-17 02:44] gaocegege commented on #71
https://github.com/GravityLabs/goose
大概是 scala 的 html2text 吧

[2016-05-17 02:48] gaocegege commented on #71
http://wdxtub.com/about/
关于CSAPP的博文很棒

[2016-05-17 04:35] at15 commented on #71
- https://github.com/inikulin/publish-please cc @arrowrowe

[2016-05-17 04:36] at15 commented on #71
- https://github.com/scala-native/scala-native from @gaocegege 's star

[2016-05-17 04:37] at15 commented on #71
- https://github.com/bornkiller/echarts-ng cc @arrowrowe

[2016-05-17 04:39] at15 commented on #71
- https://github.com/panteng/wechat-h5-boilerplate 作者好像是个在上海工作的歪果妹子(关注点...

[2016-05-17 04:42] gaocegege commented on #71
特么瞎说，是个男孩子，去推特和ins看看就知道了

[2016-05-17 04:42] at15 commented on #71
@gaocegege /w\

[2016-05-17 04:43] gaocegege commented on #71
=-=

[2016-05-17 07:34] at15 commented on #71
- https://www.bithound.io/ Node.js code analysis your team can agree on cc @arrowrowe

[2016-05-17 09:46] arrowrowe commented on #71
re @at15
- publish-please: seems cool
- echarts-ng: have seen it from senpai's star
- bithound: expensive...

[2016-05-17 10:53] at15 commented on #71
@arrowrowe .... senpai ....

[2016-05-17 10:55] gaocegege commented on #71
https://dcos.io/
集群操作系统，把一个集群当成一个机器来用，集群操作系统就是做这件事的，概念不错。

[2016-05-17 11:10] ttylcc commented on #71
这个issue也是codeTengu weekly的一部分吗？

[2016-05-17 11:13] arrowrowe commented on #71
re @ttylcc 如题所述, 这是第 33 期周报的投稿区.

[2016-05-17 15:26] at15 commented on #71
- https://github.com/segmentio/nightmare
- https://github.com/segmentio/daydream

A high-level browser automation library cc @arrowrowe

[2016-05-18 05:32] ComMouse commented on #71
@ttylcc 这里不是 codeTengu weekly 哦~ 这里是 Dongyue Web Studio 的周报投稿区

[2016-05-18 14:20] arrowrowe commented on #71
[GitHub3.py](https://github.com/sigmavirus24/github3.py) ([doc](http://github3py.readthedocs.io/en/master/)), a comprehensive, actively developed and extraordinarily stable wrapper around the GitHub API (v3).

[2016-05-18 14:20] arrowrowe commented on #71
[GitHub API Libraries](https://developer.github.com/libraries/).

[2016-05-19 05:16] at15 commented on #71
- https://www.grammarly.com @arrowrowe 纠正语法错误，你值得拥有。

[2016-05-19 05:26] at15 commented on #71
- http://support.xbox.com/en-US/xbox-one/accessories/wireless-controller-disconnects @scottsun94 @xsfour xbox手柄不能无线连接怎么办 \w/ (光环联机被杀成狗再也不能怪手柄了...

[2016-05-19 06:14] arrowrowe commented on #68
Mails sent by @LukeXuan .

[2016-05-19 06:14] #68 closed, assigned to LukeXuan

[2016-05-19 06:16] at15 commented on #68
finally ....

[2016-05-19 06:21] arrowrowe opened #72 "Weekly for 2016/05/25"
2016/05/25, 第七循环第三次, 总第三十四期 -> @arrowrowe

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [ ] @ComMouse
- [ ] @LukeXuan
- [ ] @sxjscience
- [ ] @tq5124
- [x] @gaocegege
- [ ] @Bluemit
- [ ] @mrmiywj
- [ ] @JasonQSY
- [ ] @GavinXing
- [ ] @daniyuu
- [ ] @InubashiriMomizi

[2016-05-19 06:56] at15 commented on #71
please go #72

[2016-05-19 07:43] gaocegege commented on #72
[teambition开源项目](https://www.teambition.com/zh/developer/open-source)
看上去好多js

[2016-05-19 09:37] at15 commented on #72
- [免费的DevOps工具 华为开发者社区微信推送](http://mp.weixin.qq.com/s?__biz=MzA3NTMyOTAwMQ==&mid=2650229686&idx=1&sn=90ccbc527bcfb56fab960d7aeafab8f0&scene=0#wechat_redirect)

[2016-05-20 05:30] at15 commented on #72
- https://github.com/BYVoid/Batsh A language that compiles to Bash and Windows Batch

[2016-05-20 14:11] arrowrowe commented on #72
[What every computer science major should know](http://matt.might.net/articles/what-cs-majors-should-know/) (中译: 每个 CS 系学生都应该知道的事, [博乐在线](http://blog.jobbole.com/101168/) / [Python 开发者](http://mp.weixin.qq.com/s?__biz=MzA4MjEyNTA5Mw==&mid=2652563679&idx=1&sn=72be4da3331d2e9a399fe25e3f4727f2))

from @gaocegege

[2016-05-21 05:05] arrowrowe commented on #72
[HTTP Prompt](https://github.com/eliangcs/http-prompt), an interactive command-line HTTP client featuring autocomplete and syntax highlighting, built on [HTTPie](https://github.com/jkbrzt/httpie) and [prompt_toolkit](https://github.com/jonathanslenders/python-prompt-toolkit).

[2016-05-21 05:06] arrowrowe commented on #72
[Houdini: Maybe The Most Exciting Development In CSS You’ve Never Heard Of](https://www.smashingmagazine.com/2016/03/houdini-maybe-the-most-exciting-development-in-css-youve-never-heard-of/) (中译: [Houdini：CSS 领域最令人振奋的革新](http://qianduan.guru/2016/05/20/houdini/) by [前端外刊评论](http://qianduan.guru/))

[2016-05-21 12:41] gaocegege commented on #72
https://www.hyper.sh/

北京的一家创业公司，做的事情的话，请看[如何评价 hyper_？](https://www.zhihu.com/question/35412725/answer/101715150)

[code]

感觉是一个很有趣的东西

[2016-05-22 05:40] at15 commented on #71
@swaylq ?

[2016-05-22 07:14] arrowrowe commented on #72
[JSONScript](http://www.json-script.com/), asynchronous scripting language using JSON format.

Want to avoid multiple requests per operation? Combine requests together? We can go further.

cc @ComMouse

[2016-05-22 07:17] at15 commented on #72
(感觉这段时间weekly好安静.....)

[2016-05-22 07:18] mrmiywj commented on #72
忙于Final。。

[2016-05-23 02:30] swaylq commented on #71
sorry，我今天就发

[2016-05-23 13:42] at15 commented on #72
- https://github.com/YuAo/Vivid iOS 的图像处理库

不过更有趣的是里面提到的一个自动生成星空的算法 https://www.shadertoy.com/view/XlfGRj

[2016-05-24 08:03] arrowrowe commented on #72
[GitKraken](https://github.com/integrations/gitkraken), a free Git client for Windows, Mac, and Linux that integrates beautifully with GitHub.

[2016-05-24 08:45] arrowrowe commented on #71
Mails sent by @arrowrowe.

[2016-05-24 08:45] #71 closed, assigned to swaylq

[2016-05-24 15:01] at15 commented on #72
- https://github.com/baconjs/bacon.js a small fp lib for js cc @arrowrowe `mie = f(mie)`

[2016-05-24 17:13] at15 commented on #72
@mrmiywj 忙于守望先锋 /w\

[2016-05-25 12:30] arrowrowe commented on #72
[CryEngine out on GitHub!](https://github.com/CRYTEK-CRYENGINE/CRYENGINE)

More: [Game Engines](https://github.com/showcases/game-engines) on GitHub

[2016-05-25 12:31] arrowrowe commented on #72
[Taming the React Setup](http://developer.telerik.com/featured/taming-react-setup/)

[2016-05-25 12:37] arrowrowe commented on #72
[Pepperoni](http://getpepperoni.com/) (GitHub: [futurice/pepperoni-app-kit](https://github.com/futurice/pepperoni-app-kit)), a free and open-source blueprint to kickstart your mobile product development for Android and iOS, powered by React Native.

[2016-05-25 12:51] arrowrowe opened #74 "Weekly for 2016/06/01"
2016/06/01, 第七循环第四次, 总第三十五期 -> @ComMouse

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [ ] @LukeXuan

[2016-05-25 14:00] arrowrowe commented on #74
网易云音乐出 Linux 版了~! [来来来!](http://music.163.com/#/download)

[2016-05-25 14:20] arrowrowe commented on #74
[The Grammar of Graphics](http://g2.alipay.com/), 一套属于DT时代的图形语法.

相关问题: [如何评价支付宝推出的前端可视化方案G2?](https://www.zhihu.com/question/46518480)

[2016-05-25 14:25] arrowrowe commented on #72
Mails sent by @arrowrowe.

[2016-05-25 14:25] #72 closed, assigned to arrowrowe

[2016-05-25 22:39] arrowrowe commented on #74
No more `leftPad`? [Per May 2016 TC39 consensus, `String#{padStart,padEnd}` is now stage 4!](https://github.com/tc39/ecma262/pull/581)

~~See also a polyfill [here](http://jsbin.com/kofarezuje/edit?js,console).~~

See official / recommended polyfills by @ljharb here:
- [es-shims/String.prototype.padStart](https://github.com/es-shims/String.prototype.padStart) ([implementation.js](https://github.co

[2016-05-26 06:05] ljharb commented on #74
@arrowrowe the official/recommended polyfills for padStart/padEnd are https://www.npmjs.com/package/string.prototype.padstart and https://www.npmjs.com/package/string.prototype.padend

[2016-05-26 09:00] arrowrowe commented on #74
@ljharb thanks! updated.

[2016-05-26 12:38] arrowrowe commented on #74
**[Dead Yet?](http://deadyet.lol/)**

[2016-05-28 01:19] arrowrowe commented on #74
GitHub now supports [Multiple assignees on Issues and Pull requests](https://github.com/blog/2178-multiple-assignees-on-issues-and-pull-requests)!

[2016-05-28 04:59] ComMouse commented on #74
[ClassPreloader](https://github.com/ClassPreloader/ClassPreloader)

Optimizes class loading performance by generating a single PHP file containing all of the autoloaded files for a specific use case

[2016-05-28 09:44] at15 commented on #74
- https://github.com/Sirupsen/logrus Structured, pluggable logging for Go. cc @gaocegege (btw: 好久好久好久好久没有写Ayi了...... 我去画二专了....

[2016-05-29 15:37] arrowrowe commented on #74
[_500 Lines or Less_](https://github.com/aosabook/500lines)

[2016-05-31 10:47] ComMouse commented on #74
[Threejs基础教程](http://www.hewebgl.com/article/articledir/1)

[2016-05-31 14:53] arrowrowe commented on #74
ECMAScript  proposal for introducing [**Optional Chaining**](https://claudepache.github.io/es-optional-chaining/) (GitHub: [claudepache/es-optional-chaining](https://github.com/claudepache/es-optional-chaining)), aka Existential Operator, aka Null Propagation.

[2016-05-31 15:15] arrowrowe commented on #74
[Parable of the Polygons](http://ncase.me/polygons/) ([中译](http://ncase.me/polygons-zh/), GitHub: [ncase/polygons](https://github.com/ncase/polygons)), a playable post on how harmless choices can make a harmful world.

[2016-05-31 23:54] arrowrowe commented on #74
[TensorFlow Examples](https://github.com/aymericdamien/TensorFlow-Examples)

It seems not posted before. Please correct me if wrong.

[2016-06-01 04:21] at15 commented on #74
- https://github.com/bitwiseshiftleft/sjcl  a javascript crypto library cc @ComMouse

[2016-06-02 02:05] ComMouse opened #76 "Weekly for 2016/06/08"
2016/06/08, 第八循环第一次, 总第三十六期 -> @at15

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [ ] @LukeXuan
- [x] @sxjscience
- [x] @gaocegege

[2016-06-02 02:06] ComMouse commented on #74
Weekly locked, please go to #76

[2016-06-02 04:16] arrowrowe commented on #74
Mails sent by @arrowrowe.

[2016-06-02 04:16] #74 closed, assigned to ComMouse

[2016-06-02 05:16] at15 commented on #74
这期内容好少.....

[2016-06-02 05:17] at15 commented on #76
历史的大锅，又一次甩到了我的脸上.... 让我先玩把守望先锋压压惊

[2016-06-02 05:34] ComMouse commented on #76
[CRLF Injection漏洞的利用与实例分析](http://drops.wooyun.org/papers/2466)

CRLF 也可以这么玩==

[2016-06-02 06:07] LukeXuan commented on #76
怎么我什么都没做就被proxy了

On Thu, Jun 2, 2016, 1:34 PM Kevin Han notifications@github.com wrote:

[2016-06-02 10:44] ComMouse commented on #76
@LukeXuan #68 Proxy 过 @at15 了

[2016-06-02 12:37] ComMouse commented on #76
[PSR 中文翻译](https://psr.phphub.org/)

目前 PSR-3, PSR-6, PSR-7 等较新规范的翻译都有了

补充：似乎 PSR-7 只翻译了一半。。

[2016-06-03 09:38] at15 commented on #76
![image](https://cloud.githubusercontent.com/assets/5621298/15774977/de068c3a-29b1-11e6-8247-66fd25f9c595.png)
![image](https://cloud.githubusercontent.com/assets/5621298/15774981/e2f66094-29b1-11e6-95c0-a03fceaa4895.png)

来一发狗粮

[2016-06-03 12:48] at15 commented on #76
- https://github.com/KasperDeng/Hubot-WeChat

[2016-06-04 09:43] at15 commented on #76
搜 defend thesis 搜到的
- http://www.cc.gatech.edu/faculty/ashwin/wisdom/
- http://www.disi.unige.it/research/Categorical_semantics/how-to.html

[2016-06-04 09:44] at15 commented on #76
原来还有个 http verb 是 300 ....  http://www.cc.gatech.edu/student.services/phd/phd-advice/ 好像以前真没遇到过....

[2016-06-04 13:31] at15 commented on #76
- https://github.com/sourcegraph/sourcegraph Global code search & cross‑references
- https://github.com/sourcegraph/srclib

cc @gaocegege

[2016-06-05 05:49] at15 commented on #76
- https://github.com/terryum/awesome-deep-learning-papers cc @sxjscience

[2016-06-05 07:47] arrowrowe commented on #76
[Building Problem Solvers](http://www.qrg.northwestern.edu/BPS/readme.html)

有人有兴趣么......

[2016-06-05 15:12] at15 commented on #76
@arrowrowe 好像可以写一个符号计算系统(代数)?  cc @sxjscience

然而我坑太多了....... /w\

[2016-06-05 15:43] sxjscience commented on #76
不如我们自己弄一个Probabilistic Programming的系统？(就跟我上次说的那样)。http://probabilistic-programming.org/wiki/Home

[2016-06-05 15:46] sxjscience commented on #76
比如Stan
http://mc-stan.org/interfaces/stan
Anglican
http://www.robots.ox.ac.uk/~fwood/anglican

[2016-06-06 05:45] gaocegege commented on #76
https://github.com/Aploium/MagicWebsiteMirror
浙大大一的 @Aploium 实现的反向代理工具
只见新人笑，不见旧人哭啊=-=

[2016-06-06 13:05] at15 commented on #76
- https://github.com/NodeOS/NodeOS cc @arrowrowe  貌似可以在树莓派上试一试 (btw: 我们还gh或者b站剁手么? 毕业典礼之后我就要被赶出宿舍了.....

[2016-06-06 15:57] gaocegege commented on #76
Github贴纸我还有一些=-=要是需要可以问我要

[2016-06-07 05:43] at15 commented on #76
- https://github.com/PPMESSAGE/ppmessage python 写的聊天和客服系统 cc @ComMouse @LukeXuan

[2016-06-07 12:42] at15 commented on #76
from https://github.com/zenany/weekly/commit/4be73e2a1d4c88d7f6c9d38525abd4a365243e1b

**[译]CSS2.1规范中文版**
- http://www.ayqy.net/blog/css2-1%E8%A7%84%E8%8C%83%E4%B8%AD%E6%96%87%E7%89%88/
- http://mp.weixin.qq.com/s?__biz=MjM5MTA1MjAxMQ==&mid=2651220964&idx=1&sn=17ca31a365a1b5265c8f111792c0117e

**What is difference between props and state in React?**
http://appendto.com/2016/05/what-is-difference-b

[2016-06-07 12:43] at15 commented on #76
from https://github.com/zenany/weekly/commit/4be73e2a1d4c88d7f6c9d38525abd4a365243e1b
- https://github.com/rishabhp/bideo.js 使用 video 来作为 background ( 新时代的x站的选择 /w\

**Android开发书籍推荐 & 学习路线图**   cc @kdplus @mingzz
- http://diycode.cc/wiki/androidbook
- http://diycode.cc/topics/117

**ElectroCRUD**  cc @ComMouse @Bluemit
- http://garrylachman.github.io/ElectroCRUD/

**frontend-hyperpolyglot**   cc @

[2016-06-07 13:46] ComMouse commented on #76
[electsys--](https://github.com/yangfl/electsys--) 某大神学弟 @yangfl 的作品，不多说了试了就知道 cc @laohyx

[2016-06-08 09:47] at15 commented on #76
@ComMouse 这个提交风格有点猛..... 类似 @mingzz 和 @kdplus

[2016-06-08 10:31] at15 commented on #76
- https://github.com/imRainChen/Mega-Wechat 基于 swoole实现的微信消息发送队列 cc @ComMouse

[2016-06-08 10:40] at15 commented on #76
- https://aframe.io/  cc @laohyx

[2016-06-08 10:48] arrowrowe opened #78 "Weekly for 2016/06/15"
2016/06/15, 第八循环第二次, 总第三十七期 -> @swaylq

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [ ] @ComMouse
- [ ] @LukeXuan
- [x] @daniyuu

[2016-06-08 10:48] arrowrowe commented on #76
Please go #78.

[2016-06-08 12:13] at15 commented on #76
配图我要自己画本子! \w/

[2016-06-09 06:33] at15 commented on #78
~~\- https://github.com/feross/webtorrent-desktop~~ dupx2 thanks @arrowrowe /w\

[2016-06-09 14:50] swaylq commented on #78
是现在只有 5 个人编辑了嘛

[2016-06-09 23:31] arrowrowe commented on #78
@swaylq 福福退出后不是就一直五个轮值编辑嘛......

[2016-06-12 01:33] arrowrowe commented on #78
[More Bad English, Please](http://ostatic.com/blog/more-bad-english-please)

[2016-06-12 01:52] arrowrowe commented on #78
[`nbind`](https://github.com/charto/nbind), #include nbind in C++ & call effortlessly from JavaScript without changes.

[2016-06-12 01:56] arrowrowe commented on #78
[Lerna](https://github.com/lerna/lerna), a tool for managing JavaScript projects with multiple packages.

[2016-06-12 01:57] arrowrowe commented on #78
[HEAD](https://github.com/joshbuchea/HEAD), a list of everything that could go in the `<head>` of your document.

[2016-06-12 01:58] arrowrowe commented on #78
[_Python Machine Learning_ code repository](https://github.com/rasbt/python-machine-learning-book).

[2016-06-12 02:01] arrowrowe commented on #78
[Facebook DarkForest Go Project](https://github.com/facebookresearch/darkforestGo)

[2016-06-13 08:42] at15 commented on #78
- https://github.com/louischatriot/nedb The JavaScript Database, for Node.js, nw.js, electron and the browser

[2016-06-13 12:38] arrowrowe commented on #76
Mails sent by @arrowrowe.

[2016-06-13 12:38] #76 closed, assigned to at15

[2016-06-13 17:45] at15 commented on #78
- http://www.zcfy.cc/article/439   [译]使用CSS完成元素居中的七种方法

[2016-06-14 00:37] arrowrowe commented on #78
[libui](https://github.com/andlabs/libui): a portable GUI library for C.

And its [Node bindings](https://github.com/parro-it/libui-node).

[2016-06-14 00:41] arrowrowe commented on #78
[Git 2.9 has been released](https://github.com/blog/2188-git-2-9-has-been-released)

[2016-06-14 06:59] at15 commented on #78
@arrowrowe why use libui when we have electron ....

[2016-06-14 12:15] daniyuu commented on #78
http://tkchushbm.github.io/Game-Programming-Patterns-CN/  game

[2016-06-15 00:35] arrowrowe commented on #78
[Wit](https://wit.ai/) ([GitHub](https://github.com/wit-ai)), natural language for developers.

[2016-06-15 00:38] arrowrowe commented on #78
[Baby Steps: Slowly Porting musl to Rust](http://blog.adamperry.me/rust/2016/06/11/baby-steps-porting-musl-to-rust/)

cc @mrmiywj

[2016-06-15 06:59] swaylq commented on #78
啊，这次内容好少

[2016-06-15 07:04] at15 commented on #78
因为没有搬运别人的weekly，搬运工在改论文....

[2016-06-16 09:41] arrowrowe opened #80 "Weekly for 2016/06/22"
2016/06/22, 第八循环第三次, 总第三十八期 -> @arrowrowe

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [ ] @ComMouse
- [ ] @LukeXuan

[2016-06-16 09:42] arrowrowe commented on #78
Please go to #80.

[2016-06-17 16:31] at15 commented on #80
- http://spf13.com/presentation/7-common-mistakes-in-go-2015/
- http://spf13.com/presentation/what-every-open-source-project-needs/

[2016-06-18 03:12] at15 commented on #80
- https://github.com/yargs/yargs cc @arrowrowe a js command line argument parser

[2016-06-18 04:14] at15 commented on #80
- https://github.com/adonovan/gopl.io/ Example programs from "The Go Programming Language" http://www.gopl.io

[交大图书馆](http://ourex.lib.sjtu.edu.cn/primo_library/libweb/action/display.do?tabs=detailsTab&ct=display&fn=search&doc=sjtulibxw000578992&indx=1&recIds=sjtulibxw000578992&recIdxs=0&elementId=0&renderMode=poppedOut&displayMode=full&frbrVersion=&dscnt=0&scp.scps=scope%3A%28SJT%29%2Cscope%3A%2

[2016-06-18 13:56] at15 commented on #80
- https://github.com/Microsoft/checkedc  Checked C is an extension to C that adds static and dynamic checking to detect or prevent common programming errors such as buffer overruns, out-of-bounds memory accesses, and incorrect type casts cc @mrmiywj

[2016-06-18 15:46] at15 commented on #80
- https://github.com/luciotato/golang-notes from stargazer @gaocegege \w/ btw: I also start [learning golang again](https://github.com/at15/go-learning) in order to finish [Ayi](https://github.com/dyweb/Ayi)

[2016-06-19 03:29] at15 commented on #80
- https://github.com/nextcloud/server from stargazer @ComMouse  yet another owncloud?

[2016-06-19 03:29] at15 commented on #80
- https://github.com/mypaint/mypaint MyPaint is a simple drawing and painting program that works well with Wacom-style graphics tablets.

[2016-06-19 05:02] at15 commented on #80
- https://github.com/pengwynn/flint Check your project for common sources of contributor friction. this could be include in [Ayi](https://github.com/dyweb/Ayi)

[2016-06-19 05:03] at15 commented on #80
https://github.com/a1studmuffin/SpaceshipGenerator

![](https://raw.githubusercontent.com/a1studmuffin/SpaceshipGenerator/master/screenshots/step-by-step-animation.gif)

[2016-06-19 06:31] at15 commented on #80
- https://github.com/nayafia/lemonade-stand how to make money when doing opensource projects

[2016-06-19 09:20] at15 commented on #80
- https://github.com/kayhayen/Nuitka

cc @gaocegege

[2016-06-19 12:46] at15 commented on #80
- https://github.com/fed135/Kalm Node socket wrapper and optimizer cc @arrowrowe

Multiplexing 啥意思来着?.....

[2016-06-19 14:49] at15 commented on #80
- https://github.com/fbsamples/f8app Source code of the official F8 app of 2016, powered by React Native and other Facebook open source projects  cc @swaylq @daniyuu

[2016-06-20 03:49] at15 commented on #80
- https://github.com/tarek360/InstaCapture Android library to capture screenshot from your app

[2016-06-20 03:53] at15 commented on #80
- http://reactivex.io/
- https://github.com/ReactiveX/RxPHP
- https://github.com/staltz/rxmarbles Interactive diagrams of Rx Observables http://www.rxmarbles.com

看上去好屌.... 有人用过 reactivex 么? @LukeXuan @gaocegege @arrowrowe

不对 .... https://github.com/Reactive-Extensions/RxJS  ng2里用到了 rxjs ....  不过我很好奇 php 里怎么 rx ... 没有扩展php本身没办法异步

btw: 没有 rxgo @gaocegege rxrust @mrmiywj

[2016-06-20 03:54] at15 commented on #80
- https://github.com/yjhjstz/deep-into-node cc @arrowrowe

[2016-06-20 03:55] at15 commented on #80
- https://github.com/joeyespo/grip Preview GitHub Markdown files like Readme locally before committing them. (感觉可以做个 Ayi md .... (md -> master of dota)

[2016-06-20 08:52] at15 commented on #80
- https://developer.jwplayer.com/jw-player/demos/innovation/3d-cube/  the famous jwplayer showcase

and jwplayer is opensource https://github.com/jwplayer/jwplayer cc @ComMouse

[2016-06-20 12:16] at15 commented on #80
- http://masteroverwatch.com/profile/pc/cn/at15-51741/heroes 查看个人的overwatch排名以及各个英雄排名

cc @mrmiywj @laohyx @xsfour  我猜是爬虫爬的, 国内有个 MAX+ 的应用也可以看，我猜是调用别人的或者学别人调用的方法写的

[2016-06-20 14:44] at15 commented on #80
- https://github.com/Ovilia/Hybrid-Frameworks-Tutorial 学姐开的新坑 (btw: 里面配的图不错

[2016-06-20 14:45] at15 commented on #78
@swaylq ?

[2016-06-21 07:07] at15 commented on #80
- https://github.com/corneltek/LazyRecord

btw @ComMouse PHP其实也可以加个 inline 的功能....

[2016-06-21 08:29] at15 commented on #80
- https://github.com/Microsoft/monaco-editor A browser based code editor The Monaco Editor is the code editor that powers VS Code

[2016-06-21 13:08] arrowrowe commented on #80
[Javascript developers, be warned about this crazy JIT bug in V8!](https://www.reddit.com/r/javascript/comments/4oxtgk/javascript_developers_be_warned_about_this_crazy/)

[code]

[2016-06-21 14:30] at15 commented on #80
- https://github.com/prettydiff/prettydiff

[2016-06-21 14:34] at15 commented on #80
- https://obsproject.com/ open source software for live streaming and recording
- https://github.com/jp9000/obs-studio

[2016-06-22 09:55] arrowrowe opened #82 "Weekly for 2016/06/29"
2016/06/29, 第八循环第四次, 总第三十九期 -> @ComMouse

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [ ] @LukeXuan
- [x] @gaocegege

[2016-06-22 09:56] arrowrowe commented on #80
Please go to #82.

[2016-06-22 10:40] arrowrowe commented on #82
[微信自研生产级paxos类库PhxPaxos实现原理介绍](http://mp.weixin.qq.com/s?__biz=MzAwNDY1ODY2OQ==&mid=2649286296&idx=1&sn=a5b493d23f7d61e8d3d6fb054ba81aeb) (GitHub: [tencent-wechat/phxpaxos](https://github.com/tencent-wechat/phxpaxos))

from @at15

[2016-06-22 11:52] arrowrowe commented on #78
Mails sent by @arrowrowe.

[2016-06-22 11:52] #78 closed, assigned to swaylq

[2016-06-22 11:57] arrowrowe commented on #80
Mails sent by @arrowrowe.

[2016-06-22 11:57] #80 closed, assigned to arrowrowe

[2016-06-22 12:43] at15 commented on #82
- http://lgtm.in/

LGTM! cc @gaocegege @mrmiywj   I guess that's where @arrowrowe get his images.

[2016-06-22 12:44] arrowrowe commented on #82
re @at15 don't guess :smiley: i got mine from twitter.

[2016-06-23 01:20] arrowrowe commented on #82
[GitHub File Icon](https://github.com/chadluo/github-file-icon)

![preview](https://cloud.githubusercontent.com/assets/4508882/16288961/c02c083a-3923-11e6-8735-cbc795ac6cb1.png)

[2016-06-23 13:32] at15 commented on #82
- https://github.com/HelloZeroNet/ZeroNet Decentralized websites using Bitcoin crypto and BitTorrent network

[2016-06-24 13:05] at15 commented on #82
- https://github.com/sorrycc/dva 给repo名字点赞

[2016-06-25 05:49] at15 commented on #82
- https://github.com/parkjs814/AlgorithmVisualizer

[2016-06-25 05:50] at15 commented on #82
- https://github.com/kataras/iris The fastest web framework for Go on Planet Earth http://iris-go.com cc @gaocegege

[2016-06-25 05:51] at15 commented on #82
- https://github.com/vic317yeh/One-Click-to-Be-Pro ....

[2016-06-25 05:52] at15 commented on #82
- https://github.com/chmln/flatpickr lightweight, powerful datetimepicker. zero dependencies https://chmln.github.io/flatpickr

[2016-06-25 05:54] at15 commented on #82
- https://education.github.com/experts GitHub 校园大使 from @arrowrowe  cc @gaocegege @ComMouse

[2016-06-25 08:14] ComMouse commented on #82
[TellForm](https://github.com/whitef0x0/tellform) Free Opensource Alternative to TypeForm or Google Forms

[2016-06-25 09:51] at15 commented on #82
@arrowrowe have a look at tellfrom, as the author of tqform .....

[2016-06-25 13:27] arrowrowe commented on #82
[如何部署软件 - 让你团队的部署像地狱一样无聊且毫无压力](https://blog.coding.net/blog/deploying-software)

[2016-06-25 13:28] arrowrowe commented on #82
re @at15 tqForm was built when I was still young and innocent.........

[2016-06-25 16:03] at15 commented on #82
@arrowrowe when I was young, I listen to the radio, waiting for my favorite bug, every `CRLF`, every  `console.log`, so fun (后面忘词了......

[2016-06-26 05:12] arrowrowe commented on #82
[Open Syllabus Explorer](http://explorer.opensyllabusproject.org/): Mapping the college curriculum across 1M+ syllabi.

[2016-06-26 13:58] at15 commented on #82
- http://www.forestadmin.com/

[2016-06-26 16:56] at15 commented on #82
- https://github.com/skywind3000/kcp KCP - A Fast and Reliable ARQ Protocol

[2016-06-27 02:33] gaocegege commented on #82
https://github.com/Emilio66/CSDI
软院研究生课程CSDI的考点

[2016-06-27 02:35] gaocegege commented on #63
[![LGTM](http://lgtm.in/p/48dSji0Ln)](http://lgtm.in/i/48dSji0Ln)

[2016-06-27 04:31] gaocegege commented on #82
https://github.com/guarinogabriel/mac-cli
The ultimate tool to manage your Mac. It provides a huge set of command line commands that automatize the usage of your OS X system.

[2016-06-27 04:34] at15 commented on #82
@arrowrowe mac-cli is similar to Ayi (except Ayi is not working ....)

[2016-06-27 04:35] gaocegege commented on #82
少吸毒，多填坑

[2016-06-27 04:36] mrmiywj commented on #82
感觉像在和我说话

[2016-06-27 04:38] gaocegege commented on #82
hhhhhhh
是说给所有人听的，尤其是 @at15

[2016-06-27 05:02] at15 commented on #82
@gaocegege 反弹

[2016-06-27 05:40] at15 commented on #82
- https://github.com/nylas/sync-engine the imap sync engine used by [N1](https://github.com/nylas/N1) I think I am going to use it to backup my sjtu inbox /w\

[2016-06-27 08:34] at15 commented on #82
from https://github.com/zenany/weekly/commit/df11dd1ed2161073ea705d65f262f2cf41185dca
- http://2016.dockercon.com/
- https://codelabs.developers.google.com/pwa-dev-summit  cc @ComMouse @arrowrowe (然而我并没有听说过，看来沉迷overwatch太久了......

- **The Art Of Layout Testing With Galen Framework**
  https://www.smashingmagazine.com/2016/06/the-art-of-layout-testing-with-galen-framework/

- **15 Ways to Write Sel

[2016-06-27 08:48] at15 commented on #82
from https://github.com/zenany/weekly/commit/df11dd1ed2161073ea705d65f262f2cf41185dca continue
- https://ashfurrow.com/blog/5-years-of-ios/  时间线效果不错 cc @arrowrowe 东岳主页....

**WeFlow**
- https://github.com/weixin/WeFlow
- https://weflow.io/

**如何 10 倍提高你的 Webpack 构建效率**
http://eternalsky.me/ru-he-10-bei-ti-gao-ni-de-webpack-gou-jian-xiao-lu/

- http://textillate.js.org/ 文字动画效果，其实适合跟 reveal.js 一起用来做

[2016-06-28 03:40] swaylq commented on #82
webpack 这篇好评

[2016-06-28 09:36] at15 commented on #82
- https://github.com/ThinkDevelopers/PHPConChina  cc @ComMouse
- https://github.com/youzan/zan 基于 swoole 的 framework
- https://github.com/ThinkDevelopers/PHPConChina/blob/master/PHPCON2016/PHP%E5%9C%A8%E9%87%91%E8%9E%8D%E8%82%A1%E7%A5%A8%E9%A1%B9%E7%9B%AE%E4%B8%AD%E7%9A%84%E5%BA%94%E7%94%A8--%E8%B6%85%E7%BE%A4%40PHPCon2016.pdf 股票交易 人大附近 cc @mingo-x

[2016-06-28 12:32] arrowrowe commented on #82
@at15 是 @mingo-x

[2016-06-28 13:04] at15 commented on #82
@arrowrowe fixed, thx.

[2016-06-28 15:08] at15 commented on #82
- https://github.com/cloudfoundry/uaa an opensource oauth2 server in java cc @ComMouse @gaocegege

see https://www.cloudfoundry.org/learn/features/ for more about their open source projects

[2016-06-28 15:10] at15 commented on #82
- https://github.com/cloudfoundry/gosigar

Don't know if it got any support for windows.

PS: how to use different code for different platform at compile time

Use build constraints, the simplest way is filename based, ie `sigar_windows.go`
- http://techblog.steelseries.com/2014/04/08/multi-platform-development-go.html

[2016-06-29 01:11] at15 commented on #82
- https://github.com/serverless/serverless  cc @gaocegege @ComMouse

[2016-06-29 15:19] ComMouse opened #84 "Weekly for 2016/07/06"
2016/07/06, 第八循环第五次, 总第四十期 -> @LukeXuan （由 @at15 代理）

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [ ] @LukeXuan

[2016-06-29 15:19] ComMouse commented on #82
Weekly locked, please go to #84

[2016-06-30 00:25] arrowrowe commented on #84
[Making open source data more available](https://github.com/blog/2201-making-open-source-data-more-available)

[2016-07-01 06:11] at15 commented on #84
- https://github.com/alibaba/weex A framework for building Mobile cross-platform UI http://alibaba.github.io/weex cc @arrowrowe @ComMouse

[2016-07-01 08:20] at15 commented on #84
- http://archiveteam.org/index.php?title=Main_Page 一个archive各种网站的组织,,,,(虽然愿景很美好，但是看提交的代码感觉很混乱.....

[2016-07-01 11:12] at15 commented on #84
- https://github.com/zenozeng/Free-Chinese-Fonts

[2016-07-01 11:50] at15 commented on #84
- https://count.ly

[2016-07-01 11:54] at15 commented on #84
- https://github.com/zhenyangze/uafred cc @arrowrowe @kdplus  afred on ubuntu(use electron)

[2016-07-01 16:51] at15 commented on #84
- https://github.com/rinvex/repository cc @ComMouse

[2016-07-02 04:14] ComMouse commented on #84
@at15 We have created that wheel long long ago.....

[2016-07-02 12:02] at15 commented on #84
@ComMouse yeah ..... Mr.Wheel

[2016-07-02 12:03] at15 commented on #84
- https://github.com/mateogianolio/ocr  cc @arrowrowe @sxjscience

[2016-07-02 12:40] arrowrowe commented on #84
[GitHub 徽章整理](http://blog.jobbole.com/103096/)
- [Shields.io](http://shields.io/)
- [Open Source & Licences Badges](https://github.com/ellerbrock/open-source-badges)
- More at [boennemann/badges](https://github.com/boennemann/badges)......

[2016-07-03 13:38] at15 commented on #84
tongqu4.6.3 Support wechat login \w/

Update
- tongqu crashed ...

[2016-07-05 14:55] at15 commented on #82
@ComMouse ?

[2016-07-06 04:46] ComMouse commented on #82
:joy:

[2016-07-06 05:51] at15 commented on #84
Migrate your sjtu inbox to alumni https://github.com/at15/sjtu-inbox-backup/issues/4

cc @mingo-x @组花 @振动

[2016-07-06 06:02] at15 commented on #84
-https://github.com/leancloud/slim-getting-started leancloud 支持 PHP 了, 以后软工作业可以不用买服务器了.....

cc @kdplus @Bluemit @mingzz

[2016-07-07 01:45] ComMouse commented on #84
http://spring.cndocs.tk/ Spring 4.1 中文文档
https://linesh.gitbooks.io/spring-mvc-documentation-linesh-translation/content/ Spring 4.2 文档 MVC 部分的翻译

[2016-07-07 11:17] at15 commented on #84
- https://github.com/leanote/leanote

cc @arrowrowe @gaocegege @ComMouse though it use revel as web framework (which is considered as bad practice now)

and it has iOS client @xplorld

[2016-07-08 04:18] arrowrowe opened #85 "Weekly for 2016/07/13"
2016/07/13, 第九循环第一次, 总第四十一期 -> @at15

投稿:
- [x] @at15
- [x] @swaylq
- [x] @arrowrowe
- [ ] @ComMouse
- [ ] @LukeXuan

[2016-07-08 04:18] arrowrowe commented on #84
Weekly locked. Please post to #85.

[2016-07-08 04:34] at15 commented on #85
历史的车轮又一次滚到了我....

[2016-07-08 04:46] at15 commented on #85
- http://devs.cloudimmunity.com/gotchas-and-common-mistakes-in-go-golang/

[2016-07-08 04:48] at15 commented on #85
Run other language in go
- https://github.com/robertkrimen/otto javascript
- https://github.com/deuill/go-php php

[2016-07-08 04:54] arrowrowe commented on #85
[Go Terminal](http://rungoterminal.com/), Elegant and efficient Linux terminal.

[2016-07-08 04:55] arrowrowe commented on #85
[Your Google Activity](https://myactivity.google.com/myactivity)

[2016-07-08 04:57] arrowrowe commented on #85
[You Don't Need JavaScript](https://github.com/NamPNQ/You-Dont-Need-Javascript)

[2016-07-08 05:00] arrowrowe commented on #85
[Living, in Limbo](http://hintjens.com/blog:121)

往期回顾: Weekly/31 [Special Topic: A Protocol for Dying](https://github.com/dyweb/web-stuff/blob/master/weekly/2016/0504.md#special-topic-a-protocol-for-dying)

cc @mrmiywj

[2016-07-08 05:04] arrowrowe commented on #85
[Ruma](https://www.ruma.io/) (GitHub: [ruma](https://github.com/ruma)), a Matrix homeserver written in Rust.

cc @mrmiywj

[2016-07-08 06:32] at15 commented on #85
- http://kanban.leanlabs.io/ a much better (look) kanboard for gitlab ( I have installed one last winter vacation and no one used it but me .....)

cc @ComMouse

[2016-07-08 09:50] arrowrowe commented on #85
[GoDS (Go Data Structures)](https://github.com/emirpasic/gods)

[2016-07-08 09:59] arrowrowe commented on #85
[adnanh/webhook](https://github.com/adnanh/webhook), a lightweight configurable tool written in Go, that allows you to easily create HTTP endpoints (hooks) on your server, which you can use to execute configured commands.

[2016-07-08 10:02] arrowrowe commented on #85
[Dynamic Image Resizing with Go](http://parellagram.com/posts/carving) (GitHub: [aaparella/carve](https://github.com/aaparella/carve))

[2016-07-09 02:42] arrowrowe commented on #85
[VarCI](https://var.ci/), The Missing Assistant For GitHub Issues.

[2016-07-09 04:55] arrowrowe commented on #85
[Gitamin](http://gitamin.com) (GitHub: [GitaminHQ/Gitamin](https://github.com/GitaminHQ/Gitamin)), an open-source, self-hosted git repository management software based on the Laravel PHP Framework.

[2016-07-09 11:31] swaylq commented on #85
- [eslint-v3.0.0-released](http://eslint.org/blog/2016/07/eslint-v3.0.0-released)

### History
- [Weekly 第二十期](https://github.com/dyweb/web-stuff/blob/33e4a8cb61705210d4a127678a323725ca24f0cd/weekly/2016/0217.md)

[2016-07-10 02:44] arrowrowe commented on #82
Mails sent by @arrowrowe.

[2016-07-10 02:44] #82 closed, assigned to ComMouse

[2016-07-11 06:23] swaylq commented on #85
- [trackjs](https://davidwalsh.name/trackjs) JavaScript Error Monitoring.

[2016-07-11 10:34] arrowrowe commented on #85
re @swaylq did u see this? -> [TrackJS Pricing](https://trackjs.com/pricing/)

[2016-07-11 17:51] swaylq commented on #85
re @arrowrowe , just see it.

[2016-07-12 09:17] at15 commented on #84
@LukeXuan ?

[2016-07-12 09:19] at15 commented on #85
- https://github.com/thunlp/THULAC THULAC：一个高效的中文词法分析工具包 from THU

(e ... not actively developed ....

[2016-07-12 11:28] at15 commented on #85
- https://github.com/lgtmco/lgtm cc @arrowrowe @gaocegege we can try this on weekly

[2016-07-12 11:29] at15 commented on #85
- https://github.com/go-playground/validator Go Struct and Field validation, including Cross Field, Cross Struct, Map, Slice and Array diving

[2016-07-13 04:13] at15 commented on #85
- https://www.ventureharbour.com/transactional-email-service-best-mandrill-vs-sendgrid-vs-mailjet/

compare between mail services

[2016-07-13 11:02] at15 commented on #85
- https://github.com/Microsoft/malmo  Project Malmo is a platform for Artificial Intelligence experimentation and research built on top of Minecraft. We aim to inspire a new generation of research into challenging new problems presented by this unique environment

cc @arrowrowe @gaocegege @LukeXuan

[2016-07-13 11:03] at15 commented on #85
- https://github.com/awslabs/chalice Python Serverless Microframework for AWS using AWS Lambda

there seems to be one serverless framework in golang or nodejs I saw it recently, but forgot what it is @gaocegege @arrowrowe

btw: is there any opensource implementation for aws lambda ?
- https://github.com/siscia/effe A simple open source implementation of AWS Lambda
- https://news.ycombinator.com/it

[2016-07-13 11:05] at15 commented on #85
- https://github.com/vmware/harbor stared by @gaocegege , saw caicloud in partner ....

[2016-07-13 11:10] at15 opened #87 "Weekly for 2016/07/20"
2016/07/20, 第九循环第二次, 总第四十二期 -> @swaylq

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [ ] @LukeXuan

[2016-07-13 11:11] at15 commented on #85
please go https://github.com/dyweb/web-stuff/issues/87

[2016-07-13 15:02] at15 commented on #87
- http://wercker.com/ Automate your development. Move faster with pipelines and steps. cc @gaocegege

[2016-07-13 15:05] at15 commented on #87
All about search
- https://github.com/sampson-chen/sack s(hortcut)-ack: a faster way to use ag, ack (or grep)!
- https://github.com/ggreer/the_silver_searcher
- https://github.com/monochromegane/the_platinum_searcher
- http://beyondgrep.com/more-tools/

[2016-07-13 15:31] at15 commented on #87
P2P file sharing
- https://github.com/mafintosh/hyperdrive
- https://github.com/mafintosh/hypercore
- https://github.com/datproject/docs/blob/master/hyperdrive.md

[2016-07-14 02:13] at15 commented on #87
Rich text editor
- https://github.com/ianstormtaylor/slate A completely customizable framework for building rich text editors in the browser.

[2016-07-17 08:54] arrowrowe commented on #87
[PLY (Python Lex-Yacc)](http://www.dabeaz.com/ply/)

[2016-07-18 07:50] at15 commented on #85
生病了..... 可能要多跳票一阵了.... /w\

[2016-07-20 12:42] ComMouse commented on #87
周报史无前例的一幕==

[2016-07-20 12:44] ComMouse commented on #87
[Gitamin](http://gitamin.com/) An open-source, self-hosted git repository management software based on the Laravel PHP Framework.

![Screenshot](http://www.gitamin.com/screenshot1.png)

[2016-07-21 02:01] gaocegege commented on #87
Pokemon-Go专题
- [PokemonGoMove](https://github.com/huacnlee/PokemonGoMove) Pokemon GO iOS GPS Emulator - NO Jailbreak needed, lets you play the game on your Mac :)
- [PokemonGo-Finder](https://github.com/jxmorris12/PokemonGo-Finder) 发现周围的Pokemon并通知
- [PokemonGo-DesktopMap](https://github.com/mchristopher/PokemonGo-DesktopMap) Electron App around PokemonGo-Map
- [pokemongo-webspoof](https://github.c

[2016-07-21 02:09] gaocegege commented on #87
re @at15 http://wercker.com/ 不好用

[2016-07-21 03:33] gaocegege commented on #87
https://github.com/go-gomail/gomail
用golang连接smtp服务器发邮件的lib

[2016-07-21 05:30] at15 commented on #87
@ComMouse git 那个之前我有投过

[2016-07-21 08:12] gaocegege commented on #87
https://github.com/fzaninotto/Faker
Faker is a PHP library that generates fake data for you
很管用啊感觉

[2016-07-21 08:59] at15 commented on #87
@gaocegege ..... 你怎么想起了世界上最好的语言

[2016-07-21 10:30] at15 commented on #87
- https://unsplash.com/ Free (do whatever you want) high-resolution photos. For 10 new photos every 10 days
- it has API https://unsplash.com/developers

cc @arrowrowe

[2016-07-21 16:22] at15 commented on #87
- https://github.com/yhatt/marp electron based markdown editor (pre maker?)

作者头像很萌 https://github.com/yhatt

[2016-07-22 01:35] arrowrowe opened #88 "Weekly for 2016/07/27"
2016/07/27, 第九循环第三次, 总第四十三期 -> @arrowrowe (由 @at15 代理)

投稿:
- [x] @at15
- [ ] @swaylq
- [ ] @arrowrowe
- [x] @ComMouse
- [ ] @LukeXuan
- [x] @JasonQSY

[2016-07-22 01:35] arrowrowe commented on #87
Please go #88.

[2016-07-22 13:38] ComMouse commented on #87
@swaylq

[2016-07-24 03:38] at15 commented on #88
Pokemon Go
- https://github.com/AeonLucid/POGOProtos
- https://github.com/jaspervdm/pogoprotos-php
- https://github.com/jaspervdm/pogoapi-php

[2016-07-24 03:41] at15 commented on #88
Manga
- https://github.com/mzp/EagleJumpSystem yonkoma manga management system
- https://github.com/mzp/zoi-grep grep for EagleJumpSystem

author https://github.com/mzp

cc @arrowrowe @daniyuu

[2016-07-24 03:44] at15 commented on #88
Category Theory for the Sciences
- https://github.com/mmai/Category-Theory-for-the-Sciences ebook versions of the book "Category Theory for the Sciences" by David I. Spivak
- http://category-theory.mitpress.mit.edu/

@sxjscience 施大师有看过这书么? 0.0

[2016-07-24 03:49] sxjscience commented on #88
@at15 米有

[2016-07-24 11:24] at15 commented on #88
OpenCloudMeshOpenCloudMesh (share between private clouds)

https://wiki.geant.org/display/OCM/Open+Cloud+Mesh

Another ownCloud https://pydio.com/
- https://github.com/pydio/pydio-core

[2016-07-24 14:24] ComMouse commented on #88
[IntelliJ IDEA 简体中文专题教程](http://wiki.jikexueyuan.com/project/intellij-idea-tutorial/)

感觉不错的样子

[2016-07-24 14:25] ComMouse commented on #88
[CRYENGINE source code](https://github.com/CRYTEK-CRYENGINE/CRYENGINE)

CRYENGINE 的代码仓库，不过提交方式有点怪？

[2016-07-24 14:30] at15 commented on #88
@ComMouse they use perforce https://www.perforce.com/perforce/doc.current/manuals/git-fusion/
gitfusion is mentioned in commit. Also perforce has a fork for gitlab called gitswarm

[2016-07-24 16:23] at15 commented on #88
- https://about.gitlab.com/handbook/ cc @arrowrowe @ComMouse

[2016-07-24 16:25] at15 commented on #88
- http://blog.mrriddler.com/2016/07/20/%E5%9B%BE%E7%89%87%E4%B9%8B%E6%97%85/  介绍了各种图片格式 cc @组花

[2016-07-24 16:26] at15 commented on #88
- http://martinfowler.com/articles/serverless.html

[2016-07-25 01:05] at15 commented on #88
WebGL interactive film cc @ComMouse
- http://www.ro.me/
- https://github.com/dataarts/3-dreams-of-black

[2016-07-25 03:53] #85 closed, assigned to at15

[2016-07-25 03:56] arrowrowe commented on #85
Mails sent by @arrowrowe.

[2016-07-25 13:08] at15 commented on #88
- https://github.com/shekhargulati/99-problems cc @arrowrowe

[2016-07-25 13:10] at15 commented on #88
- https://github.com/FallibleInc/security-guide-for-developers cc @ComMouse

[2016-07-26 00:29] at15 commented on #88
Druid: Column oriented distributed data store ideal for powering interactive applications http://druid.io
- https://github.com/druid-io/druid
- Paper: http://static.druid.io/docs/druid.pdf
- Ref-1, Column vs Row Speed http://db.csail.mit.edu/projects/cstore/abadi-sigmod08.pdf

[2016-07-26 05:37] at15 commented on #88
http://www.red-lang.org/
- https://github.com/red/red

cc @mrmiywj

看example全是win下写gui ....

[2016-07-26 05:54] at15 commented on #88
- https://github.com/J2TeaM/awesome-AutoIt 缅怀一下来东岳以前最常用的语言 Autoit.

[2016-07-26 10:26] JasonQSY commented on #88
- Clion 2016.2 has added support for remote gdb debug. https://blog.jetbrains.com/clion/2016/07/clion-2016-2-released/

[2016-07-26 12:36] ComMouse commented on #88
[Maze Generation: Algorithm Recap](http://weblog.jamisbuck.org/2011/2/7/maze-generation-algorithm-recap)

介绍了一些迷宫生成算法

[2016-07-26 16:13] at15 commented on #88
@ComMouse 你最近是在做游戏么?

[2016-07-26 16:13] at15 commented on #88
- https://github.com/kennethreitz/em the cli emoji keyboard cc @arrowrowe

[2016-07-27 02:31] at15 commented on #88
- https://github.com/jgthms/web-design-in-4-minutes
- http://marksheet.io/ A free HTML & CSS tutorial
- https://github.com/jgthms/bulma Modern CSS framework based on Flexbox

[2016-07-27 02:59] ComMouse commented on #88
@at15 并没有。。只是到处乱逛

[2016-07-27 03:03] at15 commented on #88
@ComMouse .... btw: 豆怎么不换个头像

[2016-07-27 03:05] gaocegege commented on #88
真正的勇士，从不换头像

[2016-07-27 03:12] at15 commented on #88
@gaocegege 成天换头像的策策.....

[2016-07-27 03:15] gaocegege commented on #88
https://github.com/kennethreitz/em
the cli emoji keyboard™
![](https://camo.githubusercontent.com/2c048baf2dfde25643451fe33877706b7188ccea/687474703a2f2f662e636c2e6c792f6974656d732f30503365313132303157316f3432304f314e31532f53637265656e25323053686f74253230323031362d30372d32352532306174253230322e30302e3332253230414d2e706e67)

[2016-07-27 04:01] gaocegege commented on #88
[Comparison of Container Schedulers](https://medium.com/@ArmandGrillet/comparison-of-container-schedulers-c427f4f7421?from=timeline&isappinstalled=0#.p4wyajgqw)
比较调度器的文章，不止限于容器

[2016-07-27 04:05] at15 commented on #88
@gaocegege ....我前面已经写过 em 了 .... /w\

[2016-07-27 04:08] gaocegege commented on #88
/w\

[2016-07-27 11:45] arrowrowe opened #90 "Weekly for 2016/08/03"
2016/08/03, 第九循环第四次, 总第四十四期 -> @ComMouse

投稿:
- [x] @at15
- [ ] @swaylq
- [ ] @arrowrowe
- [ ] @ComMouse
- [ ] @LukeXuan
- [x] @gaocegege

[2016-07-27 11:45] arrowrowe commented on #88
Issue locked. Please go to #90.

[2016-07-28 02:53] at15 commented on #90
- https://github.com/hemanth/functional-programming-jargon

cc @gaocegege @mrmiywj

[2016-07-28 02:54] at15 commented on #90
- https://github.com/scottsun94/portfolio  Portfolio for @scottsun94  \w/

pronunciation: port-fo-lio from @mingo-x

[2016-07-28 08:59] ComMouse commented on #84
......What about the weekly? @LukeXuan

[2016-07-29 01:17] gaocegege commented on #90
https://github.com/gabrielbull/react-desktop
React UI Components for macOS Sierra and Windows 10.

我也不知道我为什么在看这种库=-=

[2016-07-29 06:47] ComMouse commented on #90
JS 全平台制霸系列。。总感觉跟当年的 Flash 莫名相似。。

[2016-07-31 07:41] ComMouse commented on #88
@arrowrowe

[2016-07-31 12:33] at15 commented on #90
- https://github.com/yssy 饮水思源的 org .... 虽然貌似并没有什么 active 的 repo 了

[2016-08-01 06:31] gaocegege commented on #90
https://asciinema.org/
Record and share your terminal sessions, the right way.

https://asciinema.org/a/81546

好酷炫

[2016-08-02 04:25] arrowrowe commented on #88
待我从生死线回来......

[2016-08-02 12:43] at15 commented on #88
@arrowrowe patpat

[2016-08-02 12:51] at15 commented on #90
- https://github.com/bigbully/Dapper-translation stared by @gaocegege

the original paper can  also be found [here](http://research.google.com/pubs/pub36356.html)

btw: why are you looking at this paper? @gaocegege

[2016-08-02 13:28] gaocegege commented on #90
因为同学在做这个方面的事情

[2016-08-02 13:42] at15 commented on #90
- https://github.com/amitkaps/hackermath  Introduction to Statistics and Basics of Mathematics for Data Science - The Hacker's Way

[2016-08-02 14:09] gaocegege commented on #90
https://github.com/Microsoft/BashOnWindows

Microsoft ❤️ Linux
Microsoft ❤️ Docker
Microsoft ❤️ Open Source
Microsoft ❤️ ...

好好好，你什么都爱

[2016-08-03 09:23] at15 commented on #90
- https://github.com/attic-labs/noms The versioned, forkable, syncable database

kind of use git as database .....  it has two implementation, one is js @arrowrowe

[2016-08-03 09:32] at15 commented on #90
- https://github.com/yoshuawuyts/choo  sturdy frontend framework (sturdy 强健的；坚固的；坚决的)
- [Compare choo with other frameworks](https://github.com/yoshuawuyts/choo#how-does-choo-compare-to-x)

The author ignored the fact that the size of the community is more important than both his personal flavor and the design of the framework itself

[2016-08-03 09:39] at15 commented on #90
Continuous Delivery projects stared by @gaocegege
- https://github.com/gocd/gocd GoCD helps you automate and streamline the build-test-release cycle for worry-free, continuous delivery of your product. Use java and spring framework cc @ComMouse
- https://github.com/spinnaker/spinnaker Spinnaker is an open source, multi-cloud continuous delivery platform for releasing software changes with high vel

[2016-08-03 11:30] at15 commented on #90
- https://github.com/Droogans/unmaintainable-code  cc @gaocegege @kdplus

[2016-08-03 11:37] at15 commented on #90
- https://libraries.io/github/gaocegege  Libraries helps you find new open source libraries, modules and frameworks and keep track of ones you depend upon.

[2016-08-03 12:05] at15 commented on #90
- https://sketchfab.com/

Sketchfab is the leading platform to publish and find 3D and VR content, anywhere online. We are building for 3D content what YouTube did for video: we provide the best 3D player and are the fastest growing 3D and VR repository. Sketchfab integrates with all major 3D creation tools and publishing platforms, and is the 3D publishing partner of Adobe Photoshop, Facebook, Mi

[2016-08-03 15:57] ComMouse opened #93 "Weekly for 2016/08/10"
2016/08/10, 第九循环第五次, 总第四十五期 -> @LukeXuan (由 @arrowrowe 代理)

投稿:
- [x] @at15
- [ ] @swaylq
- [ ] @arrowrowe
- [x] @ComMouse
- [ ] @LukeXuan
- [x] @gaocegege

[2016-08-03 15:58] ComMouse commented on #90
Weekly locked, please go to #93

[2016-08-04 01:45] at15 commented on #93
- https://github.com/vhf/free-programming-books  I guess this might be included in previous weeklys

[2016-08-04 01:49] at15 commented on #93
- https://github.com/sourcegraph/checkup Distributed, lock-free, self-hosted health checks and status pages cc @ComMouse

[2016-08-04 02:33] gaocegege commented on #93
http://stackshare.io/
Discover and discuss the best software tools and services
很有意思

[2016-08-04 02:34] at15 commented on #93
@gaocegege 注册过....感觉没啥意思...偶尔收到邮件才想起来它.......

[2016-08-04 02:35] at15 commented on #93
- https://github.com/BrotherJing/LeomaLite an android hybrid framework

btw: @BrotherJing ... 放假安卓组什么都没干啊.....

[2016-08-04 02:50] gaocegege commented on #93
看看别人的stack还挺有收获的

[2016-08-04 05:07] at15 commented on #93
- https://github.com/github/gh-ost stared by @gaocegege  cc @ComMouse

GitHub's Online Schema Change for MySQL

[2016-08-04 05:08] gaocegege commented on #93
https://github.com/derekparker/delve
A debugger for the Go programming language.

[2016-08-04 10:13] gaocegege commented on #93
https://github.com/plotly/plotly.js
从[Interactive 3D Clusters of all 721 Pokémon Using Spark and Plotly](http://minimaxir.com/2016/08/pokemon-3d/)听说的图形库

[2016-08-04 12:03] at15 commented on #93
- http://docs.basho.com/ a company that provide distributed storage. Users include game companies like [LOL](http://basho.com/posts/business/pokemon-go-stop-go-you-need-basho/).  Erlang is used as major language.
- https://github.com/basho/riak Riak is a decentralized datastore from Basho Technologies

[2016-08-05 02:44] at15 commented on #93
- https://www.mindsumo.com/challenges Gain experience and prove your skills by solving challenges from Google, McKinsey, Facebook, and hundreds more.

cc @ComMouse @arrowrowe @gaocegege @septjew

[2016-08-05 07:42] at15 commented on #93
- https://github.com/jp9000/obs-studiob Free, open source software for live streaming and recording

cc @arrowrowe @gaocegege @ComMouse have a try? for dy course.

[2016-08-05 08:57] at15 commented on #84
@arrowrowe the mail, thx

[2016-08-05 09:12] at15 commented on #93
- https://github.com/php-ai/php-ml the best language on earth \w/ cc @gaocegege \w

[2016-08-05 16:37] at15 commented on #93
- https://github.com/Khan/KaTeX Fast math typesetting for the web cc @arrowrowe
- https://github.com/GitbookIO/plugin-katex also have a plugin for gitbook

[2016-08-06 08:36] gaocegege commented on #93
https://github.com/facebookresearch/fastText
Library for fast text representation and classification.
Trending 第一

[2016-08-06 09:06] arrowrowe commented on #84
Mails sent by @arrowrowe.

[2016-08-06 09:06] #84 closed, assigned to at15

[2016-08-06 09:08] arrowrowe commented on #87
Mails sent by @arrowrowe.

[2016-08-06 09:08] #87 closed, assigned to swaylq

[2016-08-07 02:02] gaocegege commented on #93
https://github.com/samshadwell/TrumpScript
TrumpScript is a language based upon the illustrious Donald Trump.

## Features

Our language includes several convenient features, perfect for any aspiring Presidential candidate including:
- No floating point numbers, only integers. America never does anything halfway.
- All numbers must be strictly greater than 1 million. The small stuff is inconsequen

[2016-08-07 13:17] at15 commented on #93
- https://legends.bethesda.net/?locale=en

上古卷轴卡牌游戏.... 官网链接一堆404 .... 真 BETA

[2016-08-08 04:47] at15 commented on #88
@arrowrowe miege?

[2016-08-08 12:07] at15 commented on #93
- https://github.com/jaehyunp/stanfordacm cc @LukeXuan @kdplus (不过 luke is luge, 丘是废丘....)

[2016-08-08 17:03] ComMouse commented on #93
[OpenGL Step by Step](http://ogldev.atspace.co.uk/) based on OpenGL 3.x and 4.x

[2016-08-09 08:37] at15 commented on #93
- https://www.pixelapse.com/ Visual version control and collaboration workflow for open source and private design projects. Built for individuals, trusted by agencies.

**But**

cc @scottsun94

Related news
- http://venturebeat.com/2015/03/11/dropboxs-acquisition-of-pixelapse-is-not-enough-to-save-competitor-layervault-from-closing/

Related projects
- https://github.com/layervault/psd.rb parse ps

[2016-08-09 08:46] at15 commented on #93
阿里准备开源自己的 MySQL fork http://digi.163.com/16/0809/15/BU1MLDVU00162OUT.htmlPixelapse

google alisql 没啥结果 ....
- https://www.percona.com/live/data-performance-conference-2016/sessions/whats-new-alisql-alibabas-branch-mysql 主讲是从百度跳槽到阿里的....

[2016-08-10 01:28] at15 commented on #93
- https://github.com/mrmiywj/rust_jvm from @mrmiywj  伊万就是这么叼

[2016-08-10 04:38] at15 commented on #93
- https://github.com/biokoda/actordb with the scalability of a KV store, while keeping the query capabilities of a relational database.  using erlang

[2016-08-10 07:16] at15 commented on #93
- https://github.com/harshjv/github-repo-size

[2016-08-11 03:17] at15 opened #95 "Weekly for 2016/08/17"
2016/08/16, 第十循环第一次, 总第四十六期 -> @swaylq

投稿:
- [x] @at15
- [ ] @swaylq
- [ ] @arrowrowe
- [ ] @ComMouse
- [ ] @LukeXuan
- [x] @gaocegege
- [x] @kdplus

[2016-08-11 03:17] at15 commented on #93
please go #95

[2016-08-11 03:19] at15 commented on #95
- https://github.com/kovetskiy/go-fast Compile Go programs 7x faster cc @gaocegege

[2016-08-11 09:05] gaocegege commented on #95
https://www.gitkraken.com/
Yet another Git GUI Client

[2016-08-11 10:15] at15 commented on #95
- https://github.com/chongyi/swoole-laravel-framework cc @ComMouse

[2016-08-13 03:40] at15 commented on #95
- https://github.com/tuna/fishroom Message forwarding for multiple IM protocols

[2016-08-13 06:41] arrowrowe commented on #90
Mails sent by @arrowrowe.

[2016-08-13 06:41] #90 closed, assigned to ComMouse

[2016-08-13 11:55] ComMouse commented on #93
@LukeXuan

[2016-08-13 12:20] at15 commented on #93
luke 可以改名 lukegege 了 /w\

[2016-08-13 13:24] ComMouse commented on #93
乱起名字却自己各种挖坑不填的婶婶==

[2016-08-13 13:58] at15 commented on #93
@ComMouse 我在努力啊....我为了填坑连女朋友都不要了

[2016-08-13 16:29] at15 commented on #95
Word press
- https://github.com/wordplate/wordplate A modern WordPress stack. Don't repeat yourself.
- https://github.com/johnpbloch/wordpress A fork of WordPress with Composer support added. Branches, tags, and trunk synced from upstream every 15 minutes

[2016-08-14 01:55] at15 commented on #95
- https://github.com/fatedier/frp A fast reverse proxy to help you expose a local server behind a NAT or firewall to the internet.

[2016-08-14 02:17] at15 commented on #95
Influxdb
- https://github.com/influxdata/influxdb
- https://github.com/influxdata/telegraf collector
- https://github.com/influxdata/kapacitor  alert

[2016-08-14 02:39] at15 commented on #95
Some blog posts around time series databases
- https://www.vividcortex.com/blog/2015/11/05/nobody-loves-graphite-anymore/    \w
- http://obfuscurity.com/2015/11/Everybody-Loves-Graphite   w/
- http://obfuscurity.com/2013/11/My-Impressions-of-InfluxDB

[2016-08-14 04:07] at15 commented on #95
ng2 + bs4 btw: ng2 material is still e .... hard to use and ugly (in my point of view)
- http://www.strapui.com/themes/ani-angular-2-bootstrap-4-theme/

[2016-08-14 06:26] at15 commented on #95
- https://github.com/leev/ngx_http_geoip2_module

[2016-08-14 12:36] gaocegege commented on #95
https://www.intercom.io/

快速搭建与消费者的沟通平台，这个似乎是第一家，国内的话，有抄袭的，不对，有借鉴的，似乎DaoVoice就有在做。

![2016-08-14 8 35 05](https://cloud.githubusercontent.com/assets/5100735/17649121/acbeeb00-625e-11e6-9416-e4bca1165596.png)

[2016-08-14 12:39] gaocegege commented on #95
[hyper.sh](https://console.hyper.sh/register/invite/Azk1mG3Q4lSbdK1zyDN4h0AAJMykK8cq)

背靠 https://github.com/hyperhq 的云产品，现在注册免费30刀，感觉可以用蛮久。

![2016-08-14 8 38 18](https://cloud.githubusercontent.com/assets/5100735/17649132/13b2ef5a-625f-11e6-85ac-6549affecf5a.png)

[2016-08-14 12:59] gaocegege commented on #95
https://hackfdu.github.io/#/

复旦大学的Hackathon

<del>复旦大学都有Hackathon了</del>

[2016-08-16 06:57] at15 commented on #95
- https://github.com/qieangel2013/zys 基于yaf和swoole的高性能服务框架
- https://github.com/qieangel2013/zqf php扩展 全局变量适用于高并发抢购、秒杀、红包算法、二维码生成

[2016-08-16 07:33] at15 commented on #95
- http://www.pixivision.net/zh/a/1568 【讲座】精选13个帅哥画法 来画眼•口•鼻端正的男性面孔吧 cc @daniyuu

[2016-08-16 07:35] at15 commented on #95
- https://www.youtube.com/channel/UCMUpkNjkglbB-7OKsvOhn8g  cc @kdplus
- http://www.pixivision.net/zh/a/1463

[2016-08-16 10:31] at15 commented on #93
@LukeXuan lukegege \w

[2016-08-16 11:11] at15 commented on #95
- https://redislabs.com/solutions/redis-for-timeseries-data

[2016-08-17 03:20] at15 commented on #95
- https://github.com/sourcegraph/thyme Automatically track which applications you use and for how long.

can be put into ayi

[2016-08-17 09:07] arrowrowe commented on #88
Mails sent by @arrowrowe.

[2016-08-17 09:07] #88 closed, assigned to at15

[2016-08-18 09:14] at15 commented on #95
- https://github.com/MaskRay/wechatircd 用IRC客户端控制微信网页版 https://maskray.me/blog/2016-02-21-wechatircd

[2016-08-18 20:57] kdplus commented on #95
- https://zhuanlan.zhihu.com/p/20870307?refer=intelligentunit 最近在看的课，有翻译真好

[2016-08-19 16:53] at15 commented on #95
- https://github.com/gunthercox/ChatterBot

[2016-08-20 04:38] at15 opened #97 "Weekly for 2016/08/24"
2016/08/24, 第十循环第二次, 总第四十七期 -> @arrowrowe

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [x] @gaocegege
- [ ] @LukeXuan

[2016-08-20 04:38] at15 commented on #95
please go https://github.com/dyweb/web-stuff/issues/97

[2016-08-20 05:27] at15 commented on #97
- https://github.com/callemall/material-ui React Components that Implement Google's Material Design. http://www.material-ui.com

[2016-08-20 09:27] gaocegege commented on #97
# 数据可视化

From University of Illinois at Urbana-Champaign

## Online Data Visualization Websites

<ul><li><a href="http://datahero.com/" target="_blank" rel="noopener nofollow" title="Link: http://datahero.com/">DataHero</a></li><li><a href="http://plot.ly/" target="_blank" rel="noopener nofollow" title="Link: http://plot.ly/">Plotly</a></li><li><a href="http://site.numberpicture.com/" target="_bla

[2016-08-20 21:15] arrowrowe commented on #97
:octocat: [GitHub Extension for Visual Studio 2.0 is now available](https://github.com/blog/2232-github-extension-for-visual-studio-2-0-is-now-available)

[2016-08-21 04:21] arrowrowe commented on #97
:octocat: [Simpler GitHub Pages publishing](https://github.com/blog/2228-simpler-github-pages-publishing)

Pages can take a directory instead of a branch now.

[2016-08-21 05:26] at15 commented on #97
- https://github.com/codeskyblue/webcron  A new crontab that have a web page in order to replace the original crontab

[2016-08-21 09:17] at15 commented on #97
- https://git.market/ A marketplace for buying and selling premium code, powered by Git. cc @gaocegege

[2016-08-21 09:17] at15 commented on #97
- https://github.com/mattboldt/typed.js  A jQuery typing animation script

[2016-08-21 12:37] at15 commented on #97
- https://github.com/Polymer/polymer Build modern apps using web components

[2016-08-22 04:37] at15 commented on #97
- https://github.com/billryan/algorithm-exercise

[2016-08-22 05:30] ComMouse commented on #97
[pangu.js](https://github.com/vinta/pangu.js) 為什麼你們就是不能加個空格呢？

~~我最讨厌这种在English和数字中间不加1个空格的人了~~
我最讨厌这种在 English 和数字中间不加 1 个空格的人了

[2016-08-22 05:35] at15 commented on #97
@ComMouse 这个很久以前就看到过了，感觉似乎有投过，里面有句话很好

[2016-08-22 06:30] swaylq commented on #97
@ComMouse , 我一直都喜欢加

[2016-08-22 07:01] ComMouse commented on #97
[A look at what’s coming to Laravel 5.3](https://laravel-news.com/2016/06/look-whats-coming-laravel-5-3/)

Laravel 5.3 来了~
- Laravel Notifications：整合邮件、短信、Slack
- Laravel Passort：OAuth2 服务器端实现，基于 [League OAuth2 server](https://github.com/thephpleague/oauth2-server)
- Laravel Scout：全文搜索（当前支持 [Algolia](https://www.algolia.com/)）
- Laravel Echo：基于 WebSocket 的事件广播
- Laravel Mailable：全新邮件接口
- 路由拆分为 `ro

[2016-08-22 07:45] at15 commented on #97
@ComMouse 我已经抛弃php了......用laravel还不如用rails呢.....

[2016-08-22 11:35] kdplus commented on #97
@at15 你总算看开了

[2016-08-22 11:36] LukeXuan commented on #97
Symfony明明很好

On Mon, Aug 22, 2016, 7:35 PM Yusn notifications@github.com wrote:

[2016-08-23 04:49] swaylq commented on #97
Laravel, Rails, Django 这些用起来不都差不多么

[2016-08-23 04:50] swaylq commented on #97
推荐一个 https://github.com/feathersjs/feathers

[2016-08-23 10:12] gaocegege commented on #97
https://github.com/bedatadriven/renjin
R on JVM，like jython
要用这个开新坑了

[2016-08-23 15:02] at15 commented on #97
@gaocegege 为什么要欺骗自己

[2016-08-23 15:05] at15 commented on #97
- https://github.com/bcit-ci/CodeIgniter4

CI4 有很多 help wanted 的Issue，不过感觉好像只有一个人在开发..... 以前 CI3 特别活跃那哥好像也没有参与，感觉CI3活跃程度远大于CI4 ..... CI4 确定不是一个人在玩?.....

[2016-08-24 01:27] at15 commented on #97
- https://github.com/Tlaster/ProjectAsahi  Original galgame engine for windows 10 cc @ComMouse
- https://github.com/Tlaster 很多有趣的项目 /w\

[2016-08-24 03:45] swaylq commented on #97
我们把这个项目换个名字叫 Awesome-web, 会不会有很多人来 star

[2016-08-24 07:21] ComMouse opened #99 "Weekly for 2016/08/31"
2016/08/31, 第十循环第三次, 总第四十八期 -> @ComMouse (由 @arrowrowe 代理)

投稿:
- [x] @at15
- [ ] @swaylq
- [ ] @arrowrowe
- [x] @ComMouse
- [ ] @LukeXuan
- [x] @gaocegege

[2016-08-24 07:22] ComMouse commented on #97
Weekly locked. Please go to #99.

[2016-08-24 07:44] at15 commented on #99
- http://blog.daocloud.io/dcosteam0824/ @gaocegege

CaiCloud 资深实习生加入 DaoCLoud /w\

[2016-08-24 10:13] at15 commented on #99
- https://github.com/koding/koding
- https://about.gitlab.com/2016/07/26/koding-and-gitlab-integrated/

Koding is open sourced and integrated with GitLab, maybe we no longer to have course for setting up develop environment? @ComMouse @arrowrowe

[2016-08-25 11:17] at15 commented on #99
- https://archive.org 一个网站页面存档服务，居然有从12年开始的同去 \w/  cc @ComMouse
  我们是不是可以[捐点款](https://archive.org/donate/)，咩老大 @arrowrowe

[2016-08-25 11:19] at15 commented on #99
- https://github.com/pmjones/php-history A list of the years-of-introductions of notable (to me) PHP framework and library projects.

通过这个才知道了 archive.org，phalcon 都3.0了....

[2016-08-25 15:25] ComMouse commented on #99
@at15 Phalcon 3.0 就是 2.1...

[2016-08-25 18:01] at15 commented on #99
@ComMouse 嗯，我看到了，本来想吐槽他们为了semver而semver然后删了.....

[2016-08-26 01:15] at15 commented on #99
- https://github.com/ossrs/go-oryx The go-oryx is SRS++, focus on real-time live streaming cluster.

[2016-08-26 09:49] gaocegege commented on #99
https://github.com/sourcegraph/thyme
Automatically track which applications you use and for how long.

[2016-08-26 10:32] at15 commented on #99
@gaocegege I forgot to put it in weekly when I put it in Ayi's issues.

[2016-08-27 15:38] ComMouse commented on #99
[Laravel 5.3 is now released](https://laravel-news.com/2016/08/laravel-5-3-is-now-released/)

[2016-08-28 06:02] at15 commented on #99
- https://github.com/Postleaf/postleaf starred by @ComMouse Simple, beautiful, open source publishing

[2016-08-28 07:52] at15 commented on #99
- https://thefoundation.com/?splash_disabled=1 start your software business

感觉像交大创业学院................

[2016-08-28 10:36] at15 commented on #99
- https://github.com/greensock/GreenSock-JS Ultra high-performance, professional-grade animation for the modern web  cc @ComMouse

Examples
- http://www.cryptarismission.com/   by us army

[2016-08-28 10:44] at15 commented on #99
- https://github.com/adobe-webplatform/Snap.svg The JavaScript library for modern SVG graphics

[2016-08-28 13:47] at15 commented on #99
- https://github.com/bluejekyll/trust-dns A Rust based DNS server cc @mrmiywj

[2016-08-28 13:48] at15 commented on #93
luge..... @LukeXuan

[2016-08-29 05:33] at15 commented on #99
from https://github.com/zenany/weekly/commit/b0c3de35d7caa5753295cd54a1961d846a9a6a59

**怎样打造一个分布式数据库**
 http://www.infoq.com/cn/articles/how-to-build-a-distributed-database
 对分布式数据库项技术的的介绍挺详细的，可以了解下业界这项关键技术的各种实现方式。
- https://github.com/pingcap/tidb TiDB is a distributed NewSQL database compatible with MySQL protocol
- https://github.com/pingcap/tikv Distributed transactional key value database po

[2016-08-29 09:54] at15 commented on #99
- http://browserhacks.com/ cc @ComMouse

[2016-08-31 00:44] at15 commented on #99
- https://github.com/google/shipshape Shipshape is a static program analysis platform that allows custom analyzers to plug in through a common interface. Shipshape is packaged in a docker image

cc @gaocegege

[2016-08-31 06:03] at15 commented on #99
- https://github.com/overtone/overtone Collaborative Programmable Music http://overtone.github.io
- https://github.com/mopidy/mopidy Mopidy is an extensible music server that plays music from local disk, Spotify, SoundCloud, Google Play Music, and more. You edit the playlist from any phone, tablet, or computer using a range of MPD and web clients

[2016-08-31 06:08] at15 commented on #99
- https://github.com/thejameskyle/itsy-bitsy-data-structures (in js

[2016-08-31 11:52] ComMouse opened #101 "Weekly for 2016/09/07"
2016/09/07, 第十循环第四次, 总第四十九期 -> @LukeXuan

投稿:
- [x] @at15
- [ ] @swaylq
- [ ] @arrowrowe
- [x] @ComMouse
- [ ] @LukeXuan
- [ ] @gaocegege
- [ ] @JasonQSY
- [ ] @kdplus
- [ ] @Bluemit
- [ ] @laohyx

[2016-08-31 11:53] ComMouse commented on #99
Weekly locked. Please go to #101.

[2016-08-31 12:13] at15 commented on #101
.... 好多人 ....

[2016-08-31 12:19] at15 commented on #101
- https://github.com/bloomberg/bucklescript A JavaScript backend for OCaml focused on smooth integration and clean generated code.

[2016-08-31 13:24] at15 commented on #101
- https://github.com/falvaro/seshat Handwritten math expression parser cc @sxjscience

[2016-09-05 17:59] arrowrowe commented on #95
Mails sent by @arrowrowe.

[2016-09-05 17:59] #95 closed, assigned to swaylq

[2016-09-06 03:45] at15 commented on #101
- https://github.com/ericelliott/essential-javascript-links the articles are pretty good @arrowrowe

[2016-09-06 05:22] ComMouse commented on #101
[Scratchapixel](http://www.scratchapixel.com/)

Learn Computer Graphics Programming from Scratch

不懂 CG 的渣渣质量感觉很高，但更新很慢 cc @laohyx

[2016-09-06 05:27] at15 commented on #101
@ComMouse 老贺是做定位的 /w\ ( 我对CG也有兴趣啊，不at我 \w

[2016-09-06 23:08] at15 commented on #101
- https://github.com/opulencephp/Opulence a php framework written in php7 cc @ComMouse

[2016-09-07 07:02] at15 commented on #101
- https://github.com/sylnsfar/qrcode artistic QR Code in Python （Animated GIF qr code）- Python 艺术二维码生成器 （GIF动态二维码、图片二维码） cc @gaocegege

[2016-09-07 13:14] ComMouse opened #102 "Weekly for 2016/09/14"
2016/09/14, 第十一循环第一次, 总第五十期 -> @swaylq

投稿:
- [x] @at15
- [ ] @swaylq
- [ ] @arrowrowe
- [ ] @ComMouse
- [ ] @LukeXuan
- [ ] @gaocegege
- [ ] @JasonQSY
- [x] @sxjscience

[2016-09-07 13:14] ComMouse commented on #101
Weekly locked. Please go to #102.

[2016-09-07 19:56] at15 commented on #102
- https://coq.inria.fr/

[2016-09-08 07:17] at15 commented on #102
- https://www.surveygizmo.com/ the survey ~~software~~ service that my current school (UCSC) is using. cc @ComMouse @arrowrowe

[2016-09-08 16:56] at15 commented on #102
- https://mhacks.org/  cc @LukeXuan

[2016-09-09 05:00] at15 commented on #102
- https://github.com/tgalopin/SimHashPhp  cc @ComMouse

[2016-09-09 05:11] sxjscience commented on #102
@at15 ☆ω☆

[2016-09-09 17:15] at15 commented on #102
- https://conemu.github.io/ cc @kdplus

[2016-09-10 02:54] gaocegege commented on #102
https://github.com/facebook/mention-bot
Automatically mention potential reviewers on pull requests.

好厉害

[2016-09-10 06:45] at15 commented on #102
@arrowrowe @ComMouse have a try on weekly?

[2016-09-10 06:49] at15 commented on #102
- https://github.com/gztchan/awesome-design cc @scottsun94

[2016-09-10 09:11] sxjscience commented on #102
http://svail.github.io/rnn_perf/ & http://svail.github.io/diff_graphs/ These two blogs may useful for those who are interested in RNN.

[2016-09-10 16:44] arrowrowe commented on #97
Mails sent by @arrowrowe.

[2016-09-10 16:44] #97 closed, assigned to arrowrowe

[2016-09-10 17:56] arrowrowe commented on #93
@at15 链接没多个 b?... 以及之前打算用的 [Livecoding.tv](https://www.livecoding.tv/) 就是 OBS.

[2016-09-10 18:31] arrowrowe commented on #99
@ComMouse \w

[2016-09-10 19:27] at15 commented on #93
@arrowrowe 是多了一个.... amazing

[2016-09-11 02:42] at15 commented on #102
- https://www.packtpub.com/mapt

saw it from google play music ads

[2016-09-11 20:12] at15 commented on #102
- https://github.com/consolidation-org/Robo Modern and simple PHP task runner inspired by Gulp and Rake aimed to automate common tasks cc @ComMouse

[2016-09-11 20:17] at15 commented on #102
- https://github.com/thejameskyle/the-super-tiny-compiler cc @mrmiywj @gaocegege @mingo-x

[2016-09-11 20:18] at15 commented on #102
- https://github.com/lerna/lerna A tool for managing JavaScript projects with multiple packages cc @arrowrowe

[2016-09-11 20:22] at15 commented on #102
- https://ngrok.com/ Secure tunnels to localhost its server is not open source though ....

[2016-09-11 22:19] at15 commented on #102
- https://www.eventbrite.com/ a ticket selling website cc @ComMouse

[2016-09-13 00:49] at15 commented on #102
- [Promise is not resolved nor rejected](https://medium.com/@at15/promise-is-not-resolved-nor-rejected-d76582b9738f)  a dumb bug when writing https://github.com/tongquhq/about

@gaocegege 感觉medium的编辑器还不错，虽然好像代码高亮有点搓，还得用快捷键.....

[2016-09-13 05:52] at15 commented on #102
- https://github.com/yahoo/pulsar distributed pub-sub messaging system  cc @gaocegege

[2016-09-13 17:30] at15 commented on #102
- https://github.com/Coding/WebIDE-Frontend

[2016-09-13 17:30] at15 commented on #101
/w\ forgot about it .... on it after I finish my pr for distributed system course

Update: @arrowrowe already opened a PR, stupid me /w\

[2016-09-13 21:54] at15 commented on #102
- https://github.com/asmblah/uniter PHP in the browser and Node.js  cc @ComMouse amazing \w/

[2016-09-13 21:56] at15 commented on #102
- https://github.com/viebel/klipse A simple client-side code evaluator pluggable on any web page: clojure, ruby, javascript, python, scheme http://blog.klipse.tech/

[2016-09-14 00:07] at15 commented on #102
- http://platformio.org/ An open source ecosystem for IoT development
  Cross-platform build system. Continuous and IDE integration. Arduino and ARM mbed compatible

cc @arrowrowe @LukeXuan @gaocegege 记得好像有谁说过有个妹子要学 Arduino ... 还是我把男的记成了妹子....

[2016-09-14 00:09] at15 commented on #102
- https://github.com/warmheartli/MachineLearningCourse  机器学习精简入门教程

[2016-09-14 02:04] at15 commented on #102
- https://github.com/sdegutis/mjolnir Lightweight automation and productivity app for OS X
- https://github.com/hammerspoon Staggeringly powerful OS X desktop automation with Lua

cc @gaocegege @swaylq

why am I looking at this when I got no mac 😢

[2016-09-14 17:39] at15 commented on #102
- https://www.eff.org/ The Electronic Frontier Foundation is the leading nonprofit organization defending civil liberties in the digital world.

[2016-09-14 23:07] at15 commented on #102
- https://github.com/blog/2256-a-whole-new-github-universe-announcing-new-tools-forums-and-features   now your repo has tab called **projects**
- https://help.github.com/articles/tracking-the-progress-of-your-work-with-projects/

cc @arrowrowe @ComMouse @gaocegege

[2016-09-14 23:14] at15 commented on #102
- https://github.com/ElemeFE/element  eleme is using vue for its desktop UI. reminds me of the old project, hacking their client and printer driver ...... cc @arrowrowe

[2016-09-15 06:21] at15 commented on #102
- https://github.com/elendirx/web2web

[2016-09-15 15:11] arrowrowe opened #105 "Weekly/51 for 2016/09/21"
2016/09/21, 第十一循环第二次, 总第五十一期 -> @arrowrowe  (由 @ComMouse 代理)

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [ ] @ComMouse
- [x] @LukeXuan
- [ ] @gaocegege
- [ ] @JasonQSY
- [ ] @sxjscience

[2016-09-15 15:11] arrowrowe commented on #102
Please go to #105.

[2016-09-15 15:11] arrowrowe commented on #99
@ComMouse \w

[2016-09-15 15:12] arrowrowe commented on #102
@swaylq \w

[2016-09-15 16:36] #93 closed, assigned to arrowrowe

[2016-09-15 16:47] arrowrowe commented on #93
Mails sent by @arrowrowe.

[2016-09-15 16:47] #101 closed, assigned to at15

[2016-09-15 16:59] arrowrowe commented on #101
Mails sent by @arrowrowe.

[2016-09-16 05:47] at15 commented on #105
- https://github.com/xdanaux/fontawesome-latex use fontawesome in latex! see doc and example on ctan

[2016-09-16 10:18] LukeXuan commented on #105
something in the issue title went wrong...oops...
[Angular 2.0](https://angular.io) released.

[2016-09-16 10:21] arrowrowe commented on #105
re @LukeXuan fixed

[2016-09-16 22:59] at15 commented on #105
- https://github.com/liabru/matter-js a 2D rigid body physics engine for the web cc @ComMouse

[2016-09-17 18:42] at15 commented on #105
- https://github.com/getify/Functional-Light-JS

[2016-09-17 20:06] arrowrowe commented on #105
[从零开始的 JSON 库教程](https://zhuanlan.zhihu.com/json-tutorial) (GitHub: [miloyip/json-tutorial](https://github.com/miloyip/json-tutorial)): 从零开始教授如何写一个符合标准的 C 语言 JSON 库
by [@miloyip](https://www.zhihu.com/people/miloyip)

[![miloyip](https://pic3.zhimg.com/b0a73b946_l.jpg)](https://www.zhihu.com/people/miloyip)

[2016-09-18 21:48] at15 commented on #105
- https://github.com/inorichi/tachiyomi Free and open source manga reader for Android cc @BrotherJing @ComMouse @arrowrowe

[2016-09-19 05:43] LukeXuan commented on #105
https://github.com/loveshell/ngx_lua_waf
nginx lua firewall

[2016-09-20 04:21] at15 commented on #105
- https://github.com/tq5124/Answer-System gh 上出现夫妻档 @tq5124 @Rojen-cz

btw: 感觉紫辰不换头像会有很多fo

[2016-09-20 04:22] tq5124 commented on #105
= = 是个被弃坑的project。。。

[2016-09-20 04:24] at15 commented on #105
@tq5124

![image](https://cloud.githubusercontent.com/assets/5621298/18657491/7a945d3c-7eaf-11e6-842a-d543ddddcf8d.png)

[2016-09-20 07:06] gaocegege commented on #105
https://github.com/WechatFE/vConsole
A lightweight, extendable front-end developer tool for mobile web page.

终于赶完了一波DL

[2016-09-20 12:31] gaocegege commented on #105
https://github.com/zeit/hyperterm
A terminal built on web technologies
亲测可用，6到飞起，还可以自己写extension
推荐 https://github.com/zeit/hyperpower

[2016-09-22 04:53] at15 commented on #105
- https://github.com/deepstreamIO/deepstream.io deepstream is a new type of server that syncs data and sends events across millions of clients.  written in node

[2016-09-22 05:17] ComMouse opened #107 "Weekly/52 for 2016/09/28"
2016/09/28, 第十一循环第三次, 总第五十二期 -> @ComMouse

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [ ] @ComMouse
- [ ] @LukeXuan
- [ ] @gaocegege
- [ ] @JasonQSY
- [x] @kdplus

**Anniversary of our weekly!**

[2016-09-22 05:18] ComMouse commented on #105
Weekly locked. Please go to #107.

[2016-09-23 04:01] at15 commented on #107
[![LGTM](https://lgtm.in/p/gC5sXQPZp)](https://lgtm.in/i/gC5sXQPZp)  cc @arrowrowe

[2016-09-24 06:44] at15 commented on #107
- https://github.com/sourcelair/xterm.js Full xterm terminal, in your browser used by VSCode

[2016-09-24 12:47] arrowrowe commented on #107
[Awesome ACG](https://github.com/soruly/awesome-acg)

[2016-09-24 13:52] kdplus commented on #107
- https://www.youtube.com/watch?v=AgkfIQ4IGaM 实时看conv们都在做啥

[2016-09-24 19:41] at15 commented on #107
- https://github.com/BurntSushi/ripgrep ripgrep combines the usability of The Silver Searcher with the raw speed of grep. cc @arrowrowe @LukeXuan @mrmiywj

[2016-09-25 03:20] kdplus commented on #107
- https://github.com/google/deepdream If there is a feature in pic activated  maybe one or some neuron in your net, then it will boost this feature in your picture when you do back propagation to get lower loss score. You might get some strange pics, it's a lot of fun.(could not be exactly the feature neuron looking for, maybe just a dog like part in your pic, and then you might get lots of dog fa

[2016-09-25 04:19] at15 commented on #107
@kdplus 丘现在是在学deep?

[2016-09-25 05:07] kdplus commented on #107
@at15 恩，随便看看入门课...学cv。找老师ing....

[2016-09-27 02:14] at15 commented on #107
- https://www.kickstarter.com/projects/744235676/tingbot-raspberry-pi-made-fun/description cc @gaocegege

[2016-09-27 02:15] at15 commented on #107
- https://github.com/kholia/OSX-KVM run osx on linux using KVM or QEMU via @gaocegege

[2016-09-28 10:23] ComMouse opened #108 "Weekly/53 for 2016/10/05"
2016/10/5, 第十二循环第一次, 总第五十三期 -> @swaylq

投稿:
- [x] @at15
- [ ] @swaylq
- [ ] @arrowrowe
- [ ] @ComMouse
- [ ] @LukeXuan
- [ ] @JasonQSY
- [ ] @kdplus
- [ ] @Bluemit
- [x] @gaocegege
- [x] @aploium

[2016-09-28 10:24] ComMouse commented on #107
Weekly locked. Please go to #108

[2016-09-29 04:59] at15 commented on #108
提前祝大家国庆快乐 \w/

[2016-09-29 04:59] at15 commented on #108
- https://github.com/schollz/find High-precision indoor positioning framework for most wifi-enabled devices. https://ml.internalpositioning.com/  cc @laohyx

[2016-09-29 05:46] at15 commented on #108
- https://github.com/mehrdadrad/mylg Network Diagnostic Tool http://mylg.io in Go cc @gaocegege

[2016-09-29 21:43] at15 commented on #108
- https://github.com/gravitational/teleport Modern SSH server for clusters and teams. http://gravitational.com/teleport

[2016-09-30 00:58] gaocegege commented on #108
https://github.com/521xueweihan/HelloGithub
github月刊<del>少女

[2016-09-30 06:13] gaocegege commented on #108
https://mlh.io/events
全球学生Hackathon列表

[2016-09-30 17:03] kdplus commented on #108
- https://www.youtube.com/watch?v=BjL-DW4jVEM Multi-view Self-supervised Deep Learning for 6D Pose Estimation in the Amazon Picking Challenge

[2016-09-30 19:25] at15 commented on #108
- https://github.com/kirel/detexify-hs-backend Latex Symbol Classifier Web backend in Haskell http://detexify.kirelabs.org

[2016-10-01 03:51] at15 commented on #108
- https://github.com/Tlaster/YourAV 宇宙级最轻量杀毒软件

[2016-10-01 08:15] kdplus commented on #108
@at15  我昨天也看到了，但是我不明白我是怎么关注的他微波 http://weibo.com/tlaster?refer_flag=1001030103_&is_all=1#1475309651413

[2016-10-02 00:18] at15 commented on #108
- https://developers.google.com/safe-browsing/ google safe browsing API

[2016-10-02 06:28] #99 closed, assigned to arrowrowe

[2016-10-02 08:17] arrowrowe commented on #99
Mails sent by @arrowrowe.

[2016-10-02 18:21] at15 commented on #99
/\w

[2016-10-02 21:42] at15 commented on #108
- http://gerrithub.io/ Gerrit + GitHub cc @laohyx  @gaocegege @arrowrowe @ComMouse

[2016-10-02 21:43] at15 commented on #108
- https://www.bittiger.io/ 华人做的一个求职社区各种资料都有，但是我还没仔细看 cc @utf8please @组花....

[2016-10-03 01:22] at15 commented on #108
- https://medium.com/javascript-scene/angular-2-vs-react-the-ultimate-dance-off-60e7dfbc379c#.b4eg00de6

[2016-10-03 01:26] at15 commented on #108
- http://degoes.net/articles/modern-fp
- http://degoes.net/articles/modern-fp-part-2

cc @xplorld @mrmiywj @gaocegege

[2016-10-03 01:36] at15 commented on #108
- https://github.com/bijection/g9 Automatically interactive graphics for the web. cc @ComMouse

[2016-10-03 01:41] at15 commented on #108
- https://allo.google.com/

[2016-10-03 01:51] at15 commented on #108
- http://mp.weixin.qq.com/s?__biz=MjM5MDE0Mjc4MA==&mid=2650994277&idx=1&sn=f0d3c25d805503264a78ab5eeb29044d
  +成为技术大牛梦想虽然很美好，但是要付出很多，不管是Do more还是Do better还是Do exercise，都需要花费时间和精力，这个过程中可能很苦逼，也可能很枯燥。文章非常实在，值得认真阅读和实践。另附：[从铁匠和园丁的故事说起，谈谈技术与业务的关系](http://mp.weixin.qq.com/s?__biz=MzA4NTU2MTg3MQ==&mid=2655158696&idx=1&sn=48ece69b69d4087fc42c87863fe25291)

cc @xsfour

[2016-10-03 02:56] at15 commented on #108
- https://github.com/lebinh/ngxtop cc @ComMouse

[2016-10-03 03:52] at15 commented on #108
- https://codegrown.io/engineers-and-commitment @arrowrowe @swaylq

[2016-10-03 06:46] at15 commented on #108
- http://worrydream.com/LearnableProgramming/

[2016-10-03 20:35] at15 commented on #108
- http://vfleaking.blog.uoj.ac/blog/2062 cc @LukeXuan @kdplus UOJ 开源

[2016-10-03 22:46] at15 commented on #108
- https://github.com/noffle/art-of-readme cc @at15

[2016-10-04 00:05] aploium commented on #108
https://github.com/OpenRA/OpenRA
A modern rebuilt for the classic Red Alert (红警)
![Red Aert](http://www.openra.net/images/screenshots/d2k-starport.png)

[2016-10-04 03:21] at15 commented on #108
- https://github.com/clipperhouse/gen Type-driven code generation for Go http://clipperhouse.github.io/gen/

[2016-10-04 11:00] gaocegege commented on #108
https://github.com/google/pepper.js
谷歌有一个黑魔法，在浏览器里运行Native代码，就是c和cpp。需要使用修改过的gnu工具链或者是llvm工具链，来编译代码。其中Pepper是JS跟Native代码交互的一个关键，这个黑魔法叫做[NaCl](https://developer.chrome.com/native-client)

[2016-10-04 11:04] gaocegege commented on #108
跟上面的[NaCl](https://developer.chrome.com/native-client)是竞争关系的一个有趣的东西，[asm.js](http://asmjs.org/)

![](http://i.imgur.com/1yoy1Fa.png)

可以把cpp编译成LLVM的中间代码，然后翻译成js，asm.js是js的一个子集。这样翻译出来的asm.js效率可以做到只比Native app差一倍

![](http://i2.wp.com/kripken.github.com/mloc_emscripten_talk/macro4b.png)

我就想知道，什么时候可以在浏览器上玩dota

[2016-10-04 11:11] gaocegege commented on #108
re @at15 类型驱动是啥意思啊

[2016-10-04 11:14] gaocegege commented on #108
https://github.com/onsi/ginkgo
BDD Testing Framework for Go
Go的一个BDD style的基于go test的测试框架，用过，很棒，侵入性很小。

[2016-10-04 18:19] at15 commented on #108
@gaocegege BDD 跟 https://github.com/stretchr/testify 这种有什么区别? 另外golang 1.7 里的test也加强了，支持像junit那样的suite，每个测试前后跑一些东西。我感觉Ayi可以放弃支持 golang 1.6 了 /w\

and type driven? 好像听说过，具体不知道.....

[2016-10-05 00:36] gaocegege commented on #108
re @at15

[code]

[2016-10-05 00:38] at15 commented on #108
@gaocegege 策策起好早！

[2016-10-05 00:43] gaocegege commented on #108
re @at15 生活要健康嘛

[2016-10-05 07:07] arrowrowe commented on #108
cc @at15

[2016-10-06 00:52] gaocegege commented on #108
https://github.com/JustinFincher/GitHubContributionsiOS

![](https://github.com/JustinFincher/GitHubContributionsiOS/raw/master/Sketch/GitHub-Contributions.jpg)

作者看上去是个star狂魔

[2016-10-06 02:31] aploium commented on #108
他的起名风格真是。。直白😂

[2016-10-06 02:34] gaocegege commented on #108
re @aploium
一开始看到分词成了 Github Contributionsi OS
= =

[2016-10-06 06:21] at15 commented on #108
- https://github.com/jwasham/google-interview-university cc @mrmiywj @xplorld @xsfour @kdplus

[2016-10-07 01:20] at15 commented on #108
- https://github.com/Chuibility/Xuan-Selected amazing! @LukeXuan @JasonQSY

we should have ce-selected @gaocegege

[2016-10-07 01:23] at15 commented on #108
- https://github.com/cpmech/gosl Go scientific library

[2016-10-07 05:19] ComMouse opened #109 "Weekly/54 for 2016/10/12"
2016/10/12, 第十二循环第二次, 总第五十四期 -> @arrowrowe

投稿:
- [x] @at15
- [ ] @swaylq
- [ ] @arrowrowe
- [x] @ComMouse
- [ ] @LukeXuan
- [ ] @kdplus
- [ ] @Bluemit
- [x] @JasonQSY
- [ ] @gaocegege
- [x] @tq5124

[2016-10-07 05:20] ComMouse commented on #108
Weekly locked. Please go to #109.

[2016-10-08 07:10] at15 commented on #109
- https://ryver.com/ an alternative for slack

[2016-10-08 18:18] at15 commented on #109
- https://www.instacart.com/opensource cc @ComMouse @arrowrowe might inspire u with new project ideas for new comers (if any)

[2016-10-09 04:48] ComMouse commented on #109
[Static Site Generators](https://staticsitegenerators.net/)
The definitive listing of Static Site Generators — all 445 of them!

[2016-10-09 05:06] at15 commented on #109
@ComMouse so why this site itself is so ... ancient

[2016-10-09 14:59] ComMouse commented on #109
@at15 It uses [DocPad](http://docpad.org/)

[2016-10-09 17:03] at15 commented on #109
- https://webdemo.myscript.com/views/math.html try it cc @arrowrowe @gaocegege
- https://dev.myscript.com/ World Reference for Interactive Ink and Handwriting Recognition APIs

[2016-10-09 18:16] at15 commented on #109
- https://www.contentful.com/ Like a CMS... without the bad bits.

[2016-10-10 02:11] at15 commented on #109
- https://www.recurse.com/ The Recurse Center is a free, self-directed, educational retreat for people who want to get better at programming, whether they've been coding for three decades or three months.

[2016-10-10 02:25] at15 commented on #109
- https://github.com/karan/Projects cc @ComMouse @arrowrowe for project ideas

[2016-10-10 05:23] JasonQSY commented on #109
- https://github.com/zo7/deconvfaces Generating Faces with Deconvolution Networks.

[2016-10-11 13:57] tq5124 commented on #109
- ~~http://www.infoq.com/cn/articles/how-to-build-a-distributed-database, includes the details of TiDB and TiKV, which is the open source implement of Google F1 and Spanner.~~

[2016-10-11 17:46] at15 commented on #109
@tq5124 I think I may have mentioned that in previous weeklys at least I've read the article. Are u going to do distributed related stuff in g, or just personal interest for now.

[2016-10-11 17:48] tq5124 commented on #109
@at15 Oh this thing happen again... Maybe at that time I save the article and just finish reading today.

That is just a personal interest:) I would like to focus on system scalability this year.

[2016-10-12 05:20] arrowrowe commented on #109
Maybe we need an auto duplication checker?... @mrmiywj

[2016-10-13 05:16] at15 commented on #109
- https://github.com/docker/swarmkit A toolkit for orchestrating distributed systems at any scale. It includes primitives for node discovery, raft-based consensus, task scheduling and more.

[2016-10-13 05:16] at15 commented on #109
- https://github.com/cockroachdb/cockroach A Scalable, Survivable, Strongly-Consistent SQL Database https://www.cockroachlabs.com

[2016-10-13 08:17] ComMouse opened #110 "Weekly/55 for 2016/10/19"
2016/10/19, 第十二循环第三次, 总第五十五期 -> @ComMouse

投稿:

Web
- [x] @at15
- [ ] @swaylq
- [ ] @arrowrowe
- [x] @ComMouse
- [ ] @LukeXuan
- [ ] @kdplus
- [ ] @Bluemit
- [ ] @JasonQSY

OCC
- [x] @gaocegege
- [ ] @mrmiywj

Android / iOS
- [ ] @BrotherJing
- [ ] @xplorld

[2016-10-13 08:19] ComMouse commented on #109
Weekly locked. Please go to #110.

[2016-10-13 10:45] ComMouse commented on #110
[Advances in Real-Time Rendering - SIGGRAPH 2016](http://advances.realtimerendering.com/s2016/index.html)

[2016-10-13 11:02] gaocegege commented on #110
https://github.com/deepstreamIO/deepstream.io
deepstream is a new type of server that syncs data and sends events across millions of clients
node实现的样子。

[2016-10-14 17:56] at15 commented on #110
- https://aphyr.com cc @gaocegege @mrmiywj

[2016-10-16 04:22] at15 commented on #110
- http://www.ebay.co.uk/itm/Composer-V1-0-0-Anniversary-Gold-Edition-/162029115091 cc @ComMouse for all the PHP lovers

[2016-10-16 09:21] ComMouse commented on #110
- [How Websites Work?](http://nilclass.com/courses/how-websites-work)

A funny animated slide introducing website architectures from single server to distributed hierachy

[2016-10-16 13:51] arrowrowe commented on #102
@swaylq \w

[2016-10-16 13:51] arrowrowe commented on #105
@ComMouse \w

[2016-10-16 13:51] arrowrowe commented on #107
@ComMouse \w

[2016-10-16 13:52] arrowrowe commented on #108
@swaylq \w

[2016-10-16 16:15] at15 commented on #102
@swaylq \w

[2016-10-17 06:41] at15 commented on #110
- https://github.com/camlistore/camlistore Camlistore is your personal storage system for life: a way of storing, syncing, sharing, modelling and backing up content. https://camlistore.org/

[2016-10-17 09:03] JasonQSY commented on #110
- https://github.com/octophus/octophus

Created in HACKxFDU and winner of prize of GitHub. Based on GitHub API.

[2016-10-17 20:20] at15 commented on #110
@JasonQSY is this the same guy in hack shanghai? @gaocegege

[2016-10-17 23:24] at15 commented on #110
- http://rosettacode.org/wiki/Rosetta_Code Rosetta Code is a programming chrestomathy site. The idea is to present solutions to the same task in as many different languages as possible

[2016-10-18 00:06] at15 commented on #110
- https://github.com/xephonhq/xephon-b 欢迎围观大作业 \w/

[2016-10-18 02:20] at15 commented on #110
- https://github.com/ruanyf/document-style-guide 中文技术文档规范

[2016-10-18 02:34] gaocegege commented on #110
re @at15 那个是那个g ee(e)\* k写的吧

[2016-10-18 06:21] at15 commented on #110
- https://blog.acolyer.org/ 真心不错 @gaocegege @mrmiywj @kdplus @sxjscience 推荐邮件订阅

[2016-10-19 01:24] arrowrowe commented on #110
@gaocegege @mrmiywj occ 组要开个 dongyue.io 邮箱来订东西不 0.0

[2016-10-19 14:41] ComMouse opened #112 "Weekly/56 for 2016/10/26"
2016/10/26, 第十三循环第一次, 总第五十六期 -> @swaylq

投稿:

Web
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [ ] @ComMouse
- [ ] @LukeXuan
- [ ] @kdplus
- [ ] @Bluemit
- [ ] @JasonQSY

MOS
- [ ] @gaocegege
- [x] @mrmiywj

[2016-10-19 14:42] ComMouse commented on #110
Weekly locked. Please go to #112.

[2016-10-20 00:59] at15 commented on #112
- [ScalaJS_with_Haoyi_Li-Software_Engineering_Daily](https://play.google.com/music/m/Dnmt3dslsjdus2h4gv62rxpfwca?t=ScalaJS_with_Haoyi_Li-Software_Engineering_Daily) cc @mrmiywj

[2016-10-20 02:32] at15 commented on #112
- https://github.com/shekhargulati/java8-the-missing-tutorial

[2016-10-20 20:34] at15 commented on #112
- https://github.com/sandstorm-io/sandstorm support apps like share latex

[2016-10-20 20:50] at15 commented on #112
- https://github.com/mikaelbr/open-source-ideas @gaocegege where we belong

[2016-10-20 22:36] at15 commented on #112
- https://github.com/songrotek/Deep-Learning-Papers-Reading-Roadmap cc @kdplus @sxjscience 0.0

[2016-10-21 05:07] swaylq commented on #108
...

[2016-10-21 11:17] mrmiywj commented on #112
- https://lise-henry.github.io/articles/optimising_strings.html
  A good post about the way of how to optimize.

[2016-10-21 18:57] arrowrowe commented on #108
@swaylq \w

[2016-10-21 20:56] at15 commented on #112
DDOS on dyn.com cause both github and twitter done.

[2016-10-23 22:26] at15 commented on #112
- https://ethereum.org/  Ethereum is a decentralized platform that runs smart contracts: applications that run exactly as programmed without any possibility of downtime, censorship, fraud or third party interference.

[2016-10-23 22:54] #109 closed, assigned to arrowrowe

[2016-10-23 23:23] arrowrowe commented on #109
Mails sent by @arrowrowe.

[2016-10-24 00:17] at15 commented on #109
I think the image link is broken ... at least in my cell phone

[2016-10-24 00:32] arrowrowe commented on #109
.......orz... i use the pixiv thumbnail link directly...

[2016-10-24 00:44] arrowrowe opened #113 "Migrate weeklies to the new repo"
To completely migrate to the new repo https://github.com/dyweb/weekly, we need to
- [x] move current content to the new repo,
- [ ] finish #102, #105, #107, #108, #110, #112 in the new repo,
- [x] begin the next weekly (57 for 2016/11/02) in the new repo.

[2016-10-24 00:47] arrowrowe commented on #63
See website related issues here: https://github.com/dyweb/weekly/issues/1.

It can be subscribed via RSS.

[2016-10-24 00:47] #63 closed, assigned to arrowrowe

[2016-10-24 00:52] at15 commented on #109
@arrowrowe use the source, mie

[2016-10-24 03:29] at15 commented on #112
- https://www.upcloud.com/ World's fastest cloud servers Deploy cloud servers in just 45 seconds, with faster-than-SSD performance!

[2016-10-24 06:47] at15 commented on #112
- https://github.com/sandstorm-io/capnproto Cap'n Proto is an insanely fast data interchange format and capability-based RPC system. Think JSON, except binary. Or think Protocol Buffers, except faster

[2016-10-24 06:48] mrmiywj commented on #112
- https://www.ops-class.org An open OS class. I'm not sure whether it's better than MIT's 6.828. But thanks god, it provides videos

[2016-10-24 06:49] at15 commented on #112
@mrmiywj some MIT courses have video on youtube, though not official and poor quality

[2016-10-24 08:04] mrmiywj commented on #112
- https://github.com/mattbierner/Super-Template-Tetris. Crazy Cpp template programming...

[2016-10-25 01:17] at15 commented on #112
- https://blog.sentry.io/2016/10/19/fixing-python-performance-with-rust.html cc @mrmiywj  @gaocegege (策策我们去学Rust吧!)

[2016-10-25 06:34] at15 commented on #112
- http://jupyter.org/ Open source, interactive data science and scientific computing across over 40 programming languages.

[2016-10-25 11:04] arrowrowe commented on #112
- https://github.com/songrotek/Deep-Learning-Papers-Reading-Roadmap Deep Learning Papers Reading Roadmap

[2016-10-25 11:07] arrowrowe commented on #112
- https://github.com/akovski/PE akovski's solutions to Project Euler problems cc @foreverbell

[2016-10-25 11:27] foreverbell commented on #112
Awesome! But I no longer play with PE right now as I am busy ;|

[2016-10-25 18:44] mrmiywj commented on #112
But 6.828, its OS course, does not...

[2016-10-26 13:31] gaocegege commented on #113
我觉得我们可以采取新的周报形式，现在来看整理的成本太高了，比如在发周报的时候不 file 一个新的 comment，都是直接 append 第0个 comment，这样可以直接 copy，可以省略整理的过程。。或者就直接创建一个文件大家来 push

整理成本太高了，而且不必要

WDYT @dyweb/web-dev

[2016-10-26 14:09] arrowrowe commented on #113
"整理成本太高" :+1:

以前为了解决这个问题想和 @mrmiywj 写个 bot, 群聊时 @ 它投稿, 然后 bot 自动汇总整理...... 后来这个 bot 鸽了 (

append 第 0 个感觉不太好; push 的话稍微增加了投稿成本, 这里需要 @at15 这样勤奋投稿但是懒得 format 的用户意见.

throw {}

[2016-10-26 15:21] mrmiywj commented on #113
然而这个bot连坑都没开出来（

[2016-10-26 18:52] arrowrowe commented on #112
Issue locked. Please go to https://github.com/dyweb/weekly/issues/3.

[2016-10-26 18:57] arrowrowe commented on #113
整理的成本包括 reformat, 排顺序组织小标题, 选亮点. 如果降低要求, 只遍历所有 comment 合起来呢 (

不过这样似乎太散了...... 不知道怎么办 (

cc @gaocegege @mrmiywj @ComMouse

[2016-10-27 00:17] gaocegege commented on #113
是，所以我觉得把这个成本让所有人做一个负载均衡会好一点

[2016-10-27 17:33] at15 commented on #113
@gaocegege I think we can use a issue comment template like the following. (Attach the template to the issue so every one can copy and paste it since gh does not have issue comment template)

[code]

(or maybe just use the yaml format) so the bot would be easier to implement

Also using a machine understandable language make it easier to do search and build an interactive gh-page for weekly, for s

[2016-10-28 01:10] gaocegege commented on #113
好是好，谁来填这个坑

[2016-10-28 01:10] gaocegege commented on #113
招新，棒

[2016-10-28 04:32] arrowrowe commented on #113
加 tag 点赞……

[2016-10-28 07:52] mrmiywj commented on #113
可以考虑带着小朋友们做这个项目...

[2016-10-28 10:19] arrowrowe commented on #113
re @mrmiywj 资磁... 好像比原本计划的那个 bot 简单多了......

[2016-10-28 10:36] ComMouse commented on #113
整理写个程序做，然后人工来选下热点还是上点奇怪的算法？

[2016-10-28 10:55] arrowrowe commented on #113
@ComMouse 感觉热点还是可以人工选的?

[2016-10-28 10:56] arrowrowe commented on #113
@ComMouse 程序把 comments 合并了自动提交, 然后人工选热点配图发邮件什么的

[2016-10-28 12:15] ComMouse commented on #113
嗯。。

[2016-10-28 18:09] at15 commented on #113
@arrowrowe 人工发点热图 (然后就被警察叔叔抓走了......

[2016-12-25 19:41] at15 commented on #113
so, what's the current status .... @arrowrowe @gaocegege

[2016-12-26 02:48] gaocegege commented on #113
The work has been done but I haven't tested it.

[2016-12-26 08:27] arrowrowe commented on #113
策策加油 /w\ (甩锅的我