[2015-09-09 16:23] at15 opened #1 "Add 12factor"
http://12factor.net/ ([译](http://12factor.net/zh_cn))
- [x] read the 12factor webpage
- [x] write an article about its thesis.
- [ ] suggestion for using it in current development.

[2015-09-09 16:24] at15 opened #2 "Git guide"
See the readme file for detail
- Useful links
- common problems and solutions

[2015-09-09 16:28] at15 opened #3 "Vagrant guide"
See readme file for todolist
- setup
- common problems

Leave linux and mac os part for @xsfour and @swaylq

[2015-09-09 16:29] at15 opened #4 "Gulp guide"
- [x] update the readme
- [ ] useful links
- [ ] common problems for gulp
- [ ] a bootstrap gulpfile for common tasks

[2015-09-09 16:30] at15 opened #5 "Codeigniter"
See readme for detail

[2015-09-09 16:31] at15 opened #6 "Laravel"
see readme for detail

[2015-09-09 16:32] at15 opened #7 "Interview questions"
- [ ] check the level description
- [ ] questions for each level
- [ ] suggest links for each level
- [ ] interview projects for each level

[2015-09-09 16:32] at15 commented on #7
@swaylq @xsfour @ComMouse We can have the discuss here.

[2015-09-10 02:53] arrowrowe commented on #1
摘要:
1. 基准代码: 良好的管理与部署.
2. 依赖: 便于安装所有依赖.
3. 配置: 配置与代码分离, 使用环境变量.
4. 后端服务: 每个后端服务是一项资源, 与其附属的部署保持松耦合. (可以方便地替换.)
5. 构建, 发布, 运行: 严格区分三者, 版本明晰, 易于回退.
6. 进程: 必须无状态无共享, 任何需要持久化的内容必须存储于后端服务内.
7. 端口绑定: 通过端口绑定来提供服务, 不依赖任何网络服务器.
8. 并发: 易于扩展并发, 不需要守护进程或写入 PID, 而是借助操作系统的进程管理器来管理 I/O 流等进程事务.
9. 易处理: 进程可以瞬间开关(追求最小启动时间, 一旦收到终止信号就优雅地终止), 对突然死亡保持健壮.
10. 开发环境与线上环境等价: 反对不同环境使用不同的后端服务.
11. 日志: 不存储自己的输出流, 允许运行环境截获和整理并

[2015-09-10 04:03] arrowrowe commented on #2
See [tools/git/README.md](https://github.com/dyweb/web-stuff/blob/master/tools/git/README.md), almost done (or I think so?...).

[2015-09-10 04:14] arrowrowe commented on #4
See [tools/gulp/README.md](https://github.com/dyweb/web-stuff/blob/master/tools/gulp/README.md).

[2015-09-10 04:19] arrowrowe commented on #3
See [tools/vagrant/README.md](https://github.com/dyweb/web-stuff/tree/master/tools/vagrant/README.md).

[2015-09-10 04:21] arrowrowe commented on #5
See [frameworks/codeigniter/README.md](https://github.com/dyweb/web-stuff/blob/master/frameworks/codeigniter/README.md).

[2015-09-10 04:22] arrowrowe commented on #6
See [frameworks/laravel/README.md](https://github.com/dyweb/web-stuff/blob/master/frameworks/laravel/README.md).

[2015-09-10 11:39] at15 commented on #2
@arrowrowe I think we better not put too many `google please`

[2015-10-04 17:19] at15 opened #8 "Weekly"
Move weekly articles from `mie/draft` and my articles as well.

[2015-10-04 17:54] at15 commented on #8
@arrowrowe guess u need to format the markdown and call @swaylq to send it to the groups.

[2015-10-05 02:03] arrowrowe commented on #8
What...? Format to what?...

[2015-10-05 03:41] swaylq commented on #8
I don't know

[2015-10-09 04:34] arrowrowe commented on #8
Done now. Mails sent on 2015/10/07 via Mailgun.

[2015-10-09 04:34] #8 closed, assigned to arrowrowe

[2015-10-11 14:18] at15 opened #9 "Weekly for 10-14"
some useful links from https://github.com/zenany/weekly/commit/c59d33d422d0d5fc45170bfd3aa141aceeb06e06
- Machine learning !!! http://xyclade.github.io/MachineLearning/
- angular 1&2 mix https://medium.com/@orizens/write-angular-2-components-in-angular-1-de3e3746683a
- http://www.technology-ebay.de/the-teams/mobile-de/blog/nodejs-es6-war-story  使用es6+node 来全栈

－ http://orientdb.com/ 图+nosql数据库，支持s

[2015-10-11 14:42] at15 commented on #9
新人入门参考网站

不推荐的网站
- http://www.w3school.com.cn/ 内容过于老久

推荐的网站

html, css, js 文档和教程
- https://developer.mozilla.org/en-US/docs/Web

php入门视频教程
- http://code.tutsplus.com/courses/php-fundamentals

[2015-10-12 15:47] at15 commented on #9
http://fdietz.github.io/2015/04/13/day-1-how-to-build-your-own-team-chat-in-five-days.html 做出来跟slack一模一样的感觉....

[2015-10-13 14:55] at15 commented on #9
angularjs 针对 seo   的优化  https://github.com/prerender/prerender (其实感觉还可以针对微信优化etc)

[2015-10-13 15:10] arrowrowe commented on #9
补充 mie/draft 里的三篇:
- [1005](http://git.tongqu.me/mie/draft/blob/master/pieces/20151005.md)
- [1008](http://git.tongqu.me/mie/draft/blob/master/pieces/20151008.md)
- [1013](http://git.tongqu.me/mie/draft/blob/master/pieces/20151013.md)

[2015-10-17 13:32] #9 closed, assigned to swaylq

[2015-10-17 13:33] at15 opened #10 "Weekly for 10-21"
Please leave links you find interesting in this issue, they will be included into the weekly

@arrowrowe is responsible for this week's weekly

[2015-10-17 13:33] at15 commented on #10
from hacker's news.
- https://frontendmasters.gitbooks.io/front-end-handbook/content/practice/types-of-front-end-dev.html  a gitbook for front end dev. covers all part
- http://burakkanber.com/blog/machine-learning-full-text-search-in-javascript-relevance-scoring/

[2015-10-18 11:20] arrowrowe commented on #10
[mie/draft](http://git.tongqu.me/mie/draft/tree/master/pieces)

[2015-10-21 08:19] arrowrowe commented on #10
[1021.md](https://github.com/dyweb/web-stuff/blob/master/weekly/2015/1021.md) added!

@at15 @swaylq @xsfour @ComMouse

[2015-10-21 09:48] at15 commented on #10
add some blog from rollup's site. https://medium.com/@Rich_Harris/small-modules-it-s-not-quite-that-simple-3ca532d65de4#.3i417rjxg

[2015-10-21 09:51] at15 commented on #10
and @arrowrowe https://github.com/jspm/jspm-cli seems to be quite like tam

[2015-10-21 10:25] arrowrowe commented on #10
re @at15: [Small modules: it’s not quite that simple](https://medium.com/@Rich_Harris/small-modules-it-s-not-quite-that-simple-3ca532d65de4#.x2ve9di4z) added in fecfe2c81b18180c5651ede922ca6e49ceb11b54. jspm seems not suitable for weekly.

[2015-10-21 10:56] at15 commented on #10
got the mail

[2015-10-21 10:56] #10 closed, assigned to arrowrowe

[2015-10-21 10:57] at15 opened #11 "Weekly for 10-28"
This time -> @ComMouse

[2015-10-21 10:58] at15 commented on #11
- php the right way http://www.phptherightway.com/
- http://codeception.com/ Modern PHP testing for everyone
- jit https://github.com/nickdesaulniers/bf_interpreter_jit_compiler

[2015-10-24 09:06] arrowrowe commented on #11
**新闻:** [Let's Encrypt](https://letsencrypt.org/): HTTPS 计划 (雾

[2015-10-24 09:09] swaylq commented on #11
- A Complete Guide to Flexbox https://css-tricks.com/snippets/css/a-guide-to-flexbox/

[2015-10-24 09:14] arrowrowe commented on #11
[mikesizz/observatory](https://github.com/mikesizz/observatory): an interface for `Object.observe` with mongodb style querying.

[2015-10-26 04:07] arrowrowe commented on #11
[UI, UX: Who Does What? A Designer's Guide To The Tech Industry](http://www.fastcodesign.com/3032719/ui-ux-who-does-what-a-designers-guide-to-the-tech-industry#rd?sukey=66d4519b2d3854cdafcd2915e190b65e2b0da63560d8e66b02790c4978f937953cf337d40623c3142f2d57379244fb3a) (译文: [UI、UX，傻傻分不清楚？来一份设计师分工指南](http://mp.weixin.qq.com/s?__biz=MjM5NTMzNzg3NA==&mid=209995928&idx=1&sn=e43f829c4863bdafb16e0b2dc3f940

[2015-10-26 05:08] at15 commented on #11
话说小虎虎昨天跟我吐槽weekly上全是前端的东西，所以他并不会去看....

[2015-10-26 10:12] arrowrowe commented on #11
re @at15: pia @xsfour
@xsfour 小糊糊来投稿呀

[2015-10-26 11:49] at15 commented on #11
api前面的封装层, rate limit, 认证, 基于 nginx (感觉真心不错啊, 水so水到imgur水到https://gelato.io  水到kong) 应该有种可以模仿某个用户习惯的爬虫....

https://github.com/Mashape/kong/

还有 api 的状态监控, 包括自己的和第三方的 https://www.apianalytics.com/

[2015-10-26 16:15] ComMouse commented on #11
No permission for the repo = = :cry:

[2015-10-26 16:38] ComMouse commented on #11
Realtime Topics:

~~\- Swoole
    - Swoole https://github.com/swoole/swoole-src
    - Tencent's framework tsf: https://github.com/tencent-php/tsf~~
- ReactPHP (The "Node.js" in PHP)
  - React http://reactphp.org/
    Event-driven, non blocking async IO.
  - Ratchet http://socketo.me/
    Websocket implementation based on React
  - Redis Async https://github.com/nrk/predis-async
    - Redis Asynchr

[2015-10-26 16:51] ComMouse commented on #11
PHP 7 Overview:
- PHP 7 Quick Overview: https://github.com/tpunt/PHP7-Reference
- Migrating from 5.6 to 7: http://php.net/manual/zh/migration70.php

Laravel Repository Pattern:
- http://vegibit.com/laravel-repository-pattern/

Beginners Column:
- Introduction To Laravel: http://laravelbook.com/laravel-introduction/

~~\- HTTP Basic~~
~~\- Part I http://code.tutsplus.com/tutorials/http-the-protocol

[2015-10-27 01:37] arrowrowe commented on #11
~~@at15 给小豆加下权限....~~

我加了...... @ComMouse

[2015-10-27 04:54] at15 commented on #11
@arrowrowe got ....

http://fullweb.io/   a weekly for full stack, use archive to see all http://us11.campaign-archive2.com/home/?u=8e9d09ec89c0c4ededef3beab&id=b98e776907

[2015-10-27 05:00] at15 commented on #11
and @ComMouse how is react php compared with swoole, and other async stuff like [workerman](https://github.com/walkor/Workerman)

btw: just looked into workerman's repo ... seems the project structure is very simple

[2015-10-27 08:49] arrowrowe commented on #11
@at15 把 @gaocegege 发起的 API 测试主题也加上吧.
- [Codeception](http://codeception.com/)

[2015-10-27 13:03] ComMouse commented on #11
@at15 React is packaged by a lot of components which can be used in other projects and have more third-party libs than the two other ones. It highlights PHP's implementation of Promise, Event-loop, etc. Ratchet is just one of the examples.

Swoole is favored by a lot of people by its high performance. However, third-party support is little. It would be a good platform after it's introduced to the

[2015-10-27 13:06] at15 commented on #11
@ComMouse I'd rather use java instead of node in real projects. java is more mature than node, considering the language itself and libs

[2015-10-27 13:16] arrowrowe commented on #11
Mobile Application with HTML/CSS/JavaSript
- [Ratchet](http://goratchet.com/): Build mobile apps with simple HTML‚ CSS‚ and JS components.
- [Ionic](http://ionicframework.com/): the beautiful, open source front-end SDK for developing hybrid mobile apps with web technologies.
- [PhoneGap](http://phonegap.com/): Easily create apps using the web technologies you know and love: HTML, CSS, and JavaScri

[2015-10-27 13:16] ComMouse commented on #11
@at15 Yeah.... However I'm not familiar with Java.... :cry: I'd prefer use js or ruby instead of Java until the Java Web course next semester...

[2015-10-28 14:34] arrowrowe commented on #11
Email received.

[2015-10-28 14:34] #11 closed, assigned to ComMouse

[2015-10-28 14:41] at15 opened #12 "Weekly for 11-04"
this time 第五期 -> @xsfour

[2015-10-28 15:38] swaylq commented on #12
- 响应式排版 http://blog.jobbole.com/93092/
- 让app更安全 https://auth0.com/blog/2015/10/22/5-ways-to-make-your-app-more-secure-in-less-than-20-minutes/
- sublime的格式化插件 https://github.com/victorporof/Sublime-HTMLPrettify
- 简单的node版本管理 https://github.com/tj/n
- Android学习资料汇总 https://github.com/inferjay/AndroidDevTools
- 按钮置灰的思考 http://blog.jobbole.com/93548/

[2015-10-28 15:39] swaylq commented on #12
让app更安全 https://auth0.com/blog/2015/10/22/5-ways-to-make-your-app-more-secure-in-less-than-20-minutes/

[2015-10-28 15:43] swaylq commented on #12
sublime的格式化插件 https://github.com/victorporof/Sublime-HTMLPrettify

[2015-10-28 15:43] swaylq commented on #12
简单的node版本管理 https://github.com/tj/n

[2015-10-28 15:44] swaylq commented on #12
Android学习资料汇总 https://github.com/inferjay/AndroidDevTools

[2015-10-28 15:46] swaylq commented on #12
按钮置灰的思考 http://blog.jobbole.com/93548/

[2015-10-28 15:52] at15 commented on #12
@swaylq  better  just put all of them in one comment .... and why are you so excited when it's xsfour's turn ...

[2015-10-28 17:48] tq5124 commented on #12
https://github.com/typicode/json-server

新建一个db.json的文件，然后直接运行即可建立一个RESTFUL的后端！非常方便，适合demo级别的展示和应用。使用基于文件的数据库lowdb。不过注意不要利用json多级嵌套，老老实实用类似mysql的表来做数据库；以及默认的运行方法几乎无安全性。直接几个DELETE请求就能把数据库内容删掉。

[2015-10-28 17:49] tq5124 commented on #7
https://github.com/h5bp/Front-end-Developer-Interview-Questions
https://github.com/checkcheckzz/system-design-interview

[2015-10-28 17:50] tq5124 commented on #12
http://maxwellito.github.io/es6-quiz-slides/#/

A intro and quiz about new features of ES6.

PS: Should I write the introduction in English or Chinese?

[2015-10-29 01:47] arrowrowe commented on #12
re @tq5124: ES6 Quiz 在[第三期周报](https://github.com/dyweb/web-stuff/blob/master/weekly/2015/1021.md)里有过了......

re @at15: 我合并了.

[2015-10-29 02:40] swaylq commented on #12
@arrowrowe ，不合并看起来才有感觉啊，为啥要合并……

[2015-10-29 03:59] at15 commented on #12
@tq5124 json-server 主要就是为了写前端测试的吧，感觉相比自己写mock数据方便了一些，而且也不需要在前端的ajax请求里加mock的拦截。

and 英语和中文的话随便额，反正最后周报里都会转成中文的。

@arrowrowe got

[2015-10-29 04:13] tq5124 commented on #12
前端测试也可以，不过我觉得有些demo级别的展示和作业，用这个比较方便

[2015-10-29 04:24] at15 commented on #12
@tq5124 其实像hackthon那类的用这种也合适，毕竟只需要看脸的情况还是很多的

[2015-10-29 09:56] arrowrowe commented on #7
https://github.com/markyun/My-blog/tree/master/Front-end-Developer-Questions

[2015-10-29 11:49] at15 commented on #12
https://github.com/philipwalton/solved-by-flexbox flexbox 的一些showcase

[2015-10-30 07:37] arrowrowe commented on #12
### 阅读材料
- [JavaScript Path](https://github.com/javascript-society/javascript-path): List of books to master JavaScript Development.

### 组件
- Mailgun SDK
  - [Mailgun-PHP](https://github.com/mailgun/mailgun-php)
  - [Bogardo/Mailgun](https://github.com/Bogardo/Mailgun)

- JavaScript Validation
  - [vslinko/vstack-validator](https://github.com/vslinko/vstack-validator) (Intro: [vstack-validator](h

[2015-10-30 07:55] arrowrowe commented on #12
JavaScript Validation
- [vslinko/vstack-validator](https://github.com/vslinko/vstack-validator) (Intro: [vstack-validator](http://daily-javascript.com/blog/2015-10-28-vstack-validator/))

[2015-10-30 08:00] arrowrowe commented on #12
[Node v5.0.0 (Stable)](https://nodejs.org/en/blog/release/v5.0.0/)

[2015-10-30 14:04] tq5124 commented on #12
有人用过Vue.js吗？感觉如何？也是前端MVC吗？最近觉得angular太臃肿。。。有没有简单的替换选择？

[2015-10-30 14:34] at15 commented on #12
@tq5124 angular感觉还好吧,vue并没有用过. 试试react, 换种思路? btw:你在美帝怎么还需要写web...

[2015-10-30 15:35] tq5124 commented on #12
@at15 无聊你信嘛。。。

我们专业是学大数据的，不过我现在要找工作啊，大数据还没学呢。所以明年暑假的实习基本还是做web

[2015-10-30 16:51] at15 commented on #12
@tq5124 啊啊啊啊,  刚才玩游戏的时候在看申请的事情, gre verbo 150被好多学校的硬性卡住了.. 中介好水b啊, 尼玛具体信息都得我自己去看。。。求指导0.0(感觉以后应该放gitlab里....

[2015-10-30 17:12] tq5124 commented on #12
@at15 在wecenter上问我？中介都很坑的。。。还是要自己来

[2015-10-31 07:09] at15 commented on #12
use es6/7 features to write node application https://github.com/75team/thinkjs  75team是360的前端团队, 奇舞团 (我还以为是腾讯出了跳舞游戏的网页版 .....

http://www.telerik.com/kendo-ui 一组十分齐全的ui组件, 官网上说有angular的binding, 不过是收费的...  比如grid, 日历

[2015-10-31 09:49] arrowrowe commented on #12
re @tq5124: 今天用 Vue.js 重写了一遍 [个人博客](https://github.com/arrowrowe/arrowrowe.github.io).......

感觉不如 Angular 顺手, 可能用熟了就好了..........- - 然后就是 HTML 比 Angular 干净...

[2015-10-31 13:32] at15 commented on #12
@tq5124 问题我在qa上问你了

[2015-11-01 10:38] ComMouse commented on #12
http://gameprogrammingpatterns.com/

[2015-11-01 10:41] ComMouse commented on #12
Flash API Like JavaScript Gaming Engine http://www.egret.com/

[2015-11-01 10:44] ComMouse commented on #12
http://gogs.io Painless self-hosted Git Service

[2015-11-01 10:45] ComMouse commented on #12
Strange Things: https://github.com/Bilibili/DanmakuFlameMaster

[2015-11-01 10:48] ComMouse commented on #12
https://github.com/guzzle/guzzle HTTP Client

[2015-11-01 10:49] arrowrowe commented on #12
@ComMouse 来圆厅准备面试吧...

[2015-11-01 13:40] at15 commented on #12
@ComMouse another html5 game engine https://github.com/fireball-x
git host in scala https://github.com/gitbucket/gitbucket

[2015-11-02 08:12] LukeXuan commented on #12
baidu全家桶系列：http://drops.wooyun.org/papers/10061
pypy 4.0.0 release

[2015-11-02 15:10] tq5124 commented on #12
re @arrowrowe 好评！动作好快。。。最近用Angular觉得太大，因为我基本都是写demo级别的小项目。大型SPA应该是Angular比较好

[2015-11-02 15:14] arrowrowe commented on #12
re @tq5124: Vue.js 写大小项目都可以, 感觉口碑挺好的, 多用也许就能发现它的好处了 orz. 目前感觉是写小项目用 Vue.js 挺方便的.

[2015-11-02 15:16] LukeXuan commented on #12
@arrowrowe @tq5124 重型不是有EXTJs这个大杀器么（

[2015-11-02 15:17] arrowrowe commented on #12
re @LukeXuan: OTL...........

[2015-11-02 15:29] at15 commented on #12
@LukeXuan ext收费 https://www.sencha.com/store/ 然后就没有然后了.....

[2015-11-02 16:16] at15 commented on #12
sass 的各个阶段教程 http://thesassway.com/beginner/how-to-structure-a-sass-project
angularjs 的`controller as` http://toddmotto.com/digging-into-angulars-controller-as-syntax/
在angular1.x中使用es6 http://www.michaelbromley.co.uk/blog/350/exploring-es6-classes-in-angularjs-1-x%20nice

[2015-11-04 02:10] arrowrowe commented on #12
[HTML5表单编辑器](http://madeinpluto.com/responsive_form_generator/) ~~想想同去那个bug巨多的版本...~~

[2015-11-04 03:30] xsfour commented on #12
# Weekly 29/10 - 04/11

周报第五期
- 催稿人: @xsfour
- 交稿人: @sway @tq5124 @arrowrowe @at15 @ComMouse @LuKeXuan

## 一波开源项目

#### `Sublime Text`
- [Sublime的格式化插件](https://github.com/victorporof/Sublime-HTMLPrettify):HTML, CSS, JavaScript and JSON code formatter for Sublime Text 2 and 3 via node.js

#### `Node.js`
- [简单的node版本管理](https://github.com/tj/n):Simple flavour of node/iojs binary management, no subs

[2015-11-04 03:50] arrowrowe commented on #12
@xsfour Why don't u just push this to your fork and send a PR?...

[2015-11-04 07:15] at15 opened #15 "Weekly for 11-11"
This time 第六期 -> @LukeXuan

[2015-11-04 08:37] arrowrowe commented on #15
要不 @LukeXuan 开个 PR? 大家投稿在 PR 里, 然后下周三 merge 掉. @at15

[2015-11-04 08:42] arrowrowe commented on #12
Mails sent.

[2015-11-04 08:42] #12 closed, assigned to xsfour

[2015-11-04 10:01] at15 commented on #15
@arrowrowe 我觉得还是统一放在一个repo的issue里好一点， 用pr怎么投稿？大家都在他的fork里开issue， 还是大家都fork， 感觉直接issue评论是最简洁方便的。最后汇总的时候可以开个pr, 这样可以不用把每个人都加协作。

[2015-11-04 10:44] arrowrowe commented on #15
OK, 那就出初稿以后开PR, 然后PR里放对初稿的评论

[2015-11-04 10:59] LukeXuan commented on #15
ECMAScript 6: http://www.smashingmagazine.com/2015/10/es6-whats-new-next-version-javascript/

[2015-11-05 15:16] arrowrowe commented on #15
[What You Should Know about Node.js v5 and More](https://nodejs.org/en/blog/community/node-v5/): ~~Node.js 的奇(Stable)与偶(LTS).~~

UPDATE: Node v6 发布, 奇偶分已经失效.

[2015-11-05 17:56] at15 commented on #15
https://github.com/PHPFastCGI/FastCGIDaemon 以daemon运行php, 多个请求使用同一个进程, 提高性能。好像是加了一个连接池。(其实把php弄成这样感觉真不如用java....

https://github.com/overtrue/wechat 可能是目前最优雅的微信php sdk (话说感觉很多产品的php sdk都写的很xx, 比如支付宝的.... 微信的并没有看过。

https://github.com/scotch-io/scotch-box  lamp的vagrantbox, 不过并没有看跟homestead有什么区别, 另外东岳应该也得有标配的box了吧，用自动脚本安装，可以发布到vagrant上然后升级之类的。现在每次手动敲命令然后package还是太原始了。

https://github.com/owncloud/co

[2015-11-05 18:02] at15 commented on #15
https://github.com/coduo/php-humanizer 目前还没有中文的翻译，有人感兴趣么？可以开个pr，或者交给小盆友? @arrowrowe

[2015-11-06 03:16] LukeXuan commented on #15
@at15 赞

[2015-11-06 12:14] ComMouse commented on #15
@at15 see https://github.com/coduo/php-humanizer/tree/master/src/Coduo/PHPHumanizer/Resources/translations
点赞

[2015-11-06 13:56] arrowrowe commented on #15
re @at15 @LukeXuan @ComMouse: already done in coduo/php-humanizer#53.

[2015-11-07 01:13] at15 commented on #15
- java 代码错误监控 https://www.takipi.com
- 在so上看到的一家招聘的上海公司 http://mediasia-interactive.com/  好像是用drupal (drupal据说很屌... 不过我对很有历史的php项目都有种抵触...
- https://www.drupal.org/ 几大国外老牌phpcms之一

[2015-11-07 10:30] arrowrowe commented on #15
[Awesome Atom Packages and More](http://arrowrowe.me/#!/blog/2015/awesome-atom-packages-and-more): Atom 插件推荐.

[2015-11-07 17:38] at15 commented on #15
- scala的爬虫 https://github.com/gaocegege/scrala
- nodebb nodejs做的实时论坛, 感觉现在以前php擅长的事用node越来越更合适了，比如论坛,cms https://github.com/NodeBB/NodeBB 另外里面的package.json很值得一看

[2015-11-09 04:07] arrowrowe commented on #15
[What’s new in WebStorm 11](https://www.jetbrains.com/webstorm/whatsnew/)

[2015-11-09 07:12] arrowrowe commented on #15
[前端代码风格检查套件 FECS](http://efe.baidu.com/blog/fecs/)

[2015-11-10 05:36] at15 commented on #15
[TensorFlow](http://tensorflow.org/) ([repo](https://github.com/tensorflow/tensorflow)): an open source software library for numerical computation using data flow graphs, originally developed by researchers and engineers working on the Google Brain Team within Google's Machine Intelligence research organization for the purposes of conducting machine learning and deep neural networks research.

三星的

[2015-11-10 15:08] at15 commented on #15
flex的一些bug和workaround https://github.com/philipwalton/flexbugs

[2015-11-11 03:40] at15 commented on #15
物联网的js iotjs http://samsung.github.io/iotjs/
开源的pass https://github.com/deis/deis

[2015-11-11 12:43] arrowrowe opened #17 "Weekly for 2015/11/18"
第七期, back to @at15

[2015-11-11 12:47] swaylq commented on #17
看似和jQuery类似，实则可以绘制SVG的强大工具 http://d3js.org/
为SVG加上动画 http://maxwellito.github.io/vivus/

两者配合起来什么复杂的动画都可以做了。

[2015-11-11 12:49] arrowrowe commented on #17
[tholman/github-corners](https://github.com/tholman/github-corners): 漂亮的 GitHub 页角. 基于 SVG.

[2015-11-11 14:24] arrowrowe commented on #15
Mail sent.

[2015-11-11 14:24] #15 closed, assigned to LukeXuan

[2015-11-11 15:26] arrowrowe commented on #17
[Learn Git and GitHub | wheelhouse](http://www.wheelhouse.io/learn-github/), an awesome tutorial integrated with GitHub.

[2015-11-12 08:15] at15 commented on #17
https://github.com/hangtwenty/dive-into-machine-learning 又一个machine learning的入门, python 版。之前有一个blog是java版的，不过我看到一半就忘了...  see https://github.com/dyweb/web-stuff/blob/master/weekly/2015/1014.md#机器学习

[2015-11-13 02:38] at15 commented on #17
- 新人pr友好型的项目 https://github.com/MunGell/awesome-for-beginners 水awesome哥Sindre Sorhus的twitter看到的
- 免费在线的es6书 http://exploringjs.com/

[2015-11-13 13:21] ComMouse commented on #17
Strange things to designers: [设计师DPI指南(翻译)](http://www.w3ctech.com/topic/674)

[2015-11-13 15:28] ComMouse commented on #17
[JavaScript Object Pool](http://blog.sklambert.com/javascript-object-pool/)  使用对象池以节约重复创建销毁对象的开销

[2015-11-13 15:55] at15 commented on #17
http://blog.sklambert.com/galaxian-html5-game/ 从 @ComMouse 的链接里找到的 html5 的打飞机小游戏

[2015-11-13 16:50] ComMouse commented on #17
Beautified PHP Error Display: http://filp.github.io/whoops/

LogViewer for Laravel 5 (Lack of Chinese translation): https://github.com/ARCANEDEV/LogViewer

Another Version: https://github.com/rap2hpoutre/laravel-log-viewer

Laravel DebugBar: https://github.com/barryvdh/laravel-debugbar

[Ceaser](http://matthewlein.com/ceaser/) CSS Easing Animation Tool

[Bootstrap 4](http://v4-alpha.getbootstrap.c

[2015-11-14 10:40] ComMouse commented on #17
LogViewer for Laravel 5 (Lack of Chinese translation): https://github.com/ARCANEDEV/LogViewer

[2015-11-14 12:10] ComMouse commented on #17
[Ceaser](http://matthewlein.com/ceaser/) CSS Easing Animation Tool

[2015-11-15 04:20] at15 commented on #17
- [java 的 websocket framework](https://github.com/Atmosphere/atmosphere)
- [java 的权限验证系统](http://shiro.apache.org/)

[2015-11-15 08:13] arrowrowe commented on #17
[Vue.js：a (re)introduction](http://zhuanlan.zhihu.com/evanyou/20302927): Vue.js 最近安利越来越频繁了呢...

[2015-11-15 15:36] at15 commented on #17
- [nodejs 双十一的表现](http://www.zhihu.com/question/37379084)
- [微软小宇宙实力合集](https://github.com/Microsoft/Windows-universal-samples)

[2015-11-16 03:55] arrowrowe commented on #17
re @ComMouse: [LogViewer](https://github.com/ARCANEDEV/LogViewer) Chinese Simplified translation added in ARCANEDEV/LogViewer#24.

[2015-11-16 07:09] at15 commented on #17
- [myspace](https://myspace.com/) 的页面效果, 打字就开始搜索。
- [火狐的账户系统](https://github.com/mozilla/fxa-content-server), 里面提到了用docker开发
- [15年双11手淘前端技术巡演](https://github.com/amfe/article/issues/11)

[2015-11-16 14:54] at15 commented on #17
@LukeXuan [android chrome 地址栏颜色](http://stackoverflow.com/questions/26960703/how-to-change-the-color-of-header-bar-and-address-bar-in-newest-android-chrome-v)

[2015-11-16 17:59] at15 commented on #17
[火狐的开发者版](https://www.mozilla.org/en-US/firefox/developer/), 好像很久没用火狐了，自从它的审查元素变的跟chrome一样之后

[2015-11-17 05:57] xsfour commented on #17
GFW http://drops.wooyun.org/papers/10177

[2015-11-17 06:18] arrowrowe commented on #17
[SigmaJS](http://sigmajs.org/), yet another JavaScript library dedicated to graph drawing.

[2015-11-18 02:04] at15 commented on #17
- https://github.com/ukupat/trolol 用来恶搞小伙伴电脑的工具, 作者列了几个可以改进的地方。(但是用这种东西不是会被小伙伴打死
- https://plot.ly/javascript/open-source-announcement/ 又一个开源的图表库，而且这个公司好像还有其他语言，比如R的图表库

[2015-11-18 09:01] at15 commented on #17
- https://github.com/docker/dockercraft
- https://github.com/cuberite/cuberite
- https://gamocosm.com/

[2015-11-18 13:40] arrowrowe opened #19 "Weekly for 2015/11/25"
第八期 -> @swaylq

[2015-11-18 13:44] arrowrowe commented on #17
Mails sent.

[2015-11-18 13:44] #17 closed, assigned to at15

[2015-11-18 16:01] at15 commented on #19
- https://github.com/Microsoft/DMTK 巨硬的ml

[2015-11-19 10:21] at15 commented on #19
- https://github.com/apidoc/apidoc 使用注释生成api文档, 缺少简体中文的汉化.... 而且判定语言的方式好粗暴, [只取language的前两个字符](https://github.com/apidoc/apidoc/blob/71f88c3391ae970443b4071a5d682627b50efcf3/template/locales/locale.js#L13) 所以 zh-CN 才会显示繁体. @arrowrowe 汉化咩

[2015-11-19 11:47] arrowrowe commented on #19
- [instantsearch.js](https://community.algolia.com/instantsearch.js/), a library of UI widgets to build the best instant-search experience.

[2015-11-19 12:15] at15 commented on #19
- openapi, 由 swagger 发起, 致力于rest api的发展... http://swagger.io/introducing-the-open-api-initiative/
- http://collabprojects.linuxfoundation.org/  跟linux基金会(?)合作的项目 openapi 是其中之一,  里面还有很多其他项目, 感觉要搞的跟apache一样了, 虽然apache自己不是那么nb了，但是apache基金会下面的一排都很nb....

[2015-11-19 13:30] ComMouse commented on #19
@at15 locale 判定是优先找源语言，然后再找前两个字符的。。不存在问题。。

[2015-11-19 13:31] ComMouse commented on #19
[FineUploader](https://github.com/FineUploader/fine-uploader) 文件上传组件

[2015-11-19 14:27] at15 commented on #19
@ComMouse 嗯, 是我没仔细看代码... btw: FineUploader 商业版收费

[2015-11-19 18:08] at15 commented on #19
- https://www.intercom.io/in-app-messaging 用于用户反馈和通知的工具

[2015-11-20 04:05] arrowrowe commented on #19
- [waifu2x](https://github.com/lltcggie/waifu2x-caffe) (知乎专栏介绍: [二次元图片 拉伸&降噪 神器——waifu2x算法](http://zhuanlan.zhihu.com/echorish/20354280)): 二次元图片拉伸&降噪

[2015-11-20 04:51] arrowrowe commented on #19
- [ied](http://gugel.io/ied/): Like npm, but faster - an alternative package manager for Node.

[2015-11-20 04:59] ComMouse commented on #19
- [ZRender](https://github.com/ecomfe/zrender) 轻量级 Canvas 类库，支持 IE 6

[2015-11-20 06:41] arrowrowe commented on #19
- [Foundation 6.0](https://github.com/zurb/foundation-sites) (speckyboy: [Foundation 6: Prototype to Production](http://speckyboy.com/2015/11/19/foundation-6/))

[2015-11-20 13:33] arrowrowe commented on #19
- [Node v5.1.0](https://nodejs.org/en/blog/release/v5.1.0/)

[2015-11-21 10:06] ComMouse commented on #19
- 高产的 B 站 H5 专题页之 [Fate/Grand Order](http://fgo.biligame.com/index.html)

[2015-11-21 10:18] at15 commented on #19
- [Push notifications for cordova (ios, android) browser (Chrome, Safari, Firefox)](https://github.com/raix/push)

[2015-11-21 11:27] at15 commented on #19
haxe , 具体的 @ComMouse  来补充吧，看上去很有趣

[2015-11-21 14:29] at15 commented on #19
无意发现了那次emc比赛的网站... https://github.com/Nihiue/kesci2.0

[2015-11-21 17:37] ComMouse commented on #19
@at15 Haxe is intially for Flash Platform (when AS3 is the hit) and now it's only with few libs like OpenFL. Now the hit is the ES6, so ignore it...

After all, all the universe think that ES6 can do everything. However, Haxe just wants to implement a cross-platform "Flash" till now.

[2015-11-21 18:11] ComMouse commented on #19
Laravel has an official tutorial recently! It may help beginners get familiar with Laravel more quickly!

Laravel official tutorials (A relatively complete intro):
[Basic Task List](http://laravel.com/docs/5.1/quickstart):  Introduce Laravel as a light framework
[Intermediate Task List](http://laravel.com/docs/5.1/quickstart-intermediate):  Introduce Laravel in all aspects we may use frequently as

[2015-11-21 18:54] tq5124 commented on #19
Gamepad API in browers: http://www.smashingmagazine.com/2015/11/gamepad-api-in-web-games/

Web notification plugin: https://jaredreich.com/projects/notie.js/

[2015-11-22 02:55] at15 commented on #19
- https://github.com/shekhargulati/youtube-dl-scala @gaocegege

[2015-11-22 03:12] gaocegege commented on #19
The brother's code style is wonderful. @at15

[2015-11-22 03:24] at15 commented on #19
@gaocegege I just want to download the videos that youtube recommends for me, like `the top 10 sexy actress` etc ...

[2015-11-22 03:48] gaocegege commented on #19
你好脏 @at15

[2015-11-22 07:05] ComMouse commented on #19
[Laravel 5 Basic Video Tutorial](https://laravist.com/series/laravel-5-basic)
[Dingo API](https://github.com/dingo/api) API Package for Laravel
[Awesome Laravel](https://github.com/chiraggude/awesome-laravel): Laravel encyclopedia
[Awesome PHP](https://github.com/ziadoz/awesome-php)

[2015-11-22 10:37] at15 commented on #19
支持html5 的直播服务器 https://github.com/vbence/stream-m
国人做的直播服务器集群 https://github.com/ossrs/srs

[2015-11-23 04:06] arrowrowe commented on #19
- [Unreal.js](https://github.com/ncsoft/Unreal.js), a plug-in which brings V8-powered Javascript into UnrealEngine4. ~~召唤东岳游戏组~~

![Unreal.js example 2048](https://github.com/ncsoft/Unreal.js/raw/master/doc/images/UnrealJs_example_2048.gif)

[2015-11-23 04:15] arrowrowe commented on #19
- [Top 10 Sketch To HTML Conversion Service Providers](http://codecondo.com/top-10-sketch-to-html-conversion-service-providers/): 不知道有没有用...... 谁有空试试......

[2015-11-23 04:17] arrowrowe commented on #19
- [CacheBrowser](https://github.com/CacheBrowser/cachebrowser), a proxy-less censorship resistance tool.

[2015-11-23 05:56] at15 commented on #19
转自 https://github.com/zenany/weekly
- 巨硬整理的node入门教程 https://github.com/Microsoft/nodejs-guidelines
- 前端开发笔记本 https://li-xinyang.gitbooks.io/frontend-notebook/content/

**Tradeoffs in server side and client side rendering**
- https://medium.com/google-developers/tradeoffs-in-server-side-and-client-side-rendering-14dad8d4ff8b
- http://www.onebigfluke.com/2015/01/experimentally-verified-why-client-si

[2015-11-23 09:17] LukeXuan commented on #19
TLS: http://vincent.bernat.im/en/blog/2011-ssl-perfect-forward-secrecy.html

[2015-11-24 01:03] at15 commented on #19
- https://github.com/NARKOZ/hacker-scripts 可以加个php版的...

[2015-11-24 01:04] at15 commented on #19
- https://github.com/legomushroom/mojs motion graphics library for the web

[2015-11-24 01:34] at15 commented on #19
- https://github.com/scil/LaravelFly swoole + laravel @ComMouse

[2015-11-24 01:45] at15 commented on #19
- https://www.algolia.com 一个搜索api提供商，可以根据你提供的json来提供全文搜索，很适合个人博客 @arrowrowe

[2015-11-24 04:26] arrowrowe commented on #19
re @at15: got. 等手头一波答辩和考试结束再看看 = =...

[2015-11-24 09:55] arrowrowe commented on #19
- [mo · js](https://github.com/legomushroom/mojs), motion graphics library for the web.

[2015-11-24 12:07] ComMouse commented on #19
https://www.jetbrains.com/dbe

JB 家的数据库 IDE

[2015-11-24 12:46] at15 commented on #19
@ComMouse 右下角是亮点

[2015-11-25 05:44] at15 commented on #19
http://zhuanlan.zhihu.com/FrontendMagazine/20367175 webpack 傻瓜式指南 @arrowrowe

[2015-11-25 07:22] arrowrowe commented on #19
- [Webpack傻瓜式指南（一）](http://zhuanlan.zhihu.com/FrontendMagazine/20367175)

[2015-11-25 13:28] arrowrowe opened #20 "Weekly for 2015/12/02"
第九期 -> @arrowrowe

[2015-11-25 13:31] arrowrowe commented on #19
Mails sent.

[2015-11-25 13:31] #19 closed, assigned to swaylq

[2015-11-25 15:00] ComMouse commented on #20
### Identicon Generator (GitHub Like Avatars)

[Identicon generator for PHP](https://github.com/yzalis/Identicon)
[RubyIdenticon](https://github.com/chrisbranson/ruby_identicon)
[Blockies](https://github.com/download13/blockies)

[2015-11-27 06:46] arrowrowe commented on #20
- [GitHub: Support https on GitHub pages with custom domains](https://gist.github.com/coolaj86/e07d42f5961c68fc1fc8)

[2015-11-27 11:03] arrowrowe commented on #20
- [Updtr](https://github.com/peerigon/updtr) updates outdated npm modules with zero pain™.

[2015-11-27 11:25] arrowrowe commented on #20
### Editor: Visual Studio Code

[Visual Studio Code](https://code.visualstudio.com/) is a multi-platform code editor for [various languages](https://code.visualstudio.com/docs/languages/overview). (Same as Atom and Sublime.)

It supports [extensions](https://code.visualstudio.com/docs/extensions/overview), though since not very long ago. As you can see, the download numbers in its [marketplace](ht

[2015-11-27 13:07] at15 commented on #20
@arrowrowe I am using vscode for most of my text related work it has little different with sublime and atom, and it does not have spell check. But it works well with C# and is light weight.

[2015-11-27 14:37] LukeXuan commented on #20
# Atom

I use atom for most **script** and **text** editing. It features coffee-script and the active eco system. But it terrifies users with its **poor performance** in loading and editing large files.

[2015-11-27 14:53] ComMouse commented on #20
[AdminLTE](https://almsaeedstudio.com/): Admin dashboard & control panel theme based on Bootstrap 3

[2015-11-28 04:56] arrowrowe commented on #20
### [Introduction to Testing Node.js](https://www.youtube.com/watch?v=u2XCdkL4bWI)

#### Testing Patterns
- **Unit**: Small tests covering individual functions. 单个函数的输入输出.
- **Integration**: Integrated modules (combined functionality). 模块合作.
- **Functional**: Focused on end result of large actions. 规模较大的行为的最终输出.
- **Acceptance**: Typically client-side, end-to-end testing. 用户向.

[2015-11-28 05:46] arrowrowe commented on #20
- [A Simulation In Emoji](http://ncase.me/emoji-prototype/). This (prototype) is a tool that lets you _simulate systems of the world_. In emoji.

[2015-11-28 12:54] ComMouse commented on #20
[VIM Adventures](http://vim-adventures.com/)

[2015-11-28 19:15] at15 commented on #20
https://github.com/basicallydan/forkability 检查你的repo可fork性如何

[2015-11-29 03:15] at15 commented on #20
https://github.com/bwapi/bwapi 星际争霸 AI @arrowrowe

[2015-11-29 10:23] ComMouse commented on #20
- [RESTFUL API 安全设计指南](http://drops.wooyun.org/web/9737)

[2015-11-30 04:08] xsfour commented on #20
- [前端加密](http://www.cnblogs.com/index-html/p/4999897.html)

[2015-11-30 08:27] at15 commented on #20
- [用canvas写h5画图](http://www.williammalone.com/articles/create-html5-canvas-javascript-drawing-app/), 这个人博客里有好几篇相关的文章.

[2015-12-01 04:21] arrowrowe commented on #20
- [Move.js](https://github.com/visionmedia/move.js), a CSS3 JavaScript animation framework.

[2015-12-01 17:17] at15 commented on #20
- [十年来感受的前端技术变化](https://github.com/xufei/blog/issues/28)

[2015-12-02 07:36] at15 commented on #20
- 一个php的cms, 看php7的hashtag时无意看到的 http://statamic.com/ 看上去不错, 支持文章的历史 @ComMouse

[2015-12-02 07:37] at15 commented on #20
- php7 正式发布 https://github.com/php/php-src/releases/tag/php-7.0.0
- php7 贡献者列表 http://devzone.zend.com/6956/php-7-core-contributors-thankyou/

[2015-12-02 07:38] at15 commented on #20
- 前端移动开发收藏夹 https://github.com/hoosin/mobile-web-favorites

[2015-12-02 09:05] at15 commented on #20
- https://github.com/mwilliamson/python-mammoth docx 转 html thanks to @gaocegege

[2015-12-02 11:40] arrowrowe opened #22 "Weekly for 2015/12/09"
第十期 -> @ComMouse

投稿: @at15 @arrowrowe @ComMouse

[2015-12-02 11:44] arrowrowe commented on #20
Mails sent.

[2015-12-02 11:44] #20 closed, assigned to arrowrowe

[2015-12-02 12:06] ComMouse commented on #20
PHP 7 明天才发布。。。

[2015-12-02 12:07] at15 commented on #20
@ComMouse 你可以修改一下...

[2015-12-02 17:01] at15 commented on #22
- [Background jobs with php and resque](http://kamisama.me/2012/10/09/background-jobs-with-php-and-resque-part-1-introduction/), 好像是国人写的, php和后台job入门.

[2015-12-03 03:51] arrowrowe commented on #22
- [HearthSim](http://hearthsim.info/), Hearthstone Simulation & AI.

[2015-12-03 05:24] arrowrowe commented on #22
- [Kue](https://github.com/Automattic/kue), a feature rich priority job queue for node.js backed by redis.

[2015-12-03 05:58] at15 commented on #22
@arrowrowe can u work on cure-web now .....

[2015-12-03 07:46] arrowrowe commented on #22
@at15 yes....

[2015-12-03 14:05] at15 commented on #22
- [Amp](http://amphp.org/), a non-blocking concurrency framework for PHP applications.

[2015-12-04 04:50] arrowrowe commented on #22
- [ECharts 3 带来了什么](http://echarts.baidu.com/related/blog/ec3new/ec3new.html), 一篇 [EChart 3](http://ecomfe.github.io/echarts-builder-web/echarts3.html) 的安利贴.

[2015-12-04 05:23] at15 commented on #22
- https://valdhaus.co/books/ 各种运维工具的对比，只要$279... 不过觉得我们可以用 http://www.ansible.com/

[2015-12-04 11:43] at15 commented on #22
- http://verizoncraft.github.io/ 一个grid的系统
- http://www.websterhall.com/timeline/  一个时间线

[2015-12-04 17:41] at15 commented on #22
- [httpbin](http://httpbin.org/), 可以用来测试各种 http 请求的服务.

[2015-12-05 04:12] at15 commented on #22
- [nuprl/10PL](https://github.com/nuprl/10PL), 10 个 PhD 学生应该知道的 paper.

[2015-12-05 04:22] at15 commented on #22
- [Phan](https://github.com/etsy/phan), PHP 静态分析工具.

[2015-12-05 08:42] arrowrowe commented on #22
- [Oh](https://github.com/michaelmacinnis/oh), a Unix shell written in Go.

[2015-12-05 10:46] ComMouse commented on #22
PHP 7 Released
http://php.net/archive/2015.php#id2015-12-03-1

[2015-12-06 04:35] arrowrowe commented on #22
有人科普一下 PHP7 的性能提升点和相关 Best Practice 嘛

[2015-12-06 04:51] at15 commented on #22
- https://duckduckgo.com/ 一个不会跟踪你的搜索引擎, 基于 apache solr, but ... 怎么盈利呢...

[2015-12-06 05:17] at15 commented on #22
- http://www.zhokhov.com/ 一个在中国的俄罗斯程序员... 因为奇怪为什么会有外国人用中文分词找到的

[2015-12-06 05:17] ComMouse commented on #22
[WAI-ARIA无障碍网页应用属性完全展示](http://www.zhangxinxu.com/wordpress/2012/03/wai-aria-%E6%97%A0%E9%9A%9C%E7%A2%8D%E9%98%85%E8%AF%BB/)

[2015-12-06 05:23] ComMouse commented on #22
@arrowrowe https://github.com/codeguy/php-the-right-way/commit/323e0d686594849d456473eabd6831d37305caec
http://www.laruence.com/2015/12/04/3086.html

[2015-12-06 05:47] ComMouse commented on #22
[深入理解PHP内核(Thinking In PHP Internals)](https://github.com/reeze/tipi)
似乎 5.5 以上没有提及。。

[2015-12-06 07:22] arrowrowe commented on #22
re @ComMouse thanks

[2015-12-06 12:43] arrowrowe commented on #22
- [10 Mistakes to Avoid on AngularJS](http://codecondo.com/10-mistakes-to-avoid-on-angularjs/)

[2015-12-06 15:49] at15 commented on #22
- https://github.com/thoughtbot/administrate   a super-flexible admin dashboard 虽然不是太复杂，但是有完整的测试

[2015-12-06 15:52] at15 commented on #22
- https://github.com/DGZ-F2E/rails-ant-design 在rails里使用ant-design @arrowrowe  btw:DGZ 就是gitcafe, guess still have someone I know working there ....

[2015-12-06 16:05] at15 commented on #22
from https://github.com/zenany/weekly
- http://toutiao.com/i6223360372221411841/ 前QQ浏览器产品负责人薛珺：从0到1深度认识产品经理（万字长文）
- https://github.com/katiefenn/parker css静态分析工具
- http://mp.weixin.qq.com/s?__biz=MjM5MTA1MjAxMQ==&mid=401039038&idx=1&sn=a09d09fe363c184d9b486c8650d5d869&scene=0#wechat_redirect   全栈设计师 @艺术家乾乾

[2015-12-06 16:08] at15 commented on #22
- https://github.com/katiefenn/parker css静态分享工具

[2015-12-07 08:04] at15 commented on #22
- https://github.com/greatghoul/remote-working 远程工作 @scottsun94 远程的设计也有
- http://yizaoyiwan.com/discussion/79  从300到300万，一个远程外包团队的发展历程和经验

[2015-12-08 05:45] at15 commented on #22
- https://github.com/mscdex/node-imap node的imap客户端, 可以用来做个简易的邮件客户端?

[2015-12-08 05:48] arrowrowe commented on #22
- [MathJax](https://github.com/mathjax/MathJax) ([Offical Website](https://www.mathjax.org/)), beautiful math in all browsers -- A JavaScript display engine for mathematics that works in all browsers. No more setup for readers. It just works.

[2015-12-08 09:13] arrowrowe commented on #22
- [How to fix a bad user interface](http://scotthurff.com/posts/why-your-user-interface-is-awkward-youre-ignoring-the-ui-stack) (超长文......)

[2015-12-08 10:47] at15 commented on #22
- https://github.com/keystonejs/keystone nodejs cms and web app framework

[2015-12-08 17:30] at15 commented on #22
- https://github.com/davidlazar/vuvuzela Private messaging system that hides metadata

[2015-12-09 14:34] #22 closed, assigned to ComMouse

[2015-12-09 14:35] ComMouse opened #24 "Weekly for 2015/12/16"
第十一期 -> @xsfour

投稿: @at15 @arrowrowe @ComMouse @swaylq @LukeXuan

[2015-12-09 16:31] at15 commented on #24
- [angular weekly meeting notes](https://docs.google.com/document/d/150lerb1LmNLuau_a_EznPV1I1UHMTbEl61t4hZ7ZpS0/edit?pli=1#heading=h.5kbngfq9twyj)

[2015-12-10 07:27] at15 commented on #24
- https://github.com/komarserjio/notejam Unified sample web app. The easy way to learn web frameworks 包含 laravel, java 的 spring, express, 还有测试

[2015-12-10 11:25] at15 commented on #24
- [coding.net 的docker应用](http://mp.weixin.qq.com/s?__biz=MzA3ODUxMjMyMw==&mid=400967152&idx=1&sn=36d1f0fb34bbc8e425b4f117104991af&scene=0&key=ac89cba618d2d97630eb5521fff2f70507d5644d33ecfc68c5b1286b8094d5a46f5e3bd59920aa9d377ea31b9161977f&ascene=0&uin=Mjc0NzI0MjkwNQ%3D%3D&devicetype=iMac+MacBookPro12%2C1+OSX+OSX+10.10.5+build%2814F1021%29&version=11020201&pass_ticket=n%2F8n1JgS1jga%2FntVuQzJDRLNhy

[2015-12-11 17:53] at15 commented on #24
- http://goocreate.com/product/ js的3d游戏引擎
- http://www.cannonjs.org/ js的物理引擎

[2015-12-12 12:11] ComMouse commented on #24
[为什么 HTTP 有时候比 HTTPS 好？](http://www.oschina.net/translate/why-http-is-sometimes-better-than-https) 欲扬先抑 | 逗你玩慎入

[2015-12-12 12:17] ComMouse commented on #24
https://github.com/letsencrypt/letsencrypt 免费开源的 SSL 证书服务的客户端

目前在公测阶段

[2015-12-13 05:48] at15 commented on #24
- https://github.com/shajiquan/gitit-bigger  一个基于git的wiki

[2015-12-13 05:51] at15 commented on #24
- https://github.com/Quartz/bad-data-guide 如何处理实际中那些不合规范的数据, 特别适合excel导入 @xsfour

[2015-12-13 05:52] arrowrowe commented on #24
- [Torch](http://torch.ch/) ([@github](https://github.com/torch)), a scientific computing framework. (though not related to web, we may use it to analyze tongqu?...)

[2015-12-13 05:57] at15 commented on #24
@arrowrowe we were using prediction.io, the task was originally assigned to @mingo-x, however, you know.

[2015-12-13 10:40] at15 commented on #24
- https://github.com/c9/core 可以在本地host一个cloud9 感觉很屌

[2015-12-14 03:58] at15 commented on #24
- https://github.com/phanan/koel 用laravel写的music stream server, 看上去很像网易云 ...

[2015-12-14 04:03] at15 commented on #24
- http://www.infoq.com/news/2015/11/Azure-PowerApps MS的App(表单)构建工具

[2015-12-14 08:57] arrowrowe commented on #24
@at15 感觉 [koel](http://koel.phanan.net/) 可以有空搭一个玩玩...

[2015-12-14 09:01] arrowrowe commented on #24
- [node-letsencrypt](https://github.com/Daplie/node-letsencrypt), automatic [Let's Encrypt](https://lettsencrypt.org/) HTTPS Certificates for node.js.

[2015-12-14 09:04] arrowrowe commented on #24
- [Baidu says it’s developed China’s first fully autonomous self-driving car](http://venturebeat.com/2015/12/09/baidu-says-its-developed-chinas-first-fully-autonomous-self-driving-car/)

![Baidu's autonomous self-driving car on road](http://venturebeat.com/wp-content/uploads/2015/12/road-test-photo-1-e1449724496278.jpg)

[2015-12-14 09:09] arrowrowe commented on #24
- [Google has quietly launched an Akamai competitor](http://venturebeat.com/2015/12/09/google-cloud-cdn/) -- Google has quietly started offering [Google Cloud CDN service](https://cloud.google.com/compute/docs/load-balancing/http/cdn), a new content-delivery network (CDN) that should appeal to independent developers who want their applications to load quickly.

[2015-12-14 09:17] arrowrowe commented on #24
- [Cuberite](https://github.com/cuberite/cuberite), a Minecraft-compatible multiplayer game server that is written in C++ and designed to be efficient with memory and CPU, as well as having a flexible Lua Plugin API.
- See more in [Hacking Minecraft of GitHub Trends](https://github.com/showcases/hacking-minecraft).

[2015-12-14 14:28] arrowrowe commented on #24
- [Javascript CSV Export with Unicode Symbols](https://www.shieldui.com/javascript-unicode-csv-export)

[2015-12-14 16:15] at15 commented on #24
- https://github.com/moonbingbing/openresty-best-practices openresty最佳实践 (btw: lua 数组从1开始啊..)
- http://www.redbook.io/

[2015-12-15 04:30] arrowrowe commented on #24
- [20 Useful Laravel Packages](http://code.tutsplus.com/articles/20-useful-laravel-packages-available-on-codecanyon--cms-25334)

[2015-12-15 09:01] at15 commented on #24
- https://github.com/leizongmin/programmer-calendar 命令行版程序员老黄历 from @gaocegege

[2015-12-15 09:24] at15 commented on #24
https://pdos.csail.mit.edu/6.824/index.html MIT的分布式课, 用go @arrowrowe 有兴趣和 @gaocegege 一起么?

[2015-12-16 08:58] ComMouse commented on #24
https://github.com/alsotang/node-lessons Node.js 包教不包会

[2015-12-16 13:41] arrowrowe opened #26 "Weekly for 2015/12/23"
第十二期 -> @LukeXuan

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [ ] @xsfour
- [x] @LukeXuan
- [x] @tq5124

[2015-12-16 13:50] #24 closed, assigned to xsfour

[2015-12-16 14:13] arrowrowe commented on #26
- [C](https://github.com/ryanmjacobs/c), compile and execute C "scripts" in one go!

[2015-12-16 14:26] at15 commented on #26
@arrowrowe even it's just one command .... I'd rather write php ... `php mie.php`

[2015-12-16 14:29] arrowrowe commented on #26
@at15 prefer Node or Python's REPL...

[2015-12-16 14:32] at15 commented on #26
@arrowrowe scala also have REPL, @精通scala的xyp

[2015-12-16 14:51] arrowrowe commented on #26
- [Story-graph](https://github.com/incrediblesound/story-graph), The Graph that Generates Stories.

[2015-12-16 18:03] LukeXuan commented on #26
tensorflow.org 谷歌最近开源的机器学习引擎 学习中

[2015-12-17 11:38] at15 commented on #26
- https://github.com/substack/stream-handbook 理解nodejs里的stream, 跟系统的stream是可以互操作的

[2015-12-17 11:50] arrowrowe commented on #26
- [How Do I Into Git?](https://gist.github.com/mplewis/a7563c7cb589048a071b), yet another Git quick guide.

[2015-12-18 16:35] at15 commented on #26
http://www.cs.usfca.edu/~galles/visualization/Algorithms.html 各种算法的动态展示

[2015-12-20 15:37] tq5124 commented on #26
~~https://github.com/substack/stream-handbook~~

~~Node stream handbook~~

Depulicated

[2015-12-20 15:51] at15 commented on #26
@tq5124 前几天刚看了, 能跟系统的流交互还是很好玩的, btw: 你是不是该放假了?

[2015-12-20 16:32] tq5124 commented on #26
@at15 是啊是啊，下礼拜回来。到闵行了在群里喊你们！

[2015-12-20 16:39] at15 commented on #26
@tq5124 吼!(然而你肯定是先去找妹子....

[2015-12-20 19:10] tq5124 commented on #26
猜对了！

[2015-12-21 07:53] arrowrowe commented on #26
- [Blackfriday](https://github.com/russross/blackfriday), a Markdown processor implemented in Go.

[2015-12-21 08:01] arrowrowe commented on #26
- [Advanced-open-file](https://atom.io/packages/advanced-open-file), an Atom package for file opening and creating.

[2015-12-21 08:58] LukeXuan commented on #26
reply: @arrowrowe
Great thanks, tired of finding mouse to open files and folders when happily typing.

[2015-12-21 09:05] arrowrowe commented on #26
re @LukeXuan: I though typing `atom xxx` in a terminal better. Now... let's just `^!o`.

[2015-12-21 14:36] at15 commented on #26
- https://github.com/restlet/restlet-framework-java java的rest WebFramework, 貌似是包了swagger, 可以定义api之后生成server和client的很多code

[2015-12-21 15:18] ComMouse commented on #26
[Sit The Test](https://sitthetest.com/tests) HTML, CSS and JS tests and certificates

[2015-12-21 15:21] ComMouse commented on #26
[Laravel 5.2 — A Look at what’s coming](https://laravel-news.com/2015/11/laravel-5-2-a-look-at-whats-coming/)

Another Chinese Version：http://www.golaravel.com/post/new-features-of-laravel-5-2/

[2015-12-21 15:25] ComMouse commented on #26
[Laravel Count Down](http://laravelcountdown.com/)

[2015-12-21 15:33] ComMouse commented on #26
https://github.com/jobbole/awesome-java-cn

[2015-12-21 16:44] at15 commented on #26
- https://affinity.serif.com/zh-cn/photo/ mac下的ps替代品, 只要258rmb, 感觉还是很良心的 @scottsun94 @gaocegege

[2015-12-22 05:43] at15 commented on #26
- https://github.com/elastic/timelion els家推出的时间序列数据可视化

[2015-12-22 10:33] arrowrowe commented on #26
- [Fira Code](https://github.com/tonsky/FiraCode), monospaced font with programming ligatures.

#### Instruction for Atom, Ubuntu

Download `.otf` files in the link below title [Solution](https://github.com/tonsky/FiraCode#solution). Extract and install them. (Open a `.otf` file with font viewer and you'll see a `install` button.)

Follow [Atom instructions](https://github.com/tonsky/FiraCode/wiki

[2015-12-22 12:38] at15 commented on #26
- http://videlalvaro.github.io/2015/12/learning-about-distributed-systems.html @gaocegege @arrowrowe

[2015-12-22 17:06] at15 commented on #26
- http://docs.spring.io/spring-data/rest/docs/current/reference/html/#repository-resources spring里提供的repository 以及自带的postman http://docs.spring.io/spring－data/rest/docs/current/reference/html/#_the_hal_browser  另外它支持HAL 感觉应该是 Hypermedia driven 相关的  @ComMouse

[2015-12-23 02:09] at15 commented on #26
- https://github.com/phodal/developer web开发相关的各种读书路线图

btw: @arrowrowe 圣诞是不是邮件里改下style, 加点css?

[2015-12-23 09:13] at15 commented on #26
- https://github.com/xufei/blog/issues/29 angular1.x 使用 es6,  之前作业就是这么干的 https://github.com/at15/cadjs

[2015-12-23 09:16] arrowrowe commented on #26
re @at15: on it.

[2015-12-23 09:18] at15 commented on #26
@arrowrowe maybe I should attach that RED image here?...

[2015-12-23 10:31] arrowrowe commented on #26
re @at15: no... don't....... I'll publish a template page later......

[2015-12-23 10:35] arrowrowe commented on #26
- [Markdown 新选择](https://www.zhihu.com/question/19637157/answer/78063239) ([Madoko](https://www.madoko.net/) 的安利): 强大且系统的 Markdown 拓展, 支持 HTML 输出, 基于 LaTeX 的 PDF 输出, 基于 Reveal.js 的 HTML Slide 输出.

[2015-12-23 11:45] arrowrowe commented on #26
- [History of Node.js on a Timeline](https://blog.risingstack.com/history-of-node-js/)

[2015-12-23 12:09] at15 commented on #26
- https://github.com/RisingStack/trace-nodejs 用于监视node微服务的平台 @gaocegege 微服务策

[2015-12-23 12:33] at15 commented on #26
- https://github.com/ipfs/ipfs the permanent web

[2015-12-23 13:18] arrowrowe commented on #26
re @at15: See [Weekly Template](http://arrowrowe.me/weekly-template/).

[2015-12-23 13:23] at15 commented on #26
@arrowrowe flying yet happily?....

[2015-12-23 14:16] arrowrowe opened #28 "Weekly for 2015/12/30"
第十三期 -> @at15 (由 @gaocegege 代理)

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [ ] @xsfour
- [x] @LukeXuan

[2015-12-23 14:20] arrowrowe commented on #26
Mail sent by @LukeXuan received.

[2015-12-23 14:20] #26 closed, assigned to LukeXuan

[2015-12-23 14:39] at15 commented on #28
啦啦啦啦.... 那次是不是该新年了, 咩来个更喜庆的template?

[2015-12-23 14:49] arrowrowe commented on #28
OTL 还能**更**喜庆么...

[2015-12-24 10:50] arrowrowe commented on #28
### [GitHub Browser Extensions](https://github.com/showcases/github-browser-extensions)

**[GitHub Hovercard](https://github.com/Justineo/github-hovercard)** ([preview](https://justineo.github.io/github-hovercard/)): hovercards for users, orgs, repos, issues, PRs. It's awesome.

**[Octotree](https://github.com/buunguyen/octotree)**: Tree view for files in the repo.

![Octotree Preview](https://git

[2015-12-24 12:11] LukeXuan commented on #28
[API Blueprint](http://apiblueprint.org) compile markdown documents into swagger(?) json formats.

Frankly, I know little about the API design tools...

[2015-12-24 15:38] arrowrowe commented on #28
- [HackMyResume](https://github.com/hacksalot/HackMyResume). Create polished résumés and CVs in multiple formats from your command line or shell. Author in clean Markdown and JSON, export to Word, HTML, PDF, LaTeX, plain text, and other arbitrary formats.

![HackMyResume Poster](https://raw.githubusercontent.com/hacksalot/HackMyResume/master/assets/resume-bouqet.png)

[2015-12-26 06:20] arrowrowe commented on #28
- [Khaos](https://github.com/segmentio/khaos) ([khaos.io](http://khaos.io/)): Pick a template… answer a few questions… project created. Never copy-paste or start from scratch again.

[2015-12-26 06:28] at15 commented on #28
- http://www.spacex.com/careers/position/7374 spacex 找前端哦, 当然前提是你是美帝人

[2015-12-26 12:12] LukeXuan commented on #28
https://justineo.github.io/github-hovercard/ 浮现出链接的提示卡

[2015-12-26 12:24] at15 commented on #28
@LukeXuan duplicate :)

[2015-12-26 12:25] LukeXuan commented on #28
re: @at15
Just see it on v2ex and paste it to here. sorry :)

[2015-12-26 12:32] at15 commented on #28
@LukeXuan at least @gaocegege does not know that :), we should add a bot for check duplicate on weekly.

[2015-12-26 13:05] at15 commented on #28
- https://github.com/alibaba/DataX 阿里开源的各种数据源之间的同步工具,mysql, hdfs etc @gaocegege

[2015-12-26 14:25] gaocegege commented on #28
嗯，这个也是阿里开源的东西里面少数自己还在用的。。
不对不准确，少数支付宝也在用的

[2015-12-27 16:30] at15 commented on #28
-  http://blog.evanyou.me/2015/12/20/vuejs-2015-in-review/  vue火起来是因为 laravel 作者的twitter， 然后吸引了一众php程序员....

[2015-12-27 16:36] at15 commented on #28
from zenany weekly
- http://mp.weixin.qq.com/s?__biz=MzA4ODM1MTMzMQ==&mid=402670379&idx=3&sn=5e49aa5993a2733c9bb803d82a471049 我为什么离开airbnb    最主要原因还是因为有了孩子想更多配家人 ( @gaocegege 生个儿子叫富帅)

还有一封反对的文章, 是那个很有名的硅谷女工程师. 就不贴了
- http://mp.weixin.qq.com/s?__biz=MjM5NTg2NTU0Ng==&mid=404554543&idx=2&sn=f9c71cdb5249e7f1f7134383fbf0bae8 京东的详情页面架构变化

[2015-12-27 16:40] at15 commented on #28
另外 @arrowrowe @ComMouse 感觉该有个 yearly 了...

[2015-12-27 18:30] at15 commented on #28
- http://bbs.nga.cn/read.php?tid=8703996&page=2 星际的历史科普 （放假我要买个sc2, 嗯

[2015-12-28 10:49] at15 commented on #28
- https://github.com/arasatasaygin/is.js 看@arrowrowe  star的, 描述就交给你了

[2015-12-28 11:23] arrowrowe commented on #28
re @at15: 已经看过并 unstar 了...

[2015-12-28 11:27] gaocegege commented on #28
![yecvbnl 7rivfvr 47 3dk](https://cloud.githubusercontent.com/assets/5100735/12018043/f2f772ca-ad98-11e5-8a44-b2b66e60fb26.gif)

[2015-12-28 11:44] at15 commented on #28
@arrowrowe 你咩... @gaocegege 你是不是又在线?

[2015-12-29 02:48] gaocegege commented on #26
re @arrowrowe  [Madoko](https://www.madoko.net/editor.html) is awesome~!

[2015-12-29 03:53] arrowrowe commented on #26
re @gaocegege: :laughing:

[2015-12-29 06:00] at15 commented on #28
- https://github.com/facebook/buck facebook家的build工具, 发现google的gerrit在用它, 不早比直接用maven有哪些好处

[2015-12-29 12:07] ComMouse commented on #28
[Games on GitHub](https://github.com/leereilly/games)

[2015-12-29 12:09] ComMouse commented on #28
[Poi Browser](https://github.com/poooi/poi) A browser based on electron, designed to play _Kantai Collection_ more freely. SS included.

[2015-12-29 12:17] ComMouse commented on #28
[securimage](https://github.com/dapphp/securimage) PHP CAPTCHA with multiple forms

[2015-12-29 12:29] ComMouse commented on #28
[opsu!](https://github.com/itdelatrisu/opsu) Cross-platform osu! simulator. Based on Java.

[2015-12-29 15:00] at15 commented on #28
我周四有2个大作业的pre还有半个学期的计组作业... 0.0 谁来替我一下?我下次补回来.... 要不 @gaocegege 来一次?....

[2015-12-29 15:44] arrowrowe commented on #28
- [Match-when](https://github.com/FGRibreau/match-when): Finally a **clear**, **succinct** and _safe_ syntax to do Pattern Matching in modern JavaScript.

[2015-12-29 15:56] gaocegege commented on #28
我需要做啥，有没有哥们给科普下

[2015-12-29 16:05] at15 commented on #28
- https://github.com/cloudwu/skynet lua写的轻量级游戏用服务器, 虽然这个名字... @gaocegege 你看下以前的pr就知道了

[2015-12-29 16:14] at15 commented on #28
- https://github.com/GovernmentCommunicationsHeadquarters/Gaffer 英国政府通讯总部开源的graph database, 其实我觉得  neo4j/orientdb 可能更好一些

[2015-12-29 16:17] at15 commented on #28
- https://github.com/naver/arcus naver在memcache上实现了list和B+tree ..... (我b+的repo还在烂尾。。。这周五就得见助教了,不能跟室友他们跨年了,  好好写java...)  naver 是家韩国的搜索公司 @arrowrowe 话说韩国小哥加入dy之后就消失了的节奏....

[2015-12-30 01:57] arrowrowe commented on #28
- [Announcing vue-cli](http://vuejs.org/2015/12/28/vue-cli/), scaffold a Vue.js SPA with hot-reload, lint-on-save & unit testing in 1 minute.

[2015-12-30 14:40] gaocegege commented on #28
re @at15 : 我看了也不懂。。

[2015-12-30 15:22] arrowrowe commented on #28
Mails sent by @arrowrowe.

[2015-12-30 15:22] #28 closed, assigned to gaocegege

[2015-12-30 15:23] arrowrowe opened #31 "Weekly for 2016/01/06"
2016/01/06, 第三循环第二次, 总第十四期 -> @swaylq (由 @at15 代理)

投稿:
- [x] @at15
- [x] @swaylq
- [x] @arrowrowe
- [ ] @ComMouse
- [ ] @xsfour
- [x] @LukeXuan
- [x] @gaocegege

[2015-12-31 05:07] arrowrowe commented on #31
- [12 resolutions for programmers](http://matt.might.net/articles/programmers-resolutions/)

---

[2015-12-31 09:03] at15 commented on #31
好想召唤最前proxy @gaocegege 然而应该已经在网吧了吧

[2015-12-31 09:15] gaocegege commented on #31
在网吧自然可以水github啊

[2015-12-31 15:41] at15 commented on #31
- https://github.com/hasokeric/php-psd php读取psd, 代码真的好简陋, 这个风格我喜欢....

[2015-12-31 17:04] at15 commented on #31
- https://github.com/rometools/rome java 读取rss

[2016-01-01 04:46] arrowrowe commented on #31
- [Best Resources for Learning Angular2 from Scratch](http://whatpixel.com/learn-angular2-from-scratch/)

[2016-01-01 04:49] at15 commented on #31
@arrowrowe 咩起了!

[2016-01-01 04:53] arrowrowe commented on #31
- [npm v3 Dependency Resolution](https://docs.npmjs.com/how-npm-works/npm3) and [npm3 Duplication and Deduplication](https://docs.npmjs.com/how-npm-works/npm3-dupe).

[![Node.js and npm for the Windows Developer](https://partners.npmjs.com/blog/2015-10-30/new-msft-space.jpg)](https://www.eventbrite.com/e/node-and-npm-for-the-windows-developer-tickets-19280683042)

[2016-01-01 04:53] at15 commented on #31
@arrowrowe 卧槽这个有点屌... 感觉要黑转粉了

[2016-01-01 06:21] gaocegege commented on #31
[webtorrent](https://github.com/feross/webtorrent): Streaming torrent client for the web.

WebTorrent 是一个可工作在node.js和浏览器的流BT客户端。它完全采用JavaScript开发，在浏览器中WebTorrent使用WebRTC (data channels) 来进行p2p传输。它可以不使用浏览器插件，扩展或安装。只有JavaScript。

太会玩了。。。。

[2016-01-01 07:56] at15 commented on #31
@gaocegege 出来很久了，但是它磁盘操作速度限制了下载速度，不知道后面改进没有，有个repo叫做疯狂的webrtc什么的，里面各种用webrtc实现的神奇的东西, repo 名字我忘了...

[2016-01-01 12:16] gaocegege commented on #31
是指js的磁盘操作速度~？@at15

[2016-01-01 12:32] at15 commented on #31
@gaocegege 恩，在浏览器里话跟浏览器里对应的api有关系吧，node环境下都是v8, io应该不是太大的问题。不知道它在浏览器里是怎么做的。很久以前readme里有提到过，不过我刚才看了一下现在已经没有了

[2016-01-01 14:45] arrowrowe commented on #31
- [Guardian Digital Development](http://guardian.github.io/developers/)

[2016-01-01 16:45] at15 commented on #31
@arrowrowe 似乎是个新闻网站的开发部门?

[2016-01-02 01:48] gaocegege commented on #31
re @at15 我一直有个问题啊，浏览器里的js能读写文件么

[2016-01-02 04:15] at15 commented on #31
@gaocegege 读文件我用过, 比如上传图片的时候预览就是用 fille reader 读出来然后把 img 的 src 设置成 data base64 ... 但是写文件我猜应该是有局限的，读必须是用户在input里选过的文件才可以，不能指定一个路径随便读。而且，似乎这个已经被w3c放弃了.... http://stackoverflow.com/questions/19744155/writing-file-to-desktop-using-html5-filesystem-api

[2016-01-02 04:22] gaocegege commented on #31
@at15 soga，现在的localstorage是为了解决写文件的问题么~

[2016-01-02 05:09] at15 commented on #31
@gaocegege localstroage 是为了解决
1. cookie 太小
2. 需要在客户端持久化一些东西, 比如设置
3. 你甚至可以用 localstorage 来存前端的 js 和 css
4. 可以用来在 tab 页面之间通讯!  同去的消息，如果你在一个页面点了已读, 其他所有已经打开的页面的 tab 都会变成已读, 当然你可以把这个步骤做到 server 端, gh 明显是没有做这个处理的, 它只有未读的push, 所以会出现看见有蓝点, 但是点进去 notify 是空。不过 gh 的 realtime 基本让人感觉不到 ....

[2016-01-02 07:22] at15 commented on #31
百度好像把它很多搜索的东西开源了 https://github.com/baidu

比如 https://github.com/baidu/galaxy 类似 g 家的 borg, borg 的相关论文见 http://static.googleusercontent.com/media/research.google.com/zh-CN//pubs/archive/43438.pdf

引用自 http://www.oschina.net/news/69522/galaxy-2-0

评论里还有对阿里的嘲讽 @gaocegege

不过想起以前用的 ueditor ... https://github.com/fex-team/ueditor 1.5k issue 最后一次更新是 2015/02 感觉又是kpi驱动的开源的节奏....

[2016-01-02 09:04] gaocegege commented on #31
re @at15 66666

[2016-01-02 09:57] arrowrowe commented on #31
- [Keymage](https://github.com/piranha/keymage) is a small (1.5kb min.gz) library for handling key bindings in JavaScript. It supports **nested application scopes**, has a simple DSL for defining keys and can handle key chords.

[2016-01-02 10:01] arrowrowe commented on #31
- [Trails](https://github.com/trailsjs/trails), another web application for Node.js, built by former members of the [Sails.js](http://sailsjs.org/) core team.

[![Trails.js](http://i.imgur.com/amwaQQI.png)](http://trailsjs.io)

[2016-01-02 10:05] arrowrowe commented on #31
- [Yeoman](http://yeoman.io/) helps you to kickstart new projects, prescribing best practices and tools to help you stay productive.

[2016-01-02 13:50] gaocegege commented on #31
[红星操作系统](http://www.openingupnorthkorea.com/downloads-2)([Installation](https://www.youtube.com/watch?v=j_9QOgg0GRE)): 朝鲜自家的操作系统

看样子高仿os x，但据说是基于Fedora的。。手动金三胖鼓掌

[2016-01-02 14:41] arrowrowe commented on #31
- [Essential JavaScript Links](https://github.com/ericelliott/essential-javascript-links)

[2016-01-02 15:28] at15 commented on #31
- http://tshe.me/ 可以定制衬衫, 要不我们把聚餐的钱用来做 t-shirt ? (cece:还不如做贴纸)

[2016-01-02 15:31] gaocegege commented on #31
re @at15 [https://commandp.com.cn/](https://commandp.com.cn/)在这家印过贴纸，棒棒哒

[2016-01-03 05:40] arrowrowe commented on #31
- [JavaScript 模块化七日谈](http://huangxuan.me/js-module-7day/) (by [黄玄](http://huangxuan.me/about/))

[2016-01-03 05:43] arrowrowe commented on #31
- [Scala Best Practices](https://github.com/alexandru/scala-best-practices)

[2016-01-03 05:50] arrowrowe commented on #31
- [local-npm](https://github.com/nolanlawson/local-npm) (及其 [安利](https://addyosmani.com/blog/using-npm-offline/)), 可能可以用来搭镜像? 有空看看 - -

[2016-01-03 05:54] arrowrowe commented on #31
- [Adonis.js v2](http://adonisjs.com/) released – Laravel for Node.js. MVC Framework for NodeJs to write webapps with less code.

[2016-01-03 05:57] arrowrowe commented on #31
- [Kivy](http://kivy.org/) - Open source **Python** library for rapid development of applications
  that make use of innovative user interfaces, such as multi-touch apps.

[2016-01-03 07:33] at15 commented on #31
@arrowrowe from Adonis.js

truly .... is there any large scale website using laravel ?

[2016-01-03 10:50] at15 commented on #31
- http://wlop.deviantart.com/ 一个原画作者， 网易云看封面根据评论找到的 http://wlop.deviantart.com/art/Saber-Lily-567998661 @arrowrowe saber  weekly 里的内容越来越奇怪了...

[2016-01-03 12:04] arrowrowe commented on #31
re @at15: 这时候需要 @ Rainux......

[2016-01-03 13:48] at15 commented on #31
@arrowrowe 感觉 rainux 很少上gh... 基本上看不到他的动态

[2016-01-03 13:53] arrowrowe commented on #31
re @at15: see [Rainux's Public Activity](https://github.com/rainux?tab=activity).

[2016-01-03 15:57] arrowrowe commented on #31
- [Openage](http://openage.sft.mx/), a free (as in freedom) clone of the Age of Empires II engine.

[2016-01-03 16:02] at15 commented on #31
@arrowrowe 没有... 你还不睡, 明天不是要考试, btw: age2 HD 已入正

[2016-01-03 16:57] at15 commented on #31
- https://samsaffron.com/archive/2015/12/29/websockets-caution-required websocket 的一些问题, 结论就是他们用长轮训... 主要问题是消息的顺序, 在有问题的网络环境下如何保证消息正确的顺序, 还有就是避免大量的websocket连接都有操作数据库能力。 他里面提到有一个人发信息应该走 rest api还是走 websocket,  我倾向于走 rest api, 因为逻辑跟传统的差不多，只要之后能通知到其他人就可以了。当然服务器端用 java 会好一些，这样很多诸如好友列表的东西可以直接存内存.... php的话还需要 apc 这种存储, 用 redis 会比较浪费，特别当 redis 是单独的机器的时候。好像腾讯的在线列表是用一个特别大的内存bitmap来实现的, 额facebook搜索的索引几百个g好像

[2016-01-04 02:12] arrowrowe commented on #31
re @at15: 已经跪着回来了......

[2016-01-04 02:14] at15 commented on #31
@arrowrowe patpat ...

[2016-01-04 02:16] arrowrowe commented on #31
re @at15: 没关系, 周四周五还要迎战挂科率20%上下的两门课......

[2016-01-04 03:50] LukeXuan commented on #31
[fedy](http://folkswithhats.org/) fedora装机必备 一键安装flash truetype字体 关闭selinux等。

[2016-01-04 10:14] at15 commented on #31
- [kafka 和 rabbitMQ 的对比](https://mp.weixin.qq.com/s?__biz=MzA3MjEyNTE4MQ==&mid=403431386&idx=1&sn=d53956771e5ca3b090d9b213752c3470&scene=0&key=41ecb04b0511100390f96f1859558f327f79c064e38de351cc551d9b43b49ae7c35eb0f31bd29396baac7773dce9b897&ascene=0&uin=Mjc0NzI0MjkwNQ%3D%3D&devicetype=iMac+MacBookPro12%2C1+OSX+OSX+10.10.5+build%2814F1509%29&version=11020201&pass_ticket=7WTpCNZ9hpngmSFjpDAPurUB8wp47

[2016-01-04 11:54] arrowrowe commented on #31
- [How to Be Awesome (Part 1)](http://blog.stackoverflow.com/2015/09/how-to-be-awesome/)

[2016-01-04 12:31] at15 commented on #31
@arrowrowe 评论里有句话亮了....

[2016-01-05 01:57] at15 commented on #31
- https://bitpay.com/ 比特币支付, 从来没用用过诶，感觉可以试一下

[2016-01-05 02:41] at15 commented on #31
- https://github.com/dmlc/mxnet 一个深度学习的库, ~~作者~~答主好像在知乎上嘲讽 tensorflow 慢 https://www.zhihu.com/question/38126442#answer-27430645

[2016-01-05 03:09] swaylq commented on #31
@at15 比特币在国内也有很多平台，最近正好准备做一个比特币的项目，水好深。。。

[2016-01-05 03:11] swaylq commented on #31
- [Uranus](https://github.com/swaylq/uranus) 一个简易的聊天软件。。。

[2016-01-05 03:13] swaylq commented on #31
- [Azure的移动服务](http://www.windowsazure.cn/documentation/services/mobile-services/) 可以在windows下开发iOS了，使用的是c#，连storyboard都有哦。

[2016-01-05 03:57] at15 commented on #31
@swaylq 好歹放个readme和截图...

[2016-01-05 05:13] arrowrowe commented on #31
@swaylq @at15 swaylq/uranus#1

[2016-01-05 05:16] arrowrowe commented on #31
- [HEX](https://github.com/netease-youdao/hex), A Solution to Building Desktop Application Using HTML5 and Node.js.

[2016-01-05 05:18] gaocegege commented on #31
re @at15 知乎上那个不是mxnet的作者哦~

[2016-01-05 06:11] at15 commented on #31
- https://github.com/baixing/BXT/issues/5 七牛工程师讲docker云服务, 居然是在徐汇校区讲的 ... @gaocegege

[2016-01-05 07:34] gaocegege commented on #31
re @at15 嗯~过一段时间去北京参加[dockone社区](http://dockone.io/)举办的容器大会，似乎也有七牛的分享~

[2016-01-05 07:36] at15 commented on #31
@gaocegege 嗯，今天我过完年才回北京.... 就不能带你在北京玩(吃灰)了, 七牛不是主推go, @arrowrowe  rainux 好像去了之后就是写 go

[2016-01-05 07:38] gaocegege commented on #31
re @at15 一般只有用docker的公司才会写go。。目前用go做主要语言的公司似乎并不多的样子。。。

[2016-01-06 00:06] at15 commented on #31
- https://github.com/willdurand/Hateoas   HATEOAS REST  的 php 服务端, HATEOS (Hypermedia as the Engine of Application State) https://en.wikipedia.org/wiki/HATEOAS

[2016-01-06 04:06] arrowrowe commented on #31
- Algorithms ([Part I](https://www.coursera.org/course/algs4partI), [Part II](https://www.coursera.org/course/algs4partII)) of [Coursera](https://www.coursera.org/). This course covers the essential information that every serious programmer needs to know about algorithms and data structures, with emphasis on applications and scientific performance analysis of Java implementations.

[2016-01-06 04:45] at15 commented on #31
@arrowrowe java impl +1, I think java is better for education purpose than both C/C++ and Python

[2016-01-06 04:53] gaocegege commented on #31
@arrowrowe 配合[官方教材](http://algs4.cs.princeton.edu/home/)阅读更佳。。

[2016-01-06 04:55] at15 commented on #31
@gaocegege cece 又拉咩入坑... 我要开始写postman了! yeah! (还有3个大作业和5所学校的申请嗯....)

[2016-01-06 05:32] gaocegege commented on #31
@at15 我就是说一下我身为长者的人生经验而已，没有任何这个意思

[2016-01-06 07:45] at15 commented on #31
@gaocegege btw: I am considering using java for postman in order to avoid the pain of writing async code in node, postman would be a thin wrapper for queue like rabbitmq, and the worker won't have too much code, one big problem is leancloud does not have official java restful api client. I think I can write a wrapper to make it work for other providers like parse. and is it possible to reuse the h

[2016-01-06 08:52] gaocegege commented on #31
@at15 good question, I don't know about it :grinning:

[2016-01-06 09:30] at15 commented on #31
- https://github.com/danluu/debugging-stories 讲述你debug的故事

[2016-01-06 11:29] arrowrowe commented on #31
- [MAC 馒头地球](https://github.com/oxoooo/mantou_earth)

[![MAC 馒头地球](https://raw.githubusercontent.com/oxoooo/mantou_earth/master/demo.png)](https://github.com/oxoooo/mantou_earth)

[2016-01-07 02:39] arrowrowe opened #32 "Weekly for 2016/01/13"
2016/01/13, 第三循环第三次, 总第十五期 -> @arrowrowe

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [ ] @ComMouse
- [ ] @xsfour
- [x] @LukeXuan

[2016-01-07 02:40] arrowrowe commented on #32
- [SteveLTN/https-portal](https://github.com/SteveLTN/https-portal), a fully automated HTTPS server powered by [Nginx](http://nginx.org), [Let's Encrypt](https://letsencrypt.org) and [Docker](https://www.docker.com), run any existing web application over HTTPS, with only one extra line of configuration.

[2016-01-07 10:12] at15 commented on #32
- https://github.com/zenany/weekly/commit/4ad3474865acc137b33c4afb9a0959acb2e520c9 这次zenany的weely主要说的是架构设计, mark之后再说

[2016-01-07 13:51] at15 commented on #32
- [24万数据集 211种文件转换|社会发展类公开数据清单](https://mp.weixin.qq.com/s?__biz=MjM5MTQzNzU2NA==&mid=401644978&idx=1&sn=63b412e0e9c8fd46a0447381bda2fbf0&scene=1&srcid=0105xi8mMRm7DqsA4BiMAzRj&key=41ecb04b0511100377951906ac29eae1e0929b9b6b86030eab5d381b94cc7827a1faf7b9beeb3d53ed5bf147306043dc&ascene=0&uin=Mjc0NzI0MjkwNQ%3D%3D&devicetype=iMac+MacBookPro12%2C1+OSX+OSX+10.10.5+build%2814F1509%29&version=11020201&pas

[2016-01-07 14:05] arrowrowe commented on #31
本次周报跳票 2~3 天. 新投稿请移步 #32.

[2016-01-08 02:03] LukeXuan commented on #32
[angular-material-start](https://github.com/angular/material-start/tree/es6) 使用jspm封装的 感觉可以用到所有的angular应用上

[2016-01-08 08:18] at15 commented on #31
@arrowrowe I think I'll handle it tonight

[2016-01-08 08:19] at15 commented on #32
@LukeXuan jspm 感觉好像很不错的样子, @arrowrowe

[2016-01-08 08:20] at15 commented on #32
https://github.com/justjavac/Programming-Alpha-To-Omega 从0开始学xx系列，应该开个pr,从0开始推黄油。

[2016-01-08 08:26] LukeXuan commented on #32
[http-server](https://github.com/indexzero/http-server) quick static file server for development purpose.

[2016-01-08 08:26] at15 commented on #32
- http://io-meter.com/2014/07/09/simple-git-http-server/ write a simple git http server in go, maybe it's better to have a look at gitlab's work horse https://gitlab.com/gitlab-org/gitlab-workhorse

[2016-01-08 09:31] arrowrowe commented on #32
re @at15 @LukeXuan: 等放假慢慢看... webpack, browserify, amd, commonjs, requirejs, systemjs, jspm, umd, ......

[2016-01-08 15:07] at15 commented on #32
- https://github.com/go-lang-plugin-org/go-lang-idea-plugin/labels/up%20for%20grabs @gaocegege golang idea plugin got some up for grab issues, maybe we can work on some of them? Though how to setup the develop environment is a problem ....

[2016-01-09 00:43] gaocegege commented on #32
@at15 大家都是背着好多个坑的人。。。憋闹了

[2016-01-09 07:05] gaocegege commented on #32
comment on [htp-server](https://github.com/indexzero/http-server): 千万不要拿来放在生产环境上。。
经过测试发现，它的性能确实是个深坑

[2016-01-09 07:07] LukeXuan commented on #32
re @gaocegege 我猜测它是readFileSync？

[2016-01-09 07:08] gaocegege commented on #32
re @LukeXuan 没看过实现~压测表现确实很差

[2016-01-09 08:03] at15 commented on #32
@LukeXuan 我猜不会, 大部分都是异步的, readFileSync 这种太sb了, 虽然我经常这么干.... 它自己本身基本没啥代码.... 主要是用 https://www.npmjs.com/package/union , 要怪就只能怪 https://github.com/flatiron/union 了，或许直接用个express性能也比它好？ 安利一发我以前写的 markdown 浏览 https://github.com/at15/doc-viewer ，也可以当 http-server , 之前还用它来往虚拟机里传文件....

[2016-01-09 08:33] arrowrowe commented on #31
Mails sent by @arrowrowe

[2016-01-09 08:33] #31 closed, assigned to at15

[2016-01-09 08:40] LukeXuan commented on #32
re @at15 其实一般情况我都会用gulp-serve http-server只有我观察别人的项目 又懒得配置一边nginx的时候会用...

[2016-01-09 09:02] at15 commented on #32
@LukeXuan 我一般都看有没有demo链接, 没有的除非特别感兴趣，否则就不管它了。(话说当年不会用node的时候连本地build一份angular的doc都不会..... )

[2016-01-09 09:22] LukeXuan commented on #32
re @at15 我就是在运行那个angular-material-es6的时候找的...

[2016-01-09 14:24] at15 commented on #32
- https://github.com/avelino/awesome-go 我要开始写go了

[2016-01-09 17:27] at15 commented on #32
- https://github.com/sebastianfeldmann/phpbu PHP Backup Utility - Creates and encrypts database and file backups, syncs your backups to other servers or cloud services and assists you monitor your backup process

[2016-01-10 09:09] arrowrowe commented on #32
- [Go Cheat Sheet](https://github.com/a8m/go-lang-cheat-sheet).

[2016-01-11 09:54] at15 commented on #32
- http://foundation.zurb.com/apps/page-templates.html foundation provides a series of templates, including inbox, chat, music player, even generate angular route for you @arrowrowe

[2016-01-11 12:32] at15 commented on #32
微信公布了[网页开发者工具](https://mp.weixin.qq.com/s?__biz=MjM5NDAxMDg4MA==&mid=402503056&idx=1&sn=304ecda675c19a6168ed7a0dac020a94&scene=0&key=41ecb04b05111003b48a263186117ddeaa725984e671bf6f779483afcdaa35429ddf13d18d289e774ac15369726950d0&ascene=0&uin=Mjc0NzI0MjkwNQ%3D%3D&devicetype=iMac+MacBookPro12%2C1+OSX+OSX+10.10.5+build%2814F1509%29&version=11020201&pass_ticket=E2nd2zvmIYmD7h4lQ2GVUm6pXzK8XbC7NSD0rBc

[2016-01-11 16:29] at15 commented on #32
https://github.com/dyweb/Ayi/releases/tag/v0.0.1 阿姨发布了第一个版本!

[2016-01-12 10:29] at15 commented on #32
- https://github.com/prasmussen/glot an open source pastebin with runnable snippets and API

[2016-01-12 10:29] at15 commented on #32
- http://www.oschina.net/news/69808/2015-annual-ranking-top-100-new-open-source-software 开源中国统计的 100 个开源软件, 有些还是很不错的

[2016-01-12 13:03] arrowrowe commented on #32
- [dev.env](https://github.com/huytd/dev.env), a Zero Setup Development Environment.

[![dev.env's screenshot](https://github.com/huytd/dev.env/raw/master/screenshot.png)](https://github.com/huytd/dev.env)

[2016-01-12 13:09] at15 commented on #32
@arrowrowe yep, though Ayi may have many other features

[2016-01-12 19:36] at15 commented on #32
https://www.behance.net/ 好像是个不错的设计交流平台 @scottsun94

[2016-01-13 06:52] at15 commented on #32
- https://github.com/ecomfe/echarts echart现在已经正式发布3的版本了 @arrowrowe
- https://github.com/braydie/HowToBeAProgrammer tl;dr

[2016-01-13 13:24] arrowrowe commented on #32
Mails sent by @arrowrowe.

[2016-01-13 13:24] #32 closed, assigned to arrowrowe

[2016-01-13 13:25] arrowrowe opened #35 "Weekly for 2016/01/20"
2016/01/20, 第三循环第四次, 总第十六期 -> @ComMouse

投稿:
- [x] @at15
- [x] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [ ] @xsfour
- [x] @LukeXuan
- [x] @gaocegege
- [x] @tq5124

[2016-01-13 15:52] at15 commented on #35
long long time ago, there was a mie on fire

[2016-01-14 06:32] ComMouse commented on #7
Expired

[2016-01-14 08:17] at15 commented on #35
- https://github.com/gf-rd/blog/issues 广发证券, issue里讲的是 angular2 的开发, 我们也该开始接触 angular2 & react 了，老守着 angular1.x 肯定是不行的

[2016-01-14 09:08] gaocegege commented on #35
[typewriter](http://www.macupdate.com/app/mac/12077/typewriter-keyboard) 敲键盘自带打字机音效，感觉蛮有意思的。OS 10.11亲测可用

[2016-01-14 10:38] at15 commented on #35
- [pg的一些优点](https://mp.weixin.qq.com/s?__biz=MzAwMDU1MTE1OQ==&mid=403539201&idx=1&sn=367aa9fa4f6a63359c5158314f84eccf&scene=0&key=41ecb04b05111003bc16002810a65cc29db00307c69820809801c2701b6ce71972cf3e3c1174ab1a7b3b401662f67b3e&ascene=0&uin=Mjc0NzI0MjkwNQ%3D%3D&devicetype=iMac+MacBookPro12%2C1+OSX+OSX+10.10.5+build%2814F1509%29&version=11020201&pass_ticket=oI9XFJ2A259JyEIqztL4lZrs9vkPe0algEw5RoV57V

[2016-01-14 16:43] LukeXuan commented on #35
Angular material哪天支持2了我就用2了…

[2016-01-15 06:07] gaocegege commented on #35
[iScript](https://github.com/PeterDing/iScript) 各种脚本 多是python，少数js。里面有一个脚本引起了我的注意，猜猜是哪一个

[2016-01-15 06:12] gaocegege commented on #35
[babun](https://github.com/babun/babun) win下的bash，有些厉害的。

[2016-01-15 06:17] gaocegege commented on #35
[开源项目Maintainers对github的建议](https://github.com/dear-github/dear-github) 其中提到了不少有用的建议啊我觉得。

[2016-01-15 07:10] at15 commented on #35
@gaocegege 我们来写个gh吧 https://github.com/at15/gitQAQ (我真是挖坑小王子啊....

[2016-01-15 10:32] at15 commented on #35
- http://echarts.baidu.com/index.html echarts 3.0 正式发布

[2016-01-16 07:38] at15 commented on #35
- http://stackoverflow.com/questions/9069061/what-is-the-difference-between-git-merge-and-git-merge-no-ff  `git merge --no-ff` 这个gitlab和github的pr merge时候的方式，跟一般直接 git merge  的区别.

and @gaocegege *1引起了你注意

[![](http://i.stack.imgur.com/FMD5h.png)](http://stackoverflow.com/questions/9069061/what-is-the-difference-between-git-merge-and-git-merge-no-ff)

[2016-01-16 14:57] gaocegege commented on #35
[设计模式 in python](https://github.com/faif/python-patterns): 当时学的时候就没弄懂，看看代码感觉还成。。

[2016-01-16 16:15] arrowrowe commented on #35
- [China’s Baidu Releases Its AI Code](http://www.technologyreview.com/news/545486/chinas-baidu-releases-its-ai-code/): “China’s Google” is joining U.S. tech giants in giving away some of its code.

[2016-01-16 16:19] at15 commented on #35
@gaocegege 设计模式要找你学弟 @ComMouse  pattern豆

[2016-01-17 04:59] arrowrowe commented on #35
- [How To Achieve Atom Editor Transparency](https://github.com/transcranial/atom-transparency)

[![Screenshot of the Transparent Atom](https://github.com/transcranial/atom-transparency/raw/master/screenshot.png)](https://github.com/transcranial/atom-transparency)

[2016-01-17 05:29] arrowrowe commented on #35
- [Emoji cheatsheet](http://www.emoji-cheat-sheet.com/)

[2016-01-17 05:41] swaylq commented on #35
- [docker registry](https://docs.docker.com/registry/introduction/)

[2016-01-17 05:50] arrowrowe commented on #35
re @swaylq: 做做做

[2016-01-17 05:50] swaylq commented on #35
- [pg索引优化](http://blog.heapanalytics.com/speeding-up-postgresql-queries-with-partial-indexes/)

[2016-01-17 06:31] at15 commented on #35
@arrowrowe 第一眼以为是游戏....

[2016-01-17 06:31] at15 commented on #35
@swaylq docker 的问题 @gaocegege

[2016-01-17 14:31] at15 commented on #35
- [萌娘百科需要开发的东西](http://zh.moegirl.org/%E8%90%8C%E5%A8%98%E7%99%BE%E7%A7%91:%E7%A8%8B%E5%BA%8F%E5%91%98%E6%8B%9B%E5%8B%9F%E4%B8%AD)  他们的github组织 https://github.com/moegirlwiki @arrowrowe

[2016-01-17 15:29] gaocegege commented on #35
做Docker Registry非常的简单，我觉得困难的是如何把开发环境打成Image。不过我觉得这是极好的，尤其是配合一些容器集群的手段，甚至可以生产环境直接跑Docker~

[2016-01-17 15:31] arrowrowe commented on #35
[![Yuki.N > Ready?][yuki.ready]][yuki]
[![Yuki and Cat][yuki.cat]][yuki]

[yuki]: http://zh.moegirl.org/zh-cn/%E9%95%BF%E9%97%A8%E6%9C%89%E5%B8%8C
[yuki.cat]: http://common.moegirl.org/thumb.php?f=%E4%B8%89%E5%91%B3%E7%BA%BF0.png&width=640
[yuku.ready]: http://ih1.redbubble.net/image.22500673.4987/raf,750x1000,075,t,black.jpg

[2016-01-18 03:32] LukeXuan commented on #35
[ngMaterial2](https://github.com/angular/material2) early stage
btw. [ngMaterial1](material.angularjs.org)

[2016-01-18 06:43] swaylq commented on #35
- [js tips](https://github.com/loverajoel/jstips)： 一天一个js小技巧，看了一下还不错~
- [WIFI 破解方法](http://www.williamlong.info/archives/4481.html)：话说我以前是用工具抓包再用工具分析的，好复杂。
- [结对编程 VS 代码审查](http://blog.jobbole.com/61349/)

[2016-01-18 10:22] at15 commented on #35
From https://github.com/zenany/weekly/commit/e92f31a94092e8b8f499c512b36b76c2961f129f
- http://blog.cleancoder.com/uncle-bob/2016/01/04/ALittleArchitecture.html

- http://prakhar.me/docker-curriculum/ docker 入门, 其实 docker 官方的教程非常不错，连cmd都告诉你怎么打开....

－ https://cnodejs.org/topic/5696e43e6272216e51bff67e 2015国内node总结 (有种大家果然还是过农历的节奏) 里面提到了**消息系统，认证**，这几个可以好好看下，先挖个坑

[2016-01-18 10:24] at15 commented on #35
- https://github.com/arrking/austack-core 认证即服务，作者的成功案例 https://auth0.com/ 似乎跟他的项目没什么关系...只是服务类型相同。 @swaylq 这些你可以看看，这种服务的你可以看下，即使不用它们，看看API也能基本猜到大致的实现方式了，而且大部分API设计的都是不错的，我说的是  Auth0, 当是socket.io 的登陆验证还是看的他们的博客。

[2016-01-18 15:19] swaylq commented on #35
@at15  这个rep有些简陋阿，第一个博客的连接就404了……贴的auth0好像是更加成熟的服务吧。看了一下文档也就是存token去认证啊……？我之前手环项目的用户系统也是用token去认证的。

[2016-01-18 15:53] at15 commented on #35
@swaylq auth0是比较好的，那个repo估计没什么东西

[2016-01-19 05:08] at15 commented on #35
- https://github.com/Jasig/cas Central Authentication Service   我决定去试一下，如果能满足
  - 提供API/自定义常用界面
  - 支持OAuth登陆 Authentication
  - 支持OAuth授权 Authorize
  - 跟PHP项目集成, 目前主要是 Laravel

那就可以在内部的项目里先用起来了.

[2016-01-19 05:51] ComMouse commented on #35
[google-diff-match-patch](https://code.google.com/p/google-diff-match-patch/) Google's Diff Match Algo

[2016-01-19 05:59] ComMouse commented on #35
@at15 Laravel has already had a OAuth / User server implementation

[2016-01-19 06:10] at15 commented on #35
@ComMouse  0.0 ok, I think we can use Laravel directly, though I am never a big fan of it....

and can you provide me some links?

[2016-01-19 14:00] swaylq commented on #35
[OAuth 2.0 bridge for Laravel](https://github.com/lucadegasperi/oauth2-server-laravel)
@at15

[2016-01-19 14:02] swaylq commented on #35
[理解OAuth 2.0](http://www.ruanyifeng.com/blog/2014/05/oauth_2_0.html)

[2016-01-19 14:11] tq5124 commented on #35
http://www.cs.cmu.edu/~roni/10601-s16/

Machine Learning course from CMU. Class videos are provided in the "Schedule“ section.

10-601 may be one of the most popular graduate courses at CMU. From my own opinion, the speaker describe the question quite well. I have registered the course, so if anyone need the assignments, ~~fell~~ feel free to contact me.

[2016-01-20 05:53] at15 commented on #35
@tq5124 fell -> feel, and I guess @gaocegege @arrowrowe might have interest

[2016-01-20 05:55] arrowrowe commented on #35
Thanks @tq5124 @at15

[2016-01-20 07:05] gaocegege commented on #35
the hole is too deep.

[2016-01-20 08:51] swaylq commented on #35
- [docker社区](http://dockone.io/)
- [dockerfile的最佳实践](http://crosbymichael.com/dockerfile-best-practices.html)
- [用docker创建开发环境](https://medium.com/on-docker/development-environments-with-docker-89657c7b4ea2#.u3dgvw5sn)
- [使用docker compose创建django开发环境](https://docs.docker.com/compose/django/)

[2016-01-20 09:16] arrowrowe commented on #35
- [Announcing Wolfram Programming Lab](http://blog.wolfram.com/2016/01/19/announcing-wolfram-programming-lab/)

[![Wolfram Programming Lab](http://blog.stephenwolfram.com/data/uploads/2016/01/wolfram-programming-lab-startup-screen.png)](https://lab.open.wolframcloud.com/app/)

[2016-01-20 14:56] LukeXuan commented on #35
[docblockr](https://atom.io/packages/docblockr)
![image](https://cloud.githubusercontent.com/assets/3363954/12452358/fc5fa0ac-bfc8-11e5-9580-9092e4a98639.png)

[2016-01-20 15:19] ComMouse commented on #35
weekly locked

[2016-01-20 15:20] ComMouse opened #36 "Weekly for 2016/01/27"
2016/01/27, 第三循环第五次, 总第十七期 -> @xsfour (由第四循环第二次 @swaylq 代理)

投稿:
- [x] @at15
- [x] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [ ] @xsfour
- [x] @LukeXuan
- [x] @gaocegege
- [ ] @tq5124

[2016-01-20 19:37] ComMouse commented on #35
由于失误忘记开 PR，所以直接提交了。。

[2016-01-20 19:46] arrowrowe commented on #35
@ComMouse 豆拟一下热点和发送? 我去发邮件? http://arrowrowe.me/weekly-template/

[2016-01-20 19:51] ComMouse commented on #35
还没睡===

[2016-01-20 19:52] arrowrowe commented on #35
我九点睡一点起所以现在相当于不到十二点 = = 你才是还没睡 = =

[2016-01-20 19:59] arrowrowe commented on #36
- [zhihuSpider](https://github.com/HectorHu/zhihuSpider) ([PHP爬虫：百万级别知乎用户数据爬取与分析](http://blog.jobbole.com/97476/))

[![Result](https://camo.githubusercontent.com/6b746d45baf73e203246723a19368f7b6a00c6fa/687474703a2f2f3775326571772e636f6d312e7a302e676c622e636c6f7564646e2e636f6d2f2545372539462541352545342542392538452545362539352542302545362538442541452545372542422539462545382541452541312545352539422

[2016-01-20 20:05] arrowrowe commented on #36
- [Become a ninja with Angular 2](https://books.ninja-squad.com/angular2)

[![Cover of Ninja](https://books.ninja-squad.com/public/images/ng2/ng2-cover.png)](https://books.ninja-squad.com/angular2)

[2016-01-20 20:06] ComMouse commented on #35
[code]

[2016-01-20 20:09] arrowrowe commented on #36
- [Statistical Learning | Stanford University](https://lagunita.stanford.edu/courses/HumanitiesSciences/StatLearning/Winter2016/about), an introductory-level course in supervised learning, with a focus on regression and classification methods.

[2016-01-20 20:14] arrowrowe commented on #35
Mails sent by @arrowrowe.

[2016-01-20 20:14] #35 closed, assigned to ComMouse

[2016-01-20 20:28] arrowrowe commented on #36
- [Enable Node.js to run with Microsoft's ChakraCore engine](https://github.com/nodejs/node/pull/4765)

[2016-01-21 06:01] swaylq commented on #36
- [跨平台的WebRTC组件](https://github.com/contra/rtc-everywhere)

[2016-01-22 06:10] swaylq commented on #36
- [stylus](https://github.com/stylus/stylus)

[2016-01-22 07:27] LukeXuan commented on #36
Stylus我用过…有段时间很喜欢learnboost的产物…但实际上感觉css预处理有一个就够了…也不需要特别强大的功能

On Fri, Jan 22, 2016, 2:11 PM Sway Liu notifications@github.com wrote:

[2016-01-22 08:38] arrowrowe commented on #36
re @swaylq @LukeXuan: alipay实习用less, 自己玩还是喜欢sass... (所以tam只支持sass (逃

[2016-01-22 13:33] at15 commented on #36
https://www.terraform.io/ INFRASTRUCTURE AS CODE works for do and aws from sample code. btw: @tq5124 how's students' attitude towards working in amazon.

[2016-01-22 13:54] at15 commented on #35
@swaylq got the oauth one, sorry for late reply.

[2016-01-22 14:32] tq5124 commented on #36
著名的“血汗工厂”，美帝IT企业里加班最多的（大约是965？）。因为男女比例过高，所以还被说性别歧视（其他公司都是降低女性程序员录取标准来维持男女比例的。。。）

不过aws在美帝市场份额一直是很高的，会用aws甚至经常被写进简历。我这学期的cloudcomputing就是在aws上做的，钱由学校出，做各种大数据量的分析或者并行计算

不过当然，毕竟FLAG，除了第一梯队的公司以外其他公司还是无法相比

[2016-01-22 15:13] tq5124 commented on #36
不过当然，毕竟FLAG，除了第一梯队的公司以外其他公司还是无法相比

[2016-01-22 15:30] at15 commented on #36
@tq5124 恩，话说xc去哪了?

and @mingo-x 女程序员

[2016-01-22 15:31] tq5124 commented on #36
@xctom 去了uber~

[2016-01-24 05:35] swaylq commented on #36
- [Cheat](http://blog.jobbole.com/97626/)
- [Linux运维架构图](http://blog.jobbole.com/97616/)

[2016-01-24 08:03] arrowrowe commented on #36
给 @swaylq 的 [Cheat](https://github.com/chrisallenlane/cheat) 补充: [Cheat 已有的 Cheatsheets 一览](https://github.com/chrisallenlane/cheat/tree/master/cheat/cheatsheets), 似乎有不少提 PR 的机会 = =? 或者有办法和 [tldr](https://github.com/tldr-pages/tldr) 整合么 - - (不过为啥不直接用 tldr 呢

[2016-01-25 04:32] swaylq commented on #36
- [密码强度评估](https://github.com/dropbox/zxcvbn)

[2016-01-25 14:31] ComMouse commented on #36
可能之前有发过==
[Angular 2 ng-book 2 中文版](https://github.com/kittencup/angular2-ama-cn/issues/43)

[2016-01-26 07:21] gaocegege commented on #36
[@container容器大会PPT](http://pan.baidu.com/s/1i4nN2Qh)
各种厂的docker使用实践，不过大多数都是集群化的实践，可能对于规模小一点的情况不是很适用，暴走漫画那个可以看看，他们做的比较轻量级

[2016-01-26 07:47] ComMouse commented on #36
[RxJS](https://github.com/Reactive-Extensions/RxJS) 响应式编程

[2016-01-26 08:02] arrowrowe commented on #36
- [Learn X in Y minutes](https://github.com/adambard/learnxinyminutes-docs), and its [site](https://learnxinyminutes.com/) and [PDF](https://github.com/aviaryan/learnxinyminutes-pdf).

[2016-01-27 02:07] at15 commented on #36
- https://github.com/sergeyklay/awesome-phalcon awesome list for phalcon
- https://github.com/zircote/swagger-php A php swagger annotation and parsing library

I think maybe it's better to use [code gen](https://github.com/swagger-api/swagger-codegen) @ComMouse @xplorld @BrotherJing

[2016-01-27 07:37] LukeXuan commented on #36
[ssl-conf-gen](https://mozilla.github.io/server-side-tls/ssl-config-generator/)
Help you generate appropriate https configuration files.

[2016-01-27 12:02] arrowrowe opened #37 "Weekly for 2016/02/03"
2016/02/03, 第三循环第六次, 总第十八期 -> @LukeXuan

投稿:
- [x] @at15
- [x] @swaylq
- [x] @arrowrowe
- [x] @gaocegege
- [ ] @ComMouse
- [ ] @LukeXuan

[2016-01-27 12:03] arrowrowe commented on #36
Issue locked. Post to #37 please.

[2016-01-27 12:21] arrowrowe commented on #37
- [Announcing: Minecraft: Windows 10 Edition Beta](https://mojang.com/2015/07/announcing-minecraft-windows-10-edition-beta/) (related: [Microsoft's new Minecraft Education Edition - written in C++ - will outrun the Java version](http://www.zdnet.com/article/minecrafts-new-education-edition-written-in-c-will-outrun-the-java-version/))

[![Screenshot for Minecraft Win10 Edition Beta](https://media.m

[2016-01-27 12:26] arrowrowe commented on #36
@xsfour 退出周报组. 本次周报跳票一天, 由第四循环第一次 @at15 代理.

[2016-01-28 02:35] arrowrowe commented on #37
- [AlphaGo: using machine learning to master the ancient game of Go](https://googleblog.blogspot.com/2016/01/alphago-machine-learning-game-go.html)
  - BBC: [Google achieves AI 'breakthrough' by beating Go champion](http://www.bbc.com/news/technology-35420579)
  - 知乎传送门
    - [如何看待谷歌人工智能AI击败欧洲围棋冠军?](https://www.zhihu.com/question/39905662)
    - [围棋作为唯一一种电脑下不赢人的大众棋类，是何原因导致？以及量子计算机出现后有无可能？](https:/

[2016-01-28 02:53] at15 commented on #37
@arrowrowe go is 围棋?

---

Re: yes.

[2016-01-28 03:28] gaocegege commented on #37
[CircleCI博客关于分布式的讨论](http://blog.circleci.com/its-the-future/)
他们看上去认为RAFT是未来，Paxos过时。

[2016-01-28 03:58] at15 commented on #37
I don't know raft and paxos, so cant say much about that, but I do like some part of the conversation

btw: I like the image (look, cece is digging big holes again)
![rabbit hole](http://blog.circleci.com/wp-content/uploads/2015/06/rabbit_hole.jpg)

[2016-01-28 04:13] at15 commented on #37
- https://github.com/sparanoid/chinese-copywriting-guidelines 中文文案排版指北 (感觉很适合 @xplorld )
- https://github.com/vinta/pangu.js 加空格

btw: 34岁能结婚我觉得我都很难啊....  而且我还不想养猫

[2016-01-28 04:59] at15 commented on #37
- http://www.cnblogs.com/givebest/p/4474403.html  auto play audio on iOS and android, add callback after user touch.

well .... it's in the contract, so e...

[2016-01-28 09:49] at15 commented on #37
https://github.com/fguillot/kanboard

可以跟 gitlab 集成的 kanban， 一看是php写的，果断放弃了https://taiga.io/ ， 这个虽然丑，但是，跟gitlab集成很好，功能也很全，可以通过日历发现，这个月自己已经没有issue了耶（因为上个月的都没有做完）

[2016-01-28 11:32] at15 commented on #37
- http://uberhackathon.devpost.com/submissions/37490-rally  基于uber api开发的app，保证小伙伴都能准时到达活动地点

[2016-01-29 08:43] at15 commented on #37
Cloud9 IDE self host using https://github.com/c9/core/
- http://www.infoq.com/news/2014/07/cloud9  it uses docker

Other solutions
- ~~https://github.com/CodeboxIDE/codebox~~ it's just the IDE, server is not included

all seems pretty good, especially for novice who dont want to setup dev environment locally @arrowrowe @LukeXuan @ComMouse

[2016-01-29 09:40] at15 commented on #37
- http://ftp.sjtu.edu.cn/ubuntu/ubuntu/ubuntu/ubuntu/ubuntu/ubuntu/ubuntu/ 交大ftp的软链接 ....

本地复现请找 @gaocegege

[2016-01-29 09:54] at15 commented on #37
php oauth server impl https://github.com/thephpleague/oauth2-server/blob/master/examples/relational/config/init.php  this use Eloquent to achieve that. We can do this in phalcon, and there is already one

[2016-01-29 10:17] gaocegege commented on #37
[博文-API蓝图](http://www.dozer.cc/2016/01/api-blueprint.html)
点评架构组小哥的博客，科普了API Blueprint

[2016-01-29 10:20] at15 commented on #37
@gaocegege what about swagger 0.0

[2016-01-29 10:20] gaocegege commented on #37
re @at15 中央已经决定了，你来写  日.日

[2016-01-29 10:32] swaylq commented on #37
写！

[2016-01-29 12:50] swaylq commented on #37
- [数据库集群](http://blog.jobbole.com/97806/)

[2016-01-29 14:09] at15 commented on #37
@gaocegege 组织有考虑给我分配个妹子么？

[2016-01-29 14:29] swaylq commented on #37
@at15 组织只有汉子

[2016-01-29 14:42] gaocegege commented on #37
re @at15 组织可以给你分配个黑框眼镜

[2016-01-30 02:20] at15 commented on #37
https://github.com/ParsePlatform/parse-server parse is closed, and they opensource a nodejs servrer, which can provides some API ( I clicked two js files and found one throws notImpl .... and they closed on 1.28 .. 0.0 )

[2016-01-30 06:52] at15 commented on #37
A set of composer related tools, self host, develop own package
- https://github.com/Letudiant/composer-shared-package-plugin
- https://getcomposer.org/doc/articles/handling-private-packages-with-satis.md#satis

[2016-01-31 15:31] at15 commented on #37
- https://github.com/yyx990803/pod   git push deploy for nodejs, it uses pm2 and we can use it to serve swagger doc

[2016-02-01 07:12] at15 commented on #37
- https://github.com/caesar0301/awesome-public-datasets awesome public dataset @mingo-x

[2016-02-01 07:14] at15 commented on #37
- https://github.com/swagger-api/swagger-node bundle editor, mock server, server, ui together in one package and one repo. you can use [pod](https://github.com/yyx990803/pod) to deploy it and show the api to whole team .

[2016-02-01 10:46] at15 commented on #37
- https://github.com/AutumnsWind nice contribution graph ....

[2016-02-02 05:08] at15 commented on #37
- https://github.com/oneops

[2016-02-02 05:12] at15 commented on #36
@arrowrowe see https://github.com/dyweb/web-stuff/commit/70eb5fb326924a8e6d6f46b64a3817cc1ecb0353, the mail is not send, and I guess it needs reformat.

[2016-02-02 05:26] arrowrowe commented on #36
re @at15: that's because you miss few messages in csthree. i will figure out what to do about it tonight.

[2016-02-02 05:49] at15 commented on #36
@arrowrowe dont blame it on me, blame it on the night (we should have bgm here ...

[2016-02-02 06:30] gaocegege commented on #37
现在混合云的概念很火，大多数是一个厂商，做一个基于各种云的中间层，让开发者依赖中间层而不是依赖某个具体的云，其实对开发者来说，只是可以简单的换云，但是还是脱离不了这个中间层。

[2016-02-02 10:58] at15 commented on #37
@gaocegege 所以用docker就可以随便换，不需要中间层?

[2016-02-02 11:23] gaocegege commented on #37
re @at15 概念不一样吧~那种中间层可以做到不停机的换云，相当于把下面的那些云抽象成单纯的资源，CPU，内存，硬盘等等，开发者的应用相当于是跑在这些资源上而对底下的具体是阿里云还是物理机不care，有点像Mesos的概念，事实上大多数这样的中间层都是用mesos实现的。

[2016-02-02 11:28] gaocegege commented on #37
[daocloud mirror](https://dashboard.daocloud.io/mirror)
加速docker pull的工具，不过在装的同时会装上他家的监控工具，会强制让你在他家的自有集群上添加上主机。不过不影响使用，就是有泄露机器使用情况的可能。

[2016-02-02 11:28] gaocegege commented on #37
[daocloud monitor](https://dashboard.daocloud.io/mirror)
他家自己写的监控机器使用情况的工具集，其中有工具dao pull，是用于替代docker pull的，用它们自己的源，速度比dockerhub快很多

[2016-02-02 14:52] arrowrowe commented on #36
Mails written and sent by @arrowrowe.

[2016-02-02 14:52] #36 closed, assigned to swaylq

[2016-02-03 08:07] gaocegege commented on #37
[hacksummit 2016](http://www.hacksummit.org/) 一线码农虚拟大会~？在线的，有空可以试试看

[2016-02-04 02:09] at15 commented on #37
@LukeXuan forgot weekly?

[2016-02-04 02:10] at15 commented on #37
https://github.com/alexazhou/VeryNginx

openresty 看上去不错啊

[2016-02-04 02:12] at15 commented on #5
ci is no longer used, and will be replaced by phalcon in production. (not by laravel)

[2016-02-04 02:12] #5 closed, assigned to xsfour

[2016-02-04 04:47] arrowrowe opened #38 "Weekly for 2016/02/10"
2016/02/10, 第四循环第一次, 总第十九期 -> @at15

投稿:
- [x] @at15
- [x] @swaylq
- [x] @arrowrowe
- [x] @gaocegege
- [x] @ComMouse
- [x] @LukeXuan
- [x] @tq5124

[2016-02-04 04:48] arrowrowe commented on #37
Issue locked. Post to #38 please.

[2016-02-04 04:54] at15 commented on #38
https://mozilla.github.io/nunjucks/ a js template recommended by @LukeXuan , but didn't see any brand new features, I found most js template engines similar, and since we precompile the templates, the speed is not our concern.

[2016-02-04 16:41] arrowrowe commented on #37
Mail sent by @arrowrowe.

[2016-02-04 16:41] #37 closed, assigned to LukeXuan

[2016-02-05 10:01] arrowrowe commented on #38
- [TypeScript and webpack](http://www.jbrantly.com/typescript-and-webpack/)

[2016-02-06 08:17] gaocegege commented on #38
[TeamStuQ/skill-map](https://github.com/TeamStuQ/skill-map)
各个方向的技能加点攻略，看云计算反正是挺靠谱的

[2016-02-07 19:14] arrowrowe commented on #38
- [git-blame-someone-else](https://github.com/jayphelps/git-blame-someone-else) Blame someone else for your bad code.

[2016-02-07 19:15] arrowrowe commented on #38
- [CSS Variables: Why Should You Care?](https://developers.google.com/web/updates/2016/02/css-variables-why-should-you-care) CSS variables, more accurately known as CSS custom properties, are landing in Chrome 49.

[2016-02-07 19:26] arrowrowe commented on #38
- [Maybe](https://github.com/p-e-w/maybe) allows you to run a command and see what it does to your files _without actually doing it!_

[![Screenshot of Maybe](https://github.com/p-e-w/maybe/raw/master/screenshot.png)](https://github.com/p-e-w/maybe)

[2016-02-08 04:37] at15 commented on #38
@gaocegege 里面前端的那个 https://github.com/JacksonTian/fks 很有名，但是技能点列的很全有时候意义并不是太大，毕竟人的技能点是有限的。而且点太多技能点对身体不好(要多锻炼少吃辣子鸡)  (真心觉得身体不好其他都是白搭额..........

@arrowrowe 我记得python有个东西叫 virtual env什么的 @gaocegege

[2016-02-08 04:44] tq5124 commented on #38
@at15 我这个礼拜一下子看到两三个python项目用这个virtual env，之前没怎没听说啊。。。

[2016-02-08 08:53] at15 commented on #38
@tq5124 不早，我也是看有的py项目的readme才知道的，我用py用的很少额，东岳更是基本不用py...

[2016-02-08 09:03] arrowrowe commented on #38
- PostCSS & SASS
  - [Using PostCSS Together with Sass, Stylus, or LESS](http://webdesign.tutsplus.com/tutorials/using-postcss-together-with-sass-stylus-or-less--cms-24591)
  - [Breaking up with Sass: it’s not you, it’s me](https://benfrain.com/breaking-up-with-sass-postcss/)

[2016-02-09 06:03] swaylq commented on #38
- [How Node.js handles HTTP connections](http://blog.yld.io/2016/02/08/squeeze-the-juice-out-of-node/)

[2016-02-09 06:18] swaylq commented on #38
- [react-designer](http://fatiherikli.github.io/react-designer/)

[2016-02-09 12:16] at15 commented on #38
From https://github.com/zenany/weekly/commit/efdeebc8e9fe9ed0681d920912c34e9d666af53a
- https://talks.golang.org/2016/state-of-go.slide#1  Go 2月份要发布 1.6 了

@arrowrowe 那张迷之自信的图来一发
- https://bootstrapstudio.io/ 制作bs4的原型，同时生成js和css 只要25刀(趁着现在汇率跌宕起伏买一发?)

类似的产品 http://pingendo.com/ 免费而且支持 bs4 http://v4.pingendo.com/playground.html

[2016-02-09 12:30] at15 commented on #38
- https://jakearchibald.com/2016/streams-ftw/  js stream
- http://mp.weixin.qq.com/s?__biz=MzA4Nzg5Nzc5OA==&mid=402143684&idx=2&sn=9e93de8811e342cbd01f634a5e8976c3   Docker持续部署图文详解
- http://www.learnenough.com/git-tutorial    9刀 @arrowrowe 感觉我们可以用东岳的钱买电子书耶。

[2016-02-09 12:40] at15 commented on #38
@arrowrowe 这周proxy给别人吧，我抽出时间去看看cure和phalcon.... ie: @gaocegege 土豆丝来do辣子鸡a favor?

[2016-02-09 13:48] ComMouse commented on #38
[ThinkPHP 5.0](https://github.com/top-think/think)
粗看了下文档感觉比以前好很多的赶脚，看到了好多 Laravel 的影子。。

[2016-02-09 17:33] tq5124 commented on #38
~~[Madoko](https://www.madoko.net), markdown processor from Microsoft.~~ duplicate

Features:
- 使用Latex渲染，能使用latex package，所以目标是全面替代Latex。 “ one can use any LaTeX style or package, and any LaTeX document styles”
- "#" 表示标题，自动编号，比如第一个##会渲染成“1.1”
- 绑定github后提供version history
- Using the reveal.js framework, we can create great presentations in Markdown

[2016-02-10 03:58] gaocegege commented on #38
今天直到晚上应该都碰不到自己的电脑0.0

Ce Gao
Undergraduate in SE, SJTU
Emailgaocegege@hotmail.com
Telephone1592 1592 066

发件人:  Pinglei Guo
答复:  dyweb/web-stuff
日期:  2016年2月9日 星期二 下午8:40
至:  dyweb/web-stuff
抄送:  策 高
主题:  Re: [web-stuff] Weekly for 2016/02/10 (#38)

@arrowrowe 这周proxy给别人吧，我抽出时间去看看cure和phalcon.... ie: @gaocegege 土豆丝来do辣子鸡a favor?

—
Reply to this email directly or view it on GitHub.

[2016-02-10 06:59] arrowrowe commented on #38
re @tq5124: Madoko duplicate, see #26 and [20151223](https://github.com/dyweb/web-stuff/blob/master/weekly/2015/1223.md). 不过还是重发一下好了, 上次只是提了一下~

[2016-02-10 09:26] arrowrowe commented on #38
re @at15: 你要的谜之自信, 图源见左下角.

[![谜之自信](https://cloud.githubusercontent.com/assets/4508882/12943307/60e585d4-d01b-11e5-943e-48cde16ac921.jpg)](http://www.bilibili.com/video/av1358922/index_3.html)

[2016-02-10 09:46] arrowrowe commented on #38
~~继续给婶婶投的 state of go 配图.~~ 图源见所附链接.

[![join the party!](https://talks.golang.org/2016/state-of-go/img/party-gopher.png)](https://talks.golang.org/2016/state-of-go.slide)

[2016-02-10 09:56] arrowrowe commented on #38
- [diff-so-fancy](https://github.com/stevemao/diff-so-fancy), 确实... 更漂亮了

[2016-02-10 16:27] arrowrowe commented on #38
Mails sent by @arrowrowe.

[2016-02-10 16:27] #38 closed, assigned to at15

[2016-02-10 16:30] arrowrowe opened #41 "Weekly for 2016/02/17"
2016/02/17, 第四循环第二次, 总第二十期 -> @arrowrowe
-> [Preview](https://github.com/arrowrowe/web-stuff/blob/weekly/20/weekly/2016/0217.md) <-

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [x] @LukeXuan
- [ ] @tq5124
- [x] @gaocegege
- [x] @Bluemit

[2016-02-11 01:52] gaocegege commented on #41
[docker 1.10](http://blog.docker.com/2016/02/docker-1-10/) 很多update，资此一个

[2016-02-11 05:26] at15 commented on #41
From @Bluemit: [FeelUOwn](https://github.com/cosven/FeelUOwn), 非官方的网易云 Linux 客户端. 从 [qa](https://qa.dongyue.io/?/question/166) 看到的.

[2016-02-11 10:10] at15 commented on #41
- https://github.com/sahat/hackathon-starter gh trending, we can use it in hackthon

btw: gh-trending is becoming kind of boring .....

[2016-02-11 10:14] at15 commented on #41
- https://github.com/niieani/bash-oo-framework 用oo的方式来写bash，好黑科技的感觉。但是感觉有时候不一定oo就好额。

[2016-02-11 14:21] at15 commented on #41
https://github.com/ericnorris/striptags php

html -> plain text

[2016-02-11 15:48] at15 commented on #41
- https://github.com/EinsteinsWorkshop/BlocksCAD 浏览器里的CAD(计算机辅助设计)软件，想起来上学期的大作业 https://github.com/at15/cadjs 今天有人star了.....

[2016-02-12 07:26] at15 commented on #41
proxy from @LukeXuan http://byobu.co/ leave the description to you ....

[2016-02-12 09:00] arrowrowe commented on #41
- [Best App](https://github.com/hzlzh/Best-App) for OS X / iOS / Android / ......

[2016-02-13 04:30] at15 commented on #41
https://deepstream.io/

[2016-02-13 06:32] arrowrowe commented on #41
- [Grunt 1.0.0 rc1 released](http://gruntjs.com/blog/2016-02-11-grunt-1.0.0-rc1-released)

什么时候哪位来介绍一下各种工作流吧... Gulp / Grunt / NPM Scripts / Makefile /......

[2016-02-13 08:41] at15 commented on #41
@arrowrowe grunt 我们已经很久没有用过了吧.....

另外假期说好要做的事情，同去，教学，cure，主页，除了游戏似乎什么都没干额

[2016-02-13 08:47] arrowrowe commented on #41
re @at15 同去开了一点点头... Cure 美赛前还是推了一大波的......

[2016-02-13 09:16] at15 commented on #41
@arrowrowe 然而还是游戏的进度推的最快

[2016-02-14 03:55] Bluemit commented on #41
投稿：https://github.com/CleverRaven/Cataclysm-DDA
大灾变，linux下感觉不错的游戏

[2016-02-14 08:07] arrowrowe commented on #41
- [ESLint v2.0.0 released](http://eslint.org/blog/2016/02/eslint-v2.0.0-released)

[2016-02-14 10:20] at15 commented on #41
@Bluemit 补充了一下截图 http://en.cataclysmdda.com/pages/2/display 画面是字符风格的？ 还是有个 console 的版本

[2016-02-14 10:55] LukeXuan commented on #41
byobu应该是基于screen/tmux的上层封装，可以让多个人同时在一个terminal工作/同一个shell session在多个ssh session生存。

[2016-02-14 12:32] Bluemit commented on #41
@at15 画面就是这样的。。。

[2016-02-14 12:33] Bluemit commented on #41
https://github.com/zensh/AngularjsTutorial_cn  AngularJS中文社区提供的入门教程

[2016-02-14 12:43] at15 commented on #41
@Bluemit 这个就是把英文的翻译了一遍.... https://docs.angularjs.org/tutorial 这个我当时也没有仔细看过，只是看了几个blog然后就开始了，后面更多的ng也是需要用的时候再学的。你可以问问 @ComMouse 和 @LukeXuan 我不推荐这个中文翻译版，这个原版的我也不是很推荐。另外ng1跟ng2差别很大，虽然ng1应该还是可以坚挺一段时间

[2016-02-14 13:17] at15 commented on #41
https://github.com/hbons/SparkleShare 可以跟gitlab结合的同步盘 @scottsun94 可以让设计组的试一试?

@gaocegege 帮忙试下mac版(又想起了我进了油的mac......)

[2016-02-15 08:26] gaocegege commented on #41
[A guide to raft](http://thesecretlivesofdata.com/raft/)
raft是一个解决分布式一致性问题的算法，跟paxos是一类的算法

[2016-02-15 11:53] ComMouse commented on #41
[Chocolatey](https://chocolatey.org/) Windows 下的包管理器

[2016-02-16 16:44] ComMouse commented on #41
[谈谈使用promise时候的一些反模式](http://www.tuicool.com/articles/FvyQ3a)

[2016-02-17 06:57] arrowrowe opened #42 "Weekly for 2016/02/24"
2016/02/24, 第四循环第三次, 总第二十一期 -> @ComMouse

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [x] @LukeXuan
- [ ] @tq5124
- [x] @gaocegege
- [x] @Bluemit

[2016-02-17 06:59] arrowrowe commented on #41
Issue locked to #43. Post to #42 please.

[2016-02-17 13:10] arrowrowe commented on #41
Mails sent by @arrowrowe.

[2016-02-17 13:10] #41 closed, assigned to arrowrowe

[2016-02-17 14:52] LukeXuan commented on #42
[Kotlin 1.0](http://blog.jetbrains.com/kotlin/2016/02/kotlin-1-0-released-pragmatic-language-for-jvm-and-android/) 1.0版本正式发布

[2016-02-18 01:33] gaocegege commented on #42
[go-git](https://github.com/src-d/go-git) 一个production ready的git client library，golang的库。

[2016-02-18 01:59] arrowrowe commented on #42
[npm 混合公共源和私有源](https://breeswish.org/blog2016/02/16/npm-hybridize-public-and-private-repository).

[2016-02-18 04:17] arrowrowe commented on #42
[Simple Python Version Management: pyenv](https://github.com/yyuu/pyenv) 好像挺好用? 没试...

[2016-02-18 04:24] arrowrowe commented on #42
- **GitHub**: 新 feature 们~
  - [Issue and Pull Request templates](https://github.com/blog/2111-issue-and-pull-request-templates) and its documentation [Helping people contribute to your project](https://help.github.com/articles/helping-people-contribute-to-your-project/)
  - [Upload files to your repositories](https://github.com/blog/2105-upload-files-to-your-repositories)
- **Coding**: [为什么 Codin

[2016-02-18 04:26] arrowrowe commented on #42
[GitHub Shop](https://github.myshopify.com/) 买买买

[2016-02-18 07:28] gaocegege commented on #42
有时间可以合买一波，为信仰充值~？听说邮费很感人，就没买

[2016-02-18 08:34] arrowrowe commented on #42
From @at15: 前端编辑器
- [有多大比例的前端工程师，能在合理的时间内独立开发出一个足以供商业网站使用的文本编辑器？](https://www.zhihu.com/question/26739121)
- [Why ContentEditable is Terrible](https://medium.com/medium-eng/why-contenteditable-is-terrible-122d8a40e480)

[2016-02-18 08:38] arrowrowe commented on #42
[Wallpaper: Linux Commands Cheatsheet](http://alpha.wallhaven.cc/wallpaper/336071).

[![Linux Commands Cheatsheet](http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-336071.jpg)](http://alpha.wallhaven.cc/wallpaper/336071)

[2016-02-18 10:40] arrowrowe commented on #42
继[第19期周报](https://github.com/dyweb/web-stuff/blob/master/weekly/2016/0210.md)预告之后, [Go 1.6 is released](http://blog.golang.org/go1.6)!

[2016-02-18 12:08] arrowrowe commented on #42
[Superhero.js](http://superherojs.com/) 似乎是个不错的资源站...... @at15 @ComMouse @LukeXuan 鉴定一下?

[2016-02-18 14:07] Bluemit commented on #42
[http://www.yuntongxun.com/?kw=PPQP](url) 容联云通信，可以按条购买SMS推送而且速度快，DEMO可以尝试使用

[2016-02-18 20:11] arrowrowe commented on #42
[为什么 Coding 不是中国的 Github?](https://blog.coding.net/blog/why-coding-does-not-equals-github)

之前看 @gaocegege 分享的. 话说, 豆 @ComMouse 觉得不适合的话就不进周报好了...

[2016-02-20 04:18] ComMouse commented on #42
[weui](https://github.com/weui/weui) 微信团队推出的样式库，为微信量身定制

[2016-02-20 11:52] Bluemit commented on #42
我昨天也看到了weui ，很不错的东西

[2016-02-20 11:53] arrowrowe commented on #42
[Weather for City](http://wttr.in/) and [its repo](https://github.com/chubin/wttr.in)

[2016-02-20 11:54] Bluemit commented on #42
推荐一个chrome/firefox插件: Octotree，树形展示 Github 项目代码

[2016-02-20 11:55] arrowrowe commented on #42
re @Bluemit Octotree duplicated [Weekly/13](https://github.com/dyweb/web-stuff/blob/master/weekly/2015/1230.md)

[2016-02-21 02:04] at15 commented on #42
@Bluemit weui 已经出来一阵了

[2016-02-21 05:21] arrowrowe commented on #42
[Bilibili Mac Client](https://github.com/typcn/bilibili-mac-client)

看 Rainux star 的, 并没有试过 (因为没有 Mac...)

[2016-02-21 14:11] Bluemit commented on #42
@at15 我看一个项目做的时候用到了这个

[2016-02-21 15:58] at15 commented on #42
- https://github.com/gin-gonic/gin 看到土豆丝 @gaocegege star 了，似乎是个性能很好的 go http web framework 感觉可以用来做一些类似 proxy 的工作，我记得以前看到过一个用go写的mysql的proxy

[2016-02-22 02:01] at15 commented on #42
- https://github.com/qiniu/cerl CERL2.0 - Erlang Model for C++

里面提到了这篇文章 http://open.qiniudn.com/%5BJoe-Armstrong%5DMaking-reliable-distributed-systems-in-the-presence-of-software-errors.pdf

[2016-02-22 04:54] gaocegege commented on #42
[iTerm 2 Version 3 Beta](https://iterm2.com/version3.html)
iTerm 2新版本，大家都看得到的变化是

还有很多小细节有变化，更加方便使用了

[2016-02-22 07:50] arrowrowe commented on #42
[Glances](http://nicolargo.github.io/glances/), a cross-platform curses-based system monitoring tool written in Python.

[2016-02-22 07:58] at15 commented on #42
zenany weekly has updated https://github.com/zenany/weekly/commit/1c9a4c9060e63d5c52594f2e5ba6429d19785f36

TODO: read and find useful parts

[2016-02-22 15:05] at15 commented on #42
- phalcon release 2.0.10 https://github.com/phalcon/cphalcon/releases/tag/phalcon-v2.0.10 some minor fixes, php7 is not supported

[2016-02-22 15:54] at15 commented on #42
- https://github.com/mitchellh/packer

support docker, vbox, vmware, ec2 ..... @gaocegege  have a look?

[2016-02-22 16:18] at15 commented on #42
Github extensions
- github hovercard, show tooltip for use and repo when hover . this is a duplicated one
- octo linker, navigate in your js file like in Webstorm https://github.com/octo-linker/chrome-extension
- github awesome autocomplete , gh default search bar sucks, this one is provided by https://www.algolia.com

[2016-02-22 16:18] at15 commented on #42
btw: 元宵节快乐~ （没吃到元宵....

[2016-02-23 11:36] arrowrowe commented on #42
[Getting Ready For HTTP/2: A Guide For Web Designers And Developers](https://www.smashingmagazine.com/2016/02/getting-ready-for-http2/)

cc @gaocegege

[2016-02-23 11:53] at15 commented on #42
- [cmu introduction to computer system](https://scs.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=d8c83d3a-8074-4afe-ae3b-693e2250999a) 2b小伙伴推荐的  @tq5124 有了解过这个咩?

[2016-02-23 14:02] Bluemit commented on #42
@at15  ics 软院神课？

[2016-02-23 14:21] gaocegege commented on #42
@at15 这门课超神

[2016-02-23 14:42] at15 commented on #42
@gaocegege 这个就是软院ics对应的那个cmu原版?

[2016-02-23 14:45] gaocegege commented on #42
@at15 不出意外是的，就叫这名字，教材是csapp

[2016-02-23 15:38] at15 commented on #42
@ComMouse 小豆记得明天整理weekly :)

[2016-02-23 17:05] tq5124 commented on #42
对，15513。集合编程基础，计算机网络，计算机组成，操作系统的超级大课，我个人觉得转专业最好的入门课。不过应该做不了autolab作业了

[2016-02-24 02:18] at15 commented on #42
@tq5124 那不是应该 @紫辰

[2016-02-24 02:22] tq5124 commented on #42
@at15，没有autolab就没什么意义了，光看视频也学不进去啊

[2016-02-24 02:23] tq5124 commented on #42
@gaocegege 啊软院的这个可以外院选嘛？课号有吗？

[2016-02-24 02:23] at15 commented on #42
@tq5124 可以的，现在第三轮，我上学期选了又退了..... 但是据说lab很多 0.0

[2016-02-24 02:25] at15 commented on #42
@tq5124 任选课 软院 2014级 SE115 计算机系统基础 下

[2016-02-24 02:26] gaocegege commented on #42
@tq5124 这门课我们是学两个学期的，现在可能只有上或者只有下。。一个学期学起来还是有些紧张的

[2016-02-24 02:26] tq5124 commented on #42
@at15 那个是小学期诶。。。19-22周

[2016-02-24 02:27] gaocegege commented on #42
@tq5124 @at15 现在开课很奇葩，有的课是只给工科实验班转过来的同学上的，有的是给原本就是我们学院的人上的，小学期的应该是给工科实验班上的，大概。

[2016-02-24 02:27] at15 commented on #42
@tq5124 oops ... 是补修课....

[2016-02-24 02:28] gaocegege commented on #42
大概可以问问李帅卿？他不是我们学院大一的嘛

[2016-02-24 02:28] tq5124 commented on #42
@gaocegege 求@，或者微信号？

[2016-02-24 07:58] at15 commented on #42
- https://github.com/dthree/cash

<p align="center">
  <img src="http://i.giphy.com/xT0BKNwUPFhFj2glry.gif" alt="Cash" />
</p>

based on interactive nodejs library https://github.com/dthree/vorpal

I remember nodejs repl can be used programmatically, I don't if vorpal is using it under the hood.

[2016-02-24 10:49] ComMouse commented on #42
[Pace](http://github.hubspot.com/pace/docs/welcome/)
傻瓜式页面加载进度条

[2016-02-24 15:51] ComMouse opened #44 "Weekly for 2016/03/02"
2016/03/02, 第四循环第四次, 总第二十二期 -> @LukeXuan

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [ ] @LukeXuan
- [ ] @tq5124
- [x] @gaocegege
- [ ] @Bluemit

[2016-02-24 15:51] ComMouse commented on #42
Weekly Locked

[2016-02-25 04:14] gaocegege commented on #44
[i wanna be the copy](https://github.com/copy/iwbtc) i wanna in browser, excited.
[demo show](http://copy.sh/iw/)

[2016-02-25 04:30] gaocegege commented on #44
### 分享一个有趣的架构

[ArchCI](https://github.com/ArchCI/archci)是一个CI tool，还是国人写的，架构有点独特。

![](https://cloud.githubusercontent.com/assets/5100735/13308710/bd7dd788-dbb0-11e5-8ad5-c0be5ee53fc4.png)

为了实现queue/worker的架构，他们是使用MySQL来做一个queue，worker周期性地去poll MySQL拿到没有被执行过的build，然后进行执行，把结果，日志存入Redis中，之后Client再请求的时候就可以从Redis中取出。

这样用MySQL来做queue的方案，还是第一次见，不知道效率如何。感觉MySQL这样的关系型数据库，应该不太适合这样玩吧，欢迎讨论\w/

[2016-02-25 04:48] gaocegege commented on #44
[Electronic WeChat](https://github.com/geeeeeeeeek/electronic-wechat)
A better WeChat client on Mac OS X and Linux. Build with Electron.

[2016-02-25 14:47] at15 commented on #44
- https://github.com/hwdsl2/setup-ipsec-vpn
- https://raymii.org/s/tutorials/IPSEC_L2TP_vpn_with_Ubuntu_14.04.html

how to setup l2tp, pptp is not safe and seems got blocked.

[2016-02-25 16:28] at15 commented on #44
- http://weavesilk.com/ use canvas to create beautiful e.... lines?

![silk](https://cloud.githubusercontent.com/assets/5621298/13325306/383f3168-dc1c-11e5-8e7a-d72e7f794004.png)

[2016-02-26 09:44] gaocegege commented on #44
[Kakapo-app](https://github.com/bluedaniel/Kakapo-app)
一款用Electron写的白噪音应用

[2016-02-27 08:30] #42 closed, assigned to ComMouse

[2016-02-27 15:26] at15 commented on #44
- https://github.com/xsfour/qt-imc @xsfour 蠢福用cpp写的聊天软件.....

[2016-02-28 02:18] at15 commented on #44
- https://gitlab.com/gitlab-org/gitlab-ci-multi-runner @gaocegege this is the newest ci runner for gitlab

[2016-02-28 02:34] gaocegege commented on #44
re @at15 got it

[2016-02-28 04:35] arrowrowe commented on #44
[Gitbar](https://github.com/Shikkic/gitbar), a plugin for bitbar to quickly show your open soure github contribution stats and help set contribution goals, all on your Mac OS X Menu Bar.

非 Mac 党表示不知道好不好用 = = cc @gaocegege

[2016-02-28 08:42] arrowrowe commented on #44
[NovelScript](https://github.com/yinyanfr/NovelScript/), HTML Galgame library.

[萌娘百科@fb](https://www.facebook.com/%E8%90%8C%E5%A8%98%E7%99%BE%E7%A7%91-221502514610838) 发的, tag 是 #白色相簿2 orz...... cc @LukeXuan

[2016-02-28 10:11] gaocegege commented on #44
Gitbar, 反正我没跑起来

[2016-02-29 02:27] arrowrowe commented on #44
[Facebook open sources rich text editor framework Draft.js](https://code.facebook.com/posts/1684092755205505/facebook-open-sources-rich-text-editor-framework-draft-js)

GitHub link: [facebook/draft-js](https://github.com/facebook/draft-js).

[2016-02-29 03:21] at15 commented on #44
- http://shields.io/

![](https://img.shields.io/badge/mie2-eat-green.svg)
![](https://img.shields.io/badge/cece-hole-red.svg)

[2016-02-29 04:02] at15 commented on #44
from zenany weekly
- http://jolestar.com/dependency-management-tools-maven-gradle/  依赖管理工具漫谈
- ~~http://www.epubit.com.cn/book/details/4374   @gaocegege 高可用docker~~ 卖书一刚

另外有人开了个 pr，可以把 swift 编译到安卓上了 0.0 见 https://github.com/dyweb/android-stuff/issues/11

[2016-02-29 04:20] at15 commented on #44
- http://keepachangelog.com/ how to write changelog

[2016-02-29 04:29] gaocegege commented on #44
[微信域名案简单解读](http://blog.shiyuhang.org/?p=3415)

交大凯原的博士学长的博客，嗯看上去还是会写代码的学长

[2016-02-29 05:16] ComMouse commented on #44
[weinre](http://people.apache.org/~pmuellr/weinre/docs/latest/)

移动端调试工具

[2016-02-29 12:07] ComMouse commented on #44
BFC 补课，虽然应该都知道==

[详说 Block Formatting Contexts (块级格式化上下文)](http://kayosite.com/block-formatting-contexts-in-detail.html)

~~另一篇经典的讲浮动的因为原网站挂了就不贴出来了。。~~
还是贴一下吧==原链接已经挂了
http://www.cnblogs.com/lhb25/p/story-of-clear-float.html

[2016-03-01 12:06] arrowrowe commented on #44
[Awesome Electron](https://github.com/sindresorhus/awesome-electron)
- [ScreenCat](https://github.com/maxogden/screencat), an open source screen sharing + remote collaboration application.
  - [![ScreenCat](https://github.com/maxogden/screencat/raw/master/img/Icon@2x.png)](http://maxogden.github.io/screencat/)
- [N1](https://github.com/nylas/N1), an open-source mail client built on the modern web

[2016-03-02 01:27] gaocegege commented on #44
[docker cloud](https://cloud.docker.com)

今天刚刚announce了availability，docker自家的云部署平台

[2016-03-02 06:15] at15 commented on #44
- https://github.com/Urinx/WriteTyper I saw @gaocegege  stared it, don't know if we can have a windows/linux port

[2016-03-02 10:55] LukeXuan commented on #44
[Hey delicious foods!](https://kver.wordpress.com/2015/07/08/google-deep-dream-ruins-food-forever/)

[2016-03-02 11:08] at15 commented on #44
@LukeXuan ...... 54749110

[2016-03-02 11:12] gaocegege commented on #44
@LukeXuan 我要报警了

[2016-03-03 01:20] arrowrowe commented on #44
Mails sent by @LukeXuan

[2016-03-03 01:20] #44 closed, assigned to LukeXuan

[2016-03-03 01:21] arrowrowe opened #47 "Weekly for 2016/03/09"
2016/03/09, 第五循环第一次, 总第二十三期 -> @at15 (由 @arrwowrowe 代理)

投稿:
- [x] @at15
- [x] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [x] @LukeXuan
- [ ] @tq5124
- [x] @gaocegege
- [x] @Bluemit

[2016-03-03 04:17] gaocegege commented on #47
[micha/jsawk](https://github.com/micha/jsawk)
Like awk, but for JSON. 用来解析json的awk

[2016-03-03 04:34] at15 commented on #47
@gaocegege 需要一个js解释器，而且推荐的 mozilla 的 spidermonkey 不是 node ...... 不过 awk 我不会用 ....

[2016-03-03 04:36] at15 opened #48 "Use .github for issue and pr template"
ie: https://github.com/theos/theos/tree/master/.github

[2016-03-03 04:48] arrowrowe commented on #47
@gaocegege @at15  [jq](https://stedolan.github.io/jq/)?

[2016-03-03 04:50] gaocegege commented on #47
jq也是一个可选项

[2016-03-03 05:32] gaocegege commented on #47
[dapper](https://github.com/rancher/dapper)
构建docker image的更加awesome的方式，采取的方式是先构建一个build image，里面有构建的依赖等等环境，之后基于这个image run一个conatainer，在这个container中执行构建，把output输出到一个host的目录下，最终的image只需要简单地cp之前的输出目录到image中就好了

[2016-03-03 05:55] gaocegege commented on #48
Awesome issue, bro :+1:

[2016-03-03 08:12] Bluemit commented on #47
MarkDown技术简历模板
https://github.com/geekcompany/ResumeSample
我觉得模板不一定好，但是模板前面的分析可能比较有道理

[2016-03-03 09:18] gaocegege commented on #47
[sunqibuhuake/atom-miku](https://github.com/sunqibuhuake/atom-miku)
你们程序员真会玩系列

[2016-03-03 14:49] arrowrowe commented on #47
[长文观点丨为什么我不再使用MVC框架？](http://mp.weixin.qq.com/s?__biz=MjM5MDE0Mjc4MA==&mid=402913644&idx=1&sn=62bb9b5ab901480fed123b55205e1bfe) from @at15

[2016-03-03 15:37] at15 commented on #47
@arrowrowe thx mie

[2016-03-03 15:55] at15 commented on #47
-https://github.com/hiloteam/Hilo 阿里开源的 h5 游戏引擎 (readme 里看到了 已申请专利 .....)

切水果
 http://g.alicdn.com/tmapp/hilodemos/3.0.7/fruit-ninja/index.html

[2016-03-04 03:19] gaocegege commented on #47
虽然都在黑阿里，但是阿里开源还是很活跃哒

[2016-03-04 03:20] gaocegege commented on #47
re 长文观点丨为什么我不再使用MVC框架？
现在有很多新的模式，MVVM什么的，并不太知道他们的区别

[2016-03-04 04:55] ComMouse commented on #47
MIT 和 专利貌似是互斥的？。。

[2016-03-04 08:13] at15 commented on #47
@gaocegege 那个似乎是推崇 sam 模式

[2016-03-04 08:14] at15 commented on #47
@gaocegege @ComMouse 看了2个阿里的项目，里面都有提到申请专利..... @arrowrowe 有个 chartx 似乎就是你实习的时候你师兄说的有个人在写一个很nb的图表库.....

阿里是开源和申请专利有助于升值 and/or 涨工资？.....

[2016-03-04 08:16] at15 commented on #47
@gaocegege https://github.com/go-kit/kit 这个东西看上去有点叼啊.... 不过为什么他说

[2016-03-04 08:34] at15 commented on #47
- https://github.com/jphp-compiler/jphp @gaocegege @ComMouse

[2016-03-04 08:44] gaocegege commented on #47
re @at15 revel感觉就是让人不舒服

[2016-03-04 10:34] at15 commented on #47
@gaocegege revel 好像已经没人维护了，最早的作者好像14年之后就不再维护了，在gh上也没什么动静了。不过 revel 因为出来很早，应该名气很大？

[2016-03-04 10:35] at15 commented on #47
https://github.com/fex-team/ueditor ueditor 又开始维护了 ..... @swaylq

[2016-03-04 10:47] arrowrowe commented on #47
[Go for Visual Studio Code](https://github.com/Microsoft/vscode-go) for you go guys @at15 @gaocegege

[2016-03-04 11:17] Bluemit commented on #47
命令行版的Twitter
https://github.com/DTVD/rainbowstream

[2016-03-04 12:17] at15 commented on #47
@arrowrowe I choose PhpStorm
@Bluemit 你咋那么喜欢命令行的东西...... (来个命令行版的女友....

[2016-03-05 05:16] at15 commented on #48
@arrowrowe ?

[2016-03-05 05:16] at15 commented on #47
- https://github.com/ZJUT/NexusPHP pt的代码，交大的应该也是根据这个改的 ....
- http://www.nexusphp.org/ 还有一个维护联盟.... 不过貌似更新不是很频繁

话说我们自己应该也可以做个pt或者类似的p2p工具，用来同步配置环境需要的大量binary比如虚拟机镜像，在校内网络速度应该还是很快的.....  好像有个 bitsync 的工具，不过是商业版的

[2016-03-05 05:59] arrowrowe commented on #48
Why so hurry....

[2016-03-05 06:12] at15 commented on #48
@arrowrowe why so lazy?

[2016-03-06 05:11] at15 commented on #47
- https://github.com/gabrielrcouto/php-terminal-gameboy-emulator rt

[2016-03-06 05:37] at15 commented on #47
- https://github.com/pinterest/kingpin @gaocegege

[2016-03-06 07:25] at15 commented on #47
- https://github.com/google/closure-library Google's common JavaScript library
- http://google.github.io/closure-library/source/closure/goog/demos/

不过demo都看上去好古老.....

[2016-03-06 07:28] at15 commented on #47
- https://github.com/google/google-api-php-client g家的php api client

[2016-03-06 07:29] at15 commented on #47
- https://github.com/google/auto auto generate code for java @gaocegege

[2016-03-06 09:27] LukeXuan commented on #47
[pass](https://www.passwordstore.org/) universal password storage(using GPG encryption and git to synchronise).

[2016-03-06 13:34] at15 commented on #47
看到 @gaocegege  star 了 https://github.com/micro/micro 感觉跟之前提到的 https://github.com/go-kit/kit   有点类似? 策策有看过 go-kit 那个么，跟 micro 的区别是?

[2016-03-06 13:37] swaylq commented on #47
- [Try Git](http://swaylq.me/#/article/0)

[2016-03-06 14:10] at15 commented on #47
@swaylq 点赞

[2016-03-06 14:32] arrowrowe commented on #47
[Strikingly's Hangman Game](https://github.com/joycehan/strikingly-interview-test-instructions/tree/new), 这周末做的 [Strikingly](https://www.strikingly.com/) 的笔试题, 有点意思的. 写个自动猜词机.

[2016-03-06 14:33] at15 commented on #47
@arrowrowe 做了一周末的咩.....

[2016-03-06 14:33] arrowrowe commented on #47
Strikingly 给了三条笔试题............... Hangman's Game 是第二题...

[2016-03-06 15:05] gaocegege commented on #47
re @at15 我就是star一下，没看过= =

[2016-03-06 16:00] at15 commented on #47
@gaocegege 我看了一下，感觉 micro 要比 kit 更实用一点，另外从 kit 的readme里看它有收到 micro 的启发，不过 kit 的 star 更多，可能因为宣传或者看上去更叼一点。毕竟感觉很多人 star 也只是 star 了而已，我猜国外不会比国内有什么不同。

[2016-03-07 05:28] ComMouse commented on #47
[关于请求被挂起页面加载缓慢问题的追查](http://fex.baidu.com/blog/2015/01/chrome-stalled-problem-resolving-process/)

Chrome 的蜜汁超长 Stall 时间（通常40秒或一分钟以上）的原因分析。。。

貌似 tw 服务器一直有这个问题。。

[2016-03-07 05:51] at15 commented on #47
@ComMouse tw 服务器? 你有遇到过这样的 stall?

[2016-03-07 09:51] arrowrowe commented on #47
[fm-client](https://github.com/foreverbell/fm-client), NetEase Cloud Music FM client in Haskell. FB 出品.

[2016-03-07 10:13] arrowrowe commented on #47
[《开源2015年鉴手册》中文版电子书](https://github.com/OCselected/opensource-2015-yearbook-zh) 翻译认领。

[2016-03-07 13:45] ComMouse commented on #47
[Converting MySQL to PostgreSQL](https://en.wikibooks.org/wiki/Converting_MySQL_to_PostgreSQL)

PostgreSQL 踩坑指南

[2016-03-07 15:07] at15 commented on #47
@arrowrowe 扫了下里面的文章。。。感觉没啥干货

[2016-03-07 15:08] at15 commented on #47
@ComMouse 豆豆有考虑 pg? json 和 geo 看上去还不错。

[2016-03-07 15:16] ComMouse commented on #47
这学期学 DB，顺便围观一下。。顺便吐槽下 pgAdmin 好难用。。

[2016-03-07 15:17] ComMouse commented on #47
[使用HAProxy、PHP、Redis和MySQL支撑10亿请求每周架构细节](http://www.csdn.net/article/2014-08-14/2821203)

使用 Symfony 的基于 REST 的网站架构案例

[2016-03-07 15:21] at15 commented on #47
@ComMouse 感觉没有太多干货?.....

[2016-03-07 15:21] ComMouse commented on #47
感觉跟同去的情况有相似===看上去比较简单的方案===

[2016-03-07 15:23] at15 commented on #47
@ComMouse 额。。。主要还是没硬件....

[2016-03-08 01:45] gaocegege commented on #47
还是第一次见这样的架构。。

[2016-03-08 07:06] at15 commented on #47
@gaocegege 哪里的架构？.... redis 开了持久化吧

[2016-03-08 07:14] gaocegege commented on #47
@ComMouse 那文章里的

[2016-03-08 07:21] at15 commented on #47
@gaocegege 我看的太不细致了.... \w (打自己

[2016-03-08 09:18] at15 commented on #47
- https://github.com/P-H-C/phc-winner-argon2  密码哈希比赛冠军....(从没听说过) 缺个 php 的binding
  @gaocegege @LukeXuan

[2016-03-08 09:20] gaocegege commented on #47
是用来做什么的呢，把密码做不可逆哈希的方法~？

[2016-03-08 09:22] at15 commented on #47
@gaocegege 看 readme 说它对防 gpu 暴力破解很有效

[2016-03-08 09:28] gaocegege commented on #47
@at15 哦<del>缺php的binding很说明问题，说明php已经没有人用了</del>

[2016-03-08 09:33] gaocegege commented on #47
https://github.com/metac0rtex/GitHarvester

[GitHub是个敏感数据宝库 可以从中收割数据](https://mp.weixin.qq.com/s?__biz=MjM5NzI0Njc2MA==&mid=410519883&idx=1&sn=d6519f05e510a307b3a6161f9e9013a8&scene=0&key=710a5d99946419d9a93dcc0f8784be42ea5196a3488d1cad3506775dec58dc58ccbce6674cb8c247289ec37c4c56190a&ascene=0&uin=MTIxNjI4OTg4MA%3D%3D&devicetype=iMac+MacBookPro11%2C1+OSX+OSX+10.11.3+build%2815D21%29&version=1102020

[2016-03-08 11:05] at15 commented on #47
- http://mp.weixin.qq.com/s?__biz=MjM5ODYxMDA5OQ==&mid=404087915&idx=1&sn=075664193f334874a3fc87fd4f712ebc&scene=0#wechat_redirect

缓存架构设计

[2016-03-08 12:54] gaocegege commented on #47
[keywhiz](https://github.com/square/keywhiz) 听说是谷歌在用的管理secrets的工具

[2016-03-08 15:04] at15 commented on #47
提前mark一下要用的插图(部分)
![image](https://cloud.githubusercontent.com/assets/5621298/13605335/100e9aca-e582-11e5-9215-1de5966c0e07.png)

[2016-03-09 02:54] at15 commented on #47
gitlab 也开始卖衣服和sticker了 ..... 然后他们用的是一个现成的商城服务http://www.brightstores.com/company-store-brightsites.html

btw: gitlab 照的照片比gh的好看 https://gitlab.mybrightsites.com/products/86669

[2016-03-09 10:27] at15 commented on #47
- http://www.lightbend.com/blog/typesafe-changes-name-to-lightbend scala 的公司 typsafe 改名了，评论大亮 @gaocegege  截取一段如下

[2016-03-09 11:42] gaocegege commented on #47
没看懂，是吐槽scala没人contribute么

[2016-03-09 13:40] at15 commented on #47
@gaocegege 嗯，因为typsafe解释改名说他们有很多用户是java的blabla，那哥认为他们应该专注scala，scala很多东西都很xx，ie: sbt (我感觉sbt还好..... 可能是因为没怎么用过....

[2016-03-09 13:41] gaocegege commented on #47
sbt烂的我觉得已经不要不要的了。。跟mvn比的话

[2016-03-10 08:12] arrowrowe opened #49 "Weekly for 2016/03/16"
2016/03/16, 第五循环第二次, 总第二十四期 -> @swaylq

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [ ] @ComMouse
- [x] @LukeXuan
- [ ] @tq5124
- [x] @gaocegege
- [ ] @Bluemit

[2016-03-10 09:28] arrowrowe commented on #47
Mails sent by @arrowrowe.

[2016-03-10 09:28] #47 closed, assigned to arrowrowe

[2016-03-10 09:29] arrowrowe commented on #49
[ownCloud 9.0 发布，更好的跨服务器共享和扩展性](http://mp.weixin.qq.com/s?__biz=MjM5NjQ4MjYwMQ==&mid=408790628&idx=2&sn=e3b8135cf48c3d8cb851ed02ea533df8) (原文: [
9.0 is the biggest ownCloud release so far](http://karlitschek.de/2016/03/9-0-is-the-biggest-owncloud-release-so-far/)) from @at15

[2016-03-10 09:59] at15 commented on #49
- https://github.com/piwik/piwik

[2016-03-10 10:36] arrowrowe commented on #49
[AlphaGo的分析 - 远东轶事 - 知乎专栏](http://zhuanlan.zhihu.com/yuandong/20607684)

~~虽然并看不懂 - -~~

_TODO: 加上五场比赛结果_

[2016-03-10 10:55] arrowrowe commented on #49
Lint & Test & Coverage? Only know ESLint & Mocha & Istanbul? See [xo](https://www.npmjs.com/package/xo), [ava](https://www.npmjs.com/package/ava) and [nyc](https://www.npmjs.com/package/nyc).

以前一直用前三者... 新项目 [Romi](https://github.com/arrowrowe/romi) 试了下后三种, 感觉也挺好的. (确实更方便了......)

[2016-03-12 06:28] at15 commented on #49
- https://github.com/marcioAlmada/yay

[2016-03-12 11:21] at15 commented on #49
- http://doc.gitlab.com/omnibus/docker use docker to setup GitLab, no more ruby version stuff ....

dont know how to handle backup & use backup though, and is still trying it inside a vagrant box.

[2016-03-12 11:22] at15 commented on #49
- https://segmentfault.com/a/1190000002668708 用vps搭一个自己的docker hub mirror 嗯.... 可以拿budgetvm一试，虽然不知道openvz的可不可以跑docker

用ci的服务器配置好了mirror

[code]
- http://blog.csdn.net/yeasy/article/details/46916315
- http://www.csdn.net/article/2014-12-15/2823143-Docker-image

[2016-03-12 12:26] arrowrowe commented on #49
[statinamic](https://github.com/MoOx/statinamic), a static website generator to create dynamic website using React components.

cc [Hexo](https://hexo.io/) user @LukeXuan & [Jekyll](https://jekyllrb.com/) user @gaocegege, 有机会比较一下这些?

[2016-03-12 13:03] gaocegege commented on #49
re @arrowrowe
[ink](https://github.com/InkProject/ink) 国人用golang写的静态博客生成器

[2016-03-13 10:24] at15 commented on #49
- https://github.com/bshaffer/oauth2-server-php  another php oauth2 server impl/interface?

[2016-03-13 10:25] at15 commented on #49
- https://developer.valvesoftware.com/wiki/Steam_Web_API steam API, steam 支持 openid

[2016-03-13 11:32] arrowrowe commented on #49
- Node.js Promise
  - MDN: [Promise](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise)
  - [Promises/A+](https://promisesaplus.com/), an open standard for sound, interoperable JavaScript promises—by implementers, for implementers.
  - 著名实现
    - [kriskowal/q](https://github.com/kriskowal/q)
    - [bluebird](https://github.com/petkaantonov/bluebird)
  - 写了个**

[2016-03-13 13:01] arrowrowe commented on #49
- NPM 私有源
  - 往期回顾 - [Weekly/21](https://github.com/dyweb/web-stuff/blob/master/weekly/2016/0224.md): [npm 混合公共仓库和私有仓库](https://breeswish.org/blog2016/02/16/npm-hybridize-public-and-private-repository)
  - [Sinopia](https://github.com/rlidwka/sinopia), a private/caching npm repository server.

[2016-03-13 13:24] LukeXuan commented on #49
Promise有个bluebird据说性能很好

On Sun, Mar 13, 2016, 9:01 PM arrowrowe notifications@github.com wrote:

[2016-03-13 13:56] arrowrowe commented on #49
re @LukeXuan: 嗯, 著名的实现之一

[2016-03-13 14:05] at15 commented on #49
@LukeXuan 都不如咩抖酱的好
- https://github.com/sameersbn/docker-gitlab a better gitlab docker image, more detailed documentation

[2016-03-13 16:50] at15 commented on #49
- https://github.com/DrewML/GifHub Quickly insert GIFs in GitHub comments
  ![afv-funny-fail-xTiTnFbwkFLI7q1eDu](https://camo.githubusercontent.com/90a78c8c70766f6cdbe2a4aad27aa5e88f9f647f/68747470733a2f2f6d65646961322e67697068792e636f6d2f6d656469612f785469546e4662776b464c493771316544752f67697068792e676966)

[2016-03-14 02:46] arrowrowe commented on #49
[How to get a performance boost using Node.js native addons](https://medium.com/@devlucky/how-to-get-a-performance-boost-using-node-js-native-addons-fd3a24719c85)
- 重现: [arrowrowe/node-addon-playground](https://github.com/arrowrowe/node-addon-playground)

[![Boost your Node.js!](https://cdn-images-1.medium.com/max/800/1*T5rMwM8edXuILUrew2YHxw.jpeg)](https://medium.com/@devlucky/how-to-get-a-perfor

[2016-03-14 02:46] LukeXuan commented on #49
[JSON Resume](https://jsonresume.org) and its online editor [JSON Resume Editor](https://registry.jsonresume.org)

p.s. I found one named Hackmyresume in the past and it's like a super set of JSON Resume.

[2016-03-14 03:33] arrowrowe commented on #49
往期回顾 - [Weekly/13](https://github.com/dyweb/web-stuff/blob/master/weekly/2015/1230.md): [HackMyResume](https://github.com/hacksalot/HackMyResume)

for @LukeXuan's JSON Resume

[2016-03-14 03:35] LukeXuan commented on #49
re: @arrowrowe 咩抖酱 Great Work!

[2016-03-14 04:28] at15 commented on #49
PHP 的trending终于有点有意思的东西了
- https://github.com/electerious/Lychee self-host photo management
- https://github.com/Attendize/Attendize open source ticket manage system @ComMouse /w\

Laravel 相关的
- https://github.com/spatie/activitylog 记录用户操作 @ComMouse @xsfour
- https://github.com/spatie/7to5 把 php7 代码转成 php5

[2016-03-14 11:26] at15 commented on #49
- https://github.com/eclipse/che Next-generation Eclipse IDE. Open source workspace server and cloud IDE maybe better than https://c9.io/

@gaocegege it uses docker

[2016-03-14 11:28] at15 commented on #49
from https://github.com/zenany/weekly/commit/7929a15c86e8cc396e373061364b5f95416f57a8
- [State of the Art JavaScript in 2016](https://medium.com/javascript-and-opinions/state-of-the-art-javascript-in-2016-ab67fc68eb0b#.5m5vu7xmh)

- [Angular is a Design Pattern](http://blog.ionic.io/angular-is-a-design-pattern/)
  One of the major realizations we’ve had from working on Ionic 2 is how similar Angul

[2016-03-14 11:56] LukeXuan commented on #49
[Pygments](https://pygments.org) utility used to highlight syntax.
Sample Usage:
`alias ccat='pygmentize -g -O style=colorful,linenos=1'`
![image](https://cloud.githubusercontent.com/assets/3363954/13743785/c743ddcc-ea1e-11e5-964f-286193331d5f.png)

[2016-03-14 12:28] arrowrowe commented on #49
[Minecraft to run artificial intelligence experiments](http://www.bbc.com/news/technology-35778288)

[![The AIX platform will let researchers test their artificial intelligence software in Minecraft's worlds](http://ichef-1.bbci.co.uk/news/660/cpsprodpb/1675A/production/_88749919_1-1.jpg)](http://www.bbc.com/news/technology-35778288)

[2016-03-14 12:42] at15 commented on #49
- http://mp.weixin.qq.com/s?__biz=MjM5NjQ4MjYwMQ==&mid=411995587&idx=1&sn=846028849a22c95af4549d7d03f61639&scene=0#wechat_redirect 只是为了图, 这图可以治疗劲椎病 @gaocegege

![image](https://cloud.githubusercontent.com/assets/5621298/13744799/3a427bfc-ea25-11e5-8846-04847f705ba0.png)

[2016-03-14 12:47] #48 closed, assigned to arrowrowe

[2016-03-15 04:34] at15 commented on #49
- https://github.com/Masterminds/glide package management tool for golang, use vendor (which is support by default in 1.6 @gaocegege you can use environment variables to enbable it  in 1.5.x, set `GO15VENDOREXPERIMENT` to 1)

a short explain for vendor by the author? of this tool http://engineeredweb.com/blog/2015/go-1.5-vendor-handling/

guess we could move Ayi from godeps to glide

[2016-03-15 11:24] at15 commented on #49
- https://github.com/wakatime/wakatime/tree/master/wakatime

  the cli tool used by all wakatime plugin, if it use waka time api, then we can impl a wakatime server, and use it for project management.

[2016-03-15 14:28] at15 commented on #49
- https://moonbingbing.gitbooks.io/openresty-best-practices/content/index.html  openresty 最佳实践 from 360 0.0

[2016-03-16 03:43] at15 commented on #49
- https://docs.travis-ci.com/user/common-build-problems/#Troubleshooting-Locally-in-a-Docker-Image run travis build locally @gaocegege

[2016-03-16 14:42] arrowrowe commented on #49
[All JS Libraries Should be Authored in TypeScript](http://staltz.com/all-js-libraries-should-be-authored-in-typescript.html)

[2016-03-16 14:45] arrowrowe opened #52 "Weekly for 2016/03/23"
2016/03/23, 第五循环第三次, 总第二十五期 -> @arrowrowe (由 @at15 代理)

投稿:
- [x] @at15
- [x] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [x] @LukeXuan
- [ ] @tq5124
- [x] @gaocegege
- [ ] @Bluemit
- [ ] @kdplus
- [x] @InubashiriMomizi
- [x] @samfu1994

[2016-03-16 14:58] at15 commented on #52
啊累 @gaocegege 快点写ayi啊，你忍心看我去人工处理那么多么？ (cece: 恩)

[2016-03-17 04:40] at15 commented on #52
- https://github.com/vici @gaocegege (all the repos are emty though ....)

[2016-03-17 06:02] at15 commented on #52
- https://www.hashicorp.com/blog/feature-preview-vagrant-1-6-windows.html vagrant 支持 windows 的box, 所以在linux服务器上部署 rust 服务器不是梦 @gaocegege @arrowrowe @LukeXuan /w\

[2016-03-17 09:56] at15 commented on #52
- https://github.com/writethedocs/docs how to write the doc, though this is a doc for sphinx

[2016-03-17 11:28] LukeXuan commented on #52
[a Vulnerability of Cross Site Referencing JSON](http://haacked.com/archive/2008/11/20/anatomy-of-a-subtle-json-vulnerability.aspx/)

WTF, I've never heard before.

[2016-03-17 11:34] arrowrowe commented on #49
Mails sent by @arrowrowe.

[2016-03-17 11:34] #49 closed, assigned to swaylq

[2016-03-17 14:46] gaocegege commented on #52
[tusenpo/FlappyFrog](https://github.com/tusenpo/FlappyFrog)
别说话，用心感受

[2016-03-18 05:23] arrowrowe commented on #52
[MarisaKirisame/Cirno](https://github.com/MarisaKirisame/Cirno), Marisa 写的 Cirno, the ⑨-generation programming language.

[2016-03-18 06:04] GokawaHaruki commented on #52
[Pony Foo](https://ponyfoo.com/) begins its **[Pony Foo Weekly](https://ponyfoo.com/weekly)** recently. There has been two posts since: [Issue #1](https://ponyfoo.com/weekly/1) (March 10) and [Issue #2](https://ponyfoo.com/weekly/1) (March 17).

[2016-03-18 11:04] at15 commented on #52
- https://github.com/mindreframer/golang-devops-stuff @gaocegege

[2016-03-18 11:09] gaocegege commented on #52
已经看不过来了，感觉最近被众坑围绕。。

[2016-03-18 12:01] at15 commented on #52
@gaocegege 你一直是被众坑围绕.... btw @YagokoroEirin 楼上是?

[2016-03-18 20:39] LukeXuan commented on #52
[CentOS 7 Box](https://github.com/LukeXuan/atlas-centos7). and the [hosted box](https://atlas.hashicorp.com/LukeXuan/boxes/centos7)

[2016-03-19 02:30] LukeXuan commented on #52
[Keybase](https://keybase.io)
Keybase maps your identity to your public keys, and vice versa.

[2016-03-19 02:36] at15 commented on #52
- http://www.oschina.net/news/71676/luke-5-5-0 @LukeXuan

[2016-03-19 02:43] at15 commented on #52
- https://github.com/alibaba/macaca @arrowrowe @gaocegege  你们老东家又开源了，自动化测试的解决方案
- https://github.com/macacajs/macaca
- http://macacajs.github.io/macaca/

咩里面有你师兄么?

[2016-03-19 02:50] gaocegege commented on #52
道理我都懂，但是logo真的跟coding没关系么

[2016-03-19 03:08] at15 commented on #52
- https://github.com/vrana/adminer/ @ComMouse  one php file replacement for phpmyadmin

[2016-03-19 04:53] arrowrowe commented on #52
@at15 没...

[2016-03-19 05:20] at15 commented on #52
@arrowrowe https://nodesource.com/

[2016-03-19 06:15] arrowrowe commented on #52
Why at me......

[2016-03-19 07:18] GokawaHaruki commented on #52
- Shotgun Episodes. Though the full videos costs, we can still retrieve useful information from presented.
  - [Shotgun: JavaScript Video Experience](https://medium.com/javascript-scene/shotgun-javascript-video-experience-c8b6a7771d49)
    - Test-first methodology: Red/Green/Refactor workflow. Write tests first (they are red now), then code, just enough to work (tests green!), then refactor.
    -

[2016-03-19 07:29] samfu1994 commented on #52
- https://summerofcode.withgoogle.com/dashboard/student/proposal-summary/

[2016-03-19 07:48] at15 commented on #52
@arrowrowe @ComMouse @LukeXuan ~~gosc~~GSoC(楼上)感觉有不少很好玩的项目. cece就不at了...

比如 fedora 好像要做一个用户系统，论坛blabla @LukeXuan
当然还有很多熟悉的php项目，比如 .... joomla, durpal

@Bluemit @BrotherJing @xplorld @xsfour @kdplus @mingzz  0.0 都去看看e

[2016-03-19 08:19] arrowrowe commented on #52
[An introduction to the Web Bluetooth API](https://dev.opera.com/articles/web-bluetooth-intro/) (译文: [Web Bluetooth API 初探](http://qianduan.guru/2016/03/18/An-introduction-to-the-Web-Bluetooth-API/))

P.S. [前端外刊评论](http://qianduan.guru/) 可以 [RSS 订阅](http://qianduan.guru/feed) 了~

[2016-03-19 08:52] at15 commented on #52
@gaocegege 看 scala 的 ~~gosc~~ GSoC 的时候，翻去年的项目，找到了一个交大~~小伙伴~~学长
- https://github.com/lastland/scala-forklift

[2016-03-19 10:47] kdplus commented on #52
@at15 难道不应该是gsoc么

[2016-03-19 10:53] at15 commented on #52
@kdplus 已改, thx

[2016-03-20 02:54] at15 commented on #52
- https://github.com/php-pm/php-pm PPM is a process manager, supercharger and load balancer for PHP applications.

应该是类似swoole那样，长时间运行一个进程，减少每次初始化的开销。

[2016-03-20 11:51] ComMouse commented on #52
[领域驱动设计之领域模型](http://www.cnblogs.com/netfocus/archive/2011/10/10/2204949.html)

aka DDD

[2016-03-20 14:09] at15 commented on #52
- https://github.com/grpc/grpc

[2016-03-20 14:17] at15 commented on #52
- https://github.com/matrix-org/synapse
- https://github.com/matrix-org/GSoC/blob/master/IDEAS.md#what-is-matrix

[2016-03-20 14:21] at15 commented on #52
- https://github.com/MovingBlocks/Terasology @gaocegege

[2016-03-20 16:08] at15 commented on #52
- http://www.weebly.com/ @arrowrowe stringkly 类似，这个好像也是 yc 投资...

[2016-03-21 01:41] gaocegege commented on #52
[The 10 Most Common Mistakes That Python Developers Make](https://www.toptal.com/python/top-10-mistakes-that-python-programmers-make)
第一个问题之前被面试过

[Python Class Attributes: An Overly Thorough Guide](https://www.toptal.com/python/python-class-attributes-an-overly-thorough-guide)
这个哥们对python很熟啊

[2016-03-21 14:53] arrowrowe commented on #52
[Karma](https://github.com/karma-runner/karma) and [isparta](https://github.com/douglasduteil/isparta), Angular's test and coverage toolkit.

(So many...... Test and coverage......)

[2016-03-21 15:47] at15 commented on #52
@arrowrowe ... you forgot this https://github.com/angular/protractor E2E test framework for Angular apps

[2016-03-21 16:29] at15 commented on #52
nodejs plan for v6 `https://github.com/nodejs/node/issues/5766`

[2016-03-21 16:31] at15 commented on #52
Adobe XD for prototyp http://mp.weixin.qq.com/s?__biz=MjM5MjUwMzE2MA==&mid=430912047&idx=1&sn=e7bbbf60ba8c21de1134b13785937ade @scottsun94

[2016-03-21 16:32] at15 commented on #52
opensource game engine http://atomicgameengine.com/blog/announcement-2/ @ComMouse

[2016-03-21 16:35] at15 commented on #52
how slack grows http://growthhackers.com/growth-studies/slack-fastest-growing-b2b-saas-business-ever 感觉没什么干货...

[2016-03-22 08:44] swaylq commented on #52
突然多了好多人

[2016-03-22 09:58] arrowrowe commented on #52
[s3git](https://github.com/s3git/s3git): git for Cloud Storage

[2016-03-22 10:08] at15 commented on #52
- https://www.nomadproject.io/ @gaocegege

and @arrowrowe we will have amazon services for play soon. (after you guys finished cure) \w/

[2016-03-22 10:17] swaylq commented on #52
- [PHP并发IO编程之路](http://blog.jobbole.com/98986/)

[2016-03-22 11:03] gaocegege commented on #52
re @at15 这是啥

[2016-03-22 11:07] at15 commented on #52
@gaocegege

[2016-03-22 14:31] arrowrowe commented on #52
WebAssembly 似乎还没浏览器支持?... 参见 [WebAssembly - Chrome Platform Status](https://www.chromestatus.com/feature/5453022515691520).

[2016-03-23 02:56] LukeXuan commented on #52
[Broadway](https://github.com/mbebenita/Broadway) Javascript H.264 Library.

[2016-03-23 06:09] GokawaHaruki commented on #52
[Debugging with Node](http://krasimirtsonev.com/blog/article/debugging-with-node) and alternatives.

[2016-03-23 08:30] at15 opened #55 "Weekly for 2016/03/30"
2016/03/30, 第五循环第四次, 总第二十六期 -> @ComMouse (由 @arrowrowe 代理)

投稿:
- [x] @at15
- [x] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [x] @LukeXuan
- [ ] @tq5124
- [x] @gaocegege
- [x] @Bluemit
- [x] @InubashiriMomizi
- [x] @kdplus

NOTE:
整理人请直接开分支开pr，这样比用自己的fork要方便一些，其他人也可以更好的补充和修改 @ComMouse
# Weekly 03/24 - 03/30

周报第二十六期, 投稿时序版.
- 催稿人：[@arrowrowe](https://github.com/arrowrowe)
- 交稿人：
  [@at15](https://g

[2016-03-23 08:30] at15 commented on #52
please go to https://github.com/dyweb/web-stuff/issues/55

[2016-03-23 08:33] at15 commented on #55
交大的云平台终于出炉了.....
- http://console.jcloud.sjtu.edu.cn/login?next=/

基于 https://www.ustack.com/ 搭建 (后者是基于 openstack 搭建)

[2016-03-23 09:38] Bluemit commented on #55
爬了一天的知乎 http://139.129.35.166:8188/ 后期已经没有什么符合要求的数据是不是意味着热门的部分已经快爬完了...没排序...

[2016-03-23 10:00] gaocegege commented on #55
re @Bluemit 学弟是会玩的

[2016-03-23 11:05] arrowrowe commented on #55
[aima-python](https://github.com/aimacode/aima-python): Python code for the book _Artificial Intelligence: A Modern Approach_.

[2016-03-23 11:14] arrowrowe commented on #55
re @Bluemit 开源开源 /w\

[2016-03-23 11:46] ComMouse commented on #55
[Phalcon 2.1.0 RC1 发布](https://blog.phalconphp.com/)

该版本是一个大版本更新，且不再兼容 PHP 5.3。在 Phalcon 2.1 中，官方宣称加入了 PHP 7 的支持。

[2016-03-23 12:40] arrowrowe commented on #55
大新闻: [I’ve Just Liberated My Modules](https://medium.com/@azerbike/i-ve-just-liberated-my-modules-9045c06be67c).
- 事件本身, 简而言之,
  - 某公司 (Kik) 因与一个 NPM Package 重名, 要求作者 Azer 撤除,
  - 未果后联系 NPM 官方, 后者未经作者允许就移除了,
  - 随之作者撤除了他名下所有 NPM Packages (似乎超过 250 个?...).
- 直接影响
  - 直接或间接地依赖于 Azer 的 packages 的大量 packages 跪掉. (包括 Babel 等, 于是依赖于 Babel 的项目也跪掉.)
  - 被撤下的 packages 还有被替换为恶意包的潜在危险.
  - ...
- 事件的另两个主角, Ki

[2016-03-23 12:46] GokawaHaruki commented on #55
_Node Hero_, a tutorial series, just publishes its first two chapters, which is quite easy and short. Seems friendly to beginners. cc @kdplus
1. [Getting Started With Node.js](https://blog.risingstack.com/node-hero-tutorial-getting-started-with-node-js/)
2. [Using NPM](https://blog.risingstack.com/node-hero-npm-tutorial/)

[2016-03-23 15:11] at15 commented on #55
@arrowrowe 不过 kik 似乎并不是个很有名的公司?....

另外其实依赖大量的包并不是太好的事情,,,,, 过分module的话....

[2016-03-23 15:15] arrowrowe commented on #55
re @at15 嗯, 各种讨论很多了......

[2016-03-24 02:10] at15 commented on #55
- https://github.com/wooorm/alex Catch insensitive, inconsiderate writing http://alexjs.com

[2016-03-24 07:39] at15 commented on #55
- http://ankisrs.net/

[2016-03-24 07:53] at15 commented on #55
- https://github.com/tobegit3hub/seagull @gaocegege

[2016-03-24 08:14] swaylq commented on #55
- [JSPatch](https://github.com/bang590/JSPatch), 绕过苹果审核机制自动更新

[2016-03-24 09:56] at15 commented on #55
- http://oncemore2020.github.io/webdoc/ 交大电院科协“Web技术交流组”讲义，网页前端技术小组分享计划 from @oncemore2020

[2016-03-24 11:24] at15 commented on #55
- https://github.com/lonnieezell/CodeIgniter4 @ComMouse
- http://forum.codeigniter.com/thread-62615.html

[2016-03-24 14:40] arrowrowe commented on #52
Mails sent by @arrowrowe.

[2016-03-24 14:40] #52 closed, assigned to at15

[2016-03-25 04:45] at15 commented on #55
- https://github.com/hawx1993/Front-end-Interview-questions

[2016-03-26 04:22] arrowrowe commented on #55
往期回顾 - [Weekly/21](https://github.com/dyweb/web-stuff/blob/master/weekly/2016/0224.md): [Cash](https://github.com/dthree/cash), cross-platform Linux commands in pure ES6, 上 trending 了~

[2016-03-26 08:14] kdplus commented on #55
- https://github.com/billryan/algorithm-exercise

[2016-03-26 09:10] at15 commented on #55
- http://www.zhihu.com/question/19666055 QA 职位
- 开发的几个阶段 http://dltj.org/article/software-development-practice/ , https://en.wikipedia.org/wiki/Deployment_environment

[2016-03-26 12:20] at15 commented on #55
- http://www.koding.com/

[2016-03-27 04:39] arrowrowe commented on #55
重提一下老问题: [AngularJS: Factory vs Service vs Provider](http://tylermcginnis.com/angularjs-factory-vs-service-vs-provider/).

[2016-03-27 09:12] ComMouse commented on #55
[Laravel 5.1 & 5.2 中文文档](http://laravelacademy.org/laravel-docs-5_1)

以前一直纠结为何中文文档一直不出。。Laravel 官方文档的两个教程也有中文了==

[2016-03-27 12:34] at15 commented on #55
- http://www.jsdelivr.com/
- https://cdnjs.com

[2016-03-28 02:58] at15 commented on #55
- https://github.com/opentoonz/opentoonz 日本的开源动画软件 然而从manual到界面全是日文.....

[2016-03-28 03:03] at15 commented on #55
from https://github.com/zenany/weekly/commit/4be0479c7c6d0db10c09bd1b709b5ae1c0d18c95
- http://liubin.org/blog/2016/03/16/microservice-at-cookpad/ 日本一家rails公司 cookpad 的微服务心得
- https://github.com/fcambus/jsemu 各种js写的模拟器
- http://gravitational.com/teleport/ ssh for team @LukeXuan

[2016-03-28 05:17] ComMouse commented on #55
[Laravel 学院](http://laravelacademy.org/about-us)

感觉是看到过的 Laravel 中文站里资源和教程相对来说最丰富的站了==

[2016-03-28 09:49] at15 commented on #55
- https://www.hushmail.com 提供加密服务的邮件服务商 @LukeXuan 看 pt上一个压制组招人的邮箱后缀找到的。

[2016-03-29 02:51] at15 commented on #55
- https://github.com/gitblit/gitblit
- https://eclipse.org/jgit/
- http://stackoverflow.com/questions/6861881/jgit-cannot-find-a-tutorial-or-simple-example
- https://github.com/centic9/jgit-cookbook

java git相关 可能会在一专毕设里用到

[2016-03-29 02:58] at15 commented on #55
- https://github.com/littlebee/git-time-machine @arrowrowe

[2016-03-29 02:59] at15 commented on #55
- https://github.com/allegro/bigcache @gaocegege

[2016-03-29 03:03] LukeXuan commented on #55
[Mattermost](http://www.mattermost.org/) self-hosted slack alternative.

[2016-03-29 04:55] at15 commented on #55
- https://github.com/xhan/qqbot hubot qq

[2016-03-29 13:51] arrowrowe commented on #55
[Caddy](https://github.com/mholt/caddy), Golang 的多平台服务器架设, 支持 HTTP/2, Let's Encrypt 等. cc @gaocegege

[2016-03-29 13:56] arrowrowe commented on #55
[Gamepad API and Xbox Controller on Mac](https://davidwalsh.name/gamepad-api-xbox-controller-mac)

[2016-03-29 23:48] arrowrowe commented on #55
GitHub New Feature: [Saved replies](https://github.com/blog/2135-saved-replies)

[2016-03-30 01:40] at15 commented on #55
- https://github.com/minio/minio Minio is an object storage server compatible with Amazon S3 and licensed under Apache license 2.0.

[2016-03-30 06:24] at15 commented on #55
- https://github.com/valor-software/ng2-plans
- https://github.com/valor-software/ng2-bootstrap
- https://github.com/AngularClass/awesome-angular2
- https://github.com/AngularClass/angular2-webpack-starter
- https://github.com/johnpapa/angular-styleguide

[2016-03-30 06:42] at15 commented on #55
- https://github.com/LomoX-Offical/nginx-openresty-windows win 下的 openresty 为了写代码的时候能方便扯淡...以及解决硬盘太小的问题....又开始找各种win的安装包

[2016-03-30 07:16] gaocegege commented on #55
http://zhuanlan.zhihu.com/p/20631741
shadowsocks源码解读，期望出现监控版Orz

[2016-03-30 07:21] at15 commented on #55
@gaocegege 其实你直接监控搭ss的那台机器应该也是可以的?

[2016-03-30 07:38] at15 commented on #55
teambition 的简聊开源了 https://github.com/jianliaoim/talk-os @arrowrowe @swaylq 想起了 chatterbox，不过话说为什么要开源.... btw:代码是 coffe，后端用 express，搜索是 els + ik (话说.... 之前分词插件我开的issue还一直没去解决....说好的写完作业就去开pr....

[2016-03-30 10:04] at15 commented on #55
- https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API 更好的 ajax ? 看 vimeo 的 console 看到的
- https://www.greenhouse.io/ 一个招聘的网站?也是通过 vimeo 看到的

[2016-03-30 11:02] arrowrowe opened #57 "Weekly for 2016/04/06"
2016/04/06, 第五循环第五次, 总第二十七期 -> @LukeXuan (由 @gaocegege 代理)

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [x] @LukeXuan
- [ ] @tq5124
- [x] @gaocegege
- [ ] @Bluemit

[2016-03-30 11:19] arrowrowe commented on #55
Post to #57 please.

[2016-03-30 14:27] arrowrowe commented on #55
# Weekly 03/24 - 03/30

周报第二十六期, 投稿时序版. _WIP_

- 催稿人：[@arrowrowe][gh-mie]
- 交稿人：
  [@at15][gh-at15]
  [@swaylq][gh-sway]
  [@arrowrowe][gh-mie]
  [@ComMouse][gh-dou]
  [@LukeXuan][gh-luke]
  [@gaocegege][gh-cece]
  [@Bluemit][gh-lp]
  [@InubashiriMomizi][gh-im]

[gh-at15]: https://github.com/at15
[gh-sway]: https://github.com/swaylq
[gh-mie]: https://github.com/arrowrowe
[gh-dou]: https://github.c

[2016-03-30 17:20] arrowrowe commented on #55
Mails sent by @arrowrowe

[2016-03-30 17:20] #55 closed, assigned to arrowrowe

[2016-03-31 04:34] arrowrowe commented on #57
[restify](https://github.com/restify/node-restify), a smallish framework, similar to express for building REST APIs. For full details, see http://restify.com.

[2016-03-31 04:38] arrowrowe commented on #57
[Tooll](https://github.com/framefield/tooll), a new multi-purpose application for creating interactive 3d content and animations. cc @at15

[2016-03-31 14:17] ComMouse commented on #57
[缓存使用与设计系列文章](http://carlosfu.iteye.com/blog/2269678)

[2016-04-01 08:22] gaocegege commented on #57
http://rmarkdown.rstudio.com/
RStudio内置的辣鸡Markdown工具，支持生成pdf，latex文件等等，就是特么不支持中文

辣鸡

[2016-04-01 09:40] at15 commented on #57
@gaocegege 怎么个不支持中文，mac自己可以跑 textlive么 @tq5124 你当时毕业设计怎么写的?

btw: [策策的血泪历史](https://github.com/gaocegege/Blog/commit/d7912aa2836a1e72615fb6b99ef1ede99442e90b)

[2016-04-01 09:50] gaocegege commented on #57
目前pandoc, R Markdown, madoko都不能中文，好辣鸡。

github上的那个模板倒是挺好用的，但二专论文一共5000字，算是个report，用不上那个模板。。

[2016-04-01 09:54] at15 commented on #57
@gaocegege 直接用word写不就好了...

[2016-04-01 09:56] gaocegege commented on #57
![2016-04-01 5 55 18](https://cloud.githubusercontent.com/assets/5100735/14203865/ff0223a0-f832-11e5-8469-3223c3b87038.png)

嗯，你说的很对

[2016-04-01 10:11] at15 commented on #57
- https://github.com/b3log/symphony java写的real time论坛

[2016-04-01 12:45] arrowrowe commented on #57
- [EditorConfig](http://editorconfig.org/), [Textlint](https://textlint.github.io/) and [textlint-rule-editorconfig](https://github.com/arrowrowe/textlint-rule-editorconfig) (Fixable! Proudly presented by @arrowrowe).
- Review [Weekly/26](https://github.com/arrowrowe/web-stuff/blob/master/weekly/2016/0330.md): [Alex](http://alexjs.com/). Wrote textlint-rule-alex tonight only to find it already pub

[2016-04-01 14:42] arrowrowe commented on #57
[「CSS 面试」这一题可以难倒 80% 以上的面试者](http://imomi.info/article/position)

[2016-04-01 14:51] at15 commented on #57
- http://allegro.tech/2016/03/writing-fast-cache-service-in-go.html the blog  for https://github.com/allegro/bigcache

which talks about how to avoid gc in go. maybe you could use this?.... @tq5124

[2016-04-01 15:06] at15 commented on #57
- http://webapps.stackexchange.com/questions/41068/how-exactly-does-megas-download-work

[2016-04-01 17:05] ComMouse commented on #57
[Visual Studio Code](https://code.visualstudio.com/) 再安利一次

貌似开放插件以后好用多了，虽然还有待完善。。不过有最基本的 PHP 代码提示了，而且界面比 Sublime 好看一些==

[2016-04-02 00:25] gaocegege commented on #57
https://github.com/rajdeokumarsingh/MS-Word
微软开源了word！才怪

[2016-04-02 00:26] gaocegege commented on #57
re @ComMouse sublime text有Visual Studio的theme，装上后跟code差不多

[2016-04-02 03:15] arrowrowe commented on #57
[Preact](https://preactjs.com/), fast 3kb alternative to React with the same ES6 API.

[2016-04-02 03:45] arrowrowe commented on #57
[[Python-Dev] The next major Python version will be Python 8](https://mail.python.org/pipermail/python-dev/2016-March/143603.html) (really?...)

[2016-04-02 06:11] arrowrowe commented on #57
[urlite](https://github.com/QubitProducts/urlite), a very small, fast, dependency free url parser and formatter for nodejs and the web. It extracts all url fragments in a single step using **one massive regex**.

OTL

[2016-04-02 07:10] at15 commented on #57
- https://github.com/blog/2141-squash-your-commits

[2016-04-02 08:51] at15 commented on #57
- https://github.com/PeggyZWY/sjtu120avatar 我交头像生成 \w/ @gaocegege star 的, from @PeggyZWY

btw: 感觉用 canvas 会更好一点

[2016-04-02 08:57] arrowrowe commented on #57
- [Caravel](https://github.com/airbnb/caravel), a data exploration platform designed to be visual, intuitive and interactive. (Presented by Airbnb)
- [Snowplow](http://snowplowanalytics.com/), the event analytics platform.
- [PredictionIO](https://prediction.io/)

[2016-04-02 10:06] ComMouse commented on #57
[Growth: 全栈增长工程师指南](https://github.com/phodal/growth-ebook)

没看。。看目录似乎不错。。

[2016-04-02 10:44] at15 commented on #57
- https://github.com/lega911/angular-light

看 example 不错，coffee 写的

[2016-04-02 10:47] at15 commented on #57
@ComMouse 看了下 web 请求的部分，感觉还不错  不过不是很喜欢 Growth Hacker 什么的....

[2016-04-02 10:49] at15 commented on #57
@arrowrowe they are learning from node community ... maybe because PHP is 7 .... so Py = PHP + 1 = 8

[2016-04-02 10:51] ComMouse commented on #57
[浅谈命令查询职责分离(CQRS)模式](http://www.cnblogs.com/yangecnu/p/Introduction-CQRS.html)

[谈一下关于CQRS架构如何实现高性能](http://www.cnblogs.com/guohu/p/4058954.html)

文章各种 C# 慎入

[2016-04-02 15:20] arrowrowe commented on #57
[ChakraCore](https://github.com/Microsoft/ChakraCore), the core part of the Chakra Javascript engine that powers Microsoft Edge.

[2016-04-02 22:52] arrowrowe commented on #57
[NovelScrript 0.1 "hina"](https://github.com/yinyanfr/NovelScript/releases/tag/0.1) 发布. cc @LukeXuan

[2016-04-03 00:53] arrowrowe commented on #57
[Introducing React Storybook](https://voice.kadira.io/introducing-react-storybook-ec27f28de1e2). 还没认真玩过 React......

[2016-04-03 04:46] at15 commented on #57
- https://github.com/owainlewis/awesome-artificial-intelligence and found a http://fightcodegame.com/ fight js robots cc @arrowrowe

[2016-04-03 16:25] at15 commented on #57
- http://haxe.org/

看上去好屌.... btw: 今天写了一天matlab...感觉真是.....酸爽

[2016-04-04 02:28] at15 commented on #57
- https://github.com/p8952/bocker docker impl in 100 lines of bash @gaocegege

[2016-04-04 05:05] at15 commented on #57
- https://coding.net/shop coding 开店了

同去/东岳 也开一个好了，集齐一百同小去换吃货单身学姐 @mingo-x，集齐两百换咩抖酱 @arrowrowe ， 集齐一万策策填个坑 /w\

[2016-04-04 07:55] at15 commented on #57
from https://angular.io/docs/ts/latest/tutorial/toh-pt4.html

[2016-04-04 09:42] LukeXuan commented on #57
[JIBBS](https://github.com/SJTU-UMJI-Tech/JIbbs/)
Infinite PHP Wheel Works

[2016-04-04 15:48] at15 commented on #57
- https://github.com/whyrusleeping/gx

[2016-04-04 15:49] at15 commented on #57
- https://github.com/ipfs/go-libp2p

- https://github.com/ipfs/ipfs

[2016-04-05 09:53] at15 commented on #57
- https://mart.coding.net/quote coding 提供了项目估价功能 @arrowrowe

[2016-04-05 10:07] arrowrowe commented on #57
@at15 .........

[code]

[2016-04-05 10:39] at15 commented on #57
- https://github.com/primefaces/primeng angular2 UI components cc @LukeXuan

[2016-04-05 14:37] at15 commented on #57
- https://icons8.com/ a lot of free icons, but I guess I will just use fontawesome for most projects

[2016-04-05 15:07] #1 closed, assigned to at15

[2016-04-05 15:07] #3 closed, assigned to ComMouse

[2016-04-05 15:07] #2 closed, assigned to arrowrowe

[2016-04-05 15:07] #4 closed, assigned to arrowrowe

[2016-04-05 15:07] #6 closed, assigned to ComMouse

[2016-04-05 15:07] #7 closed, assigned to arrowrowe

[2016-04-05 15:08] at15 commented on #57
- https://github.com/at15/bform-web/issues/1 angular2 相关的资料，我先放自己毕设的前端 repo 里了。 cc @laohyx

[2016-04-06 06:29] at15 commented on #57
- https://github.com/blog/2144-gpg-signature-verification

[2016-04-06 09:59] at15 commented on #57
- http://roborace.com/ from 施大师 @sxjscience (btw: 有没有sxjnature)

[2016-04-06 10:01] at15 commented on #57
- https://github.com/weijianwen/SJTUThesis/issues/63 sjtu thesis 发布 0.9

[2016-04-06 10:03] gaocegege commented on #57
https://github.com/thejameskyle/spectacle-code-slide

![demo](https://cloud.githubusercontent.com/assets/5100735/14313029/c8bb53c8-fc21-11e5-9095-a1cb020d2c6f.gif)

[2016-04-06 13:01] at15 commented on #57
- https://github.com/postcss/postcss

a lot of plugins, like autoprefixer

[2016-04-06 14:07] at15 commented on #57
- https://github.com/fex-team/ua-device 百度的ua识别库 @ComMouse

[2016-04-07 01:03] arrowrowe opened #59 "Weekly for 2016/04/13"
2016/04/13, 第六循环第一次, 总第二十八期 -> @at15

投稿:
- [x] @at15
- [x] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [x] @LukeXuan
- [ ] @tq5124
- [ ] @gaocegege
- [ ] @Bluemit
- [x] @InubashiriMomizi
- [x] @sxjscience

[2016-04-07 01:03] arrowrowe commented on #59
GitHub has got [GPG signature verification](https://github.com/blog/2144-gpg-signature-verification) now :laughing:

![GitHub's Verified Commits Screenshot](https://cloud.githubusercontent.com/assets/25792/14253743/87b504be-fa41-11e5-9140-6dc8b7203c31.png)

[2016-04-07 03:26] swaylq commented on #59
[OS X/iOS 系统漏洞整理](http://mp.weixin.qq.com/s?__biz=MzIyMzE4MTMyMw==&mid=401923379&idx=1&sn=22cdf99ea6417820ef4d49516c53ee86&scene=1&srcid=0407iSQfq96fSiCDJvCYhShh&from=groupmessage&isappinstalled=0#wechat_redirect)

[2016-04-07 04:28] arrowrowe commented on #59
[ua-device.js](http://fex.baidu.com/ua-device/) (GitHub: [fex-team/ua-device](https://github.com/fex-team/ua-device)) presented by Baidu WebFE (FEX).

[2016-04-07 05:12] GokawaHaruki commented on #59
Node Hero Ch3: [Understanding Async Programming in Node.js](https://blog.risingstack.com/node-hero-async-programming-in-node-js/)

[2016-04-07 07:05] at15 commented on #59
- https://github.com/firehol/netdata

[2016-04-07 07:09] at15 commented on #59
- https://github.com/itsabot/abot

cc @arrowrowe @LukeXuan do you want make a 咩抖酱?

[2016-04-07 08:54] arrowrowe commented on #57
Mails sent by @arrowrowe.

[2016-04-07 08:54] #57 closed, assigned to LukeXuan

[2016-04-07 09:17] arrowrowe commented on #59
A detailed and friendly Promise guiding book: [JavaScript Promiseの本](http://azu.github.io/promises-book/) (Chinese: [JavaScript Promise迷你书](http://liubin.org/promises-book/)).

Note its recommendations ([JavaScript: The Good Parts](http://shop.oreilly.com/product/9780596517748.do), [JavaScript Patterns](http://shop.oreilly.com/product/9780596806767.do), [JavaScript: The Definitive Guide, 6th Editi

[2016-04-07 11:02] ComMouse commented on #59
[序列化和反序列化](http://www.infoq.com/cn/articles/serialization-and-deserialization)

其中有各种 RPC 序列化方式的介绍

[2016-04-07 11:12] ComMouse commented on #59
[秒杀业务架构优化之路](http://www.infoq.com/cn/articles/flash-deal-architecture-optimization)

比较通用的秒杀业务优化流程，从浏览器端到数据库层都给出了解决方案

[2016-04-07 12:06] at15 commented on #59
@ComMouse 资深架构师小豆(芽)

[2016-04-07 12:12] at15 commented on #59
- https://github.com/Aufree/laravel5-cheatsheet

另外他们的about页面做的还可以，我们可以参考下 http://estgroupe.com/ cc @arrowrowe

[2016-04-07 12:14] at15 commented on #59
- https://github.com/soimort/you-get readme里fork you的配图大赞

[2016-04-07 13:30] at15 commented on #59
- https://zenodo.org/ research shared cc @sxjscience

[2016-04-07 13:30] at15 commented on #59
- https://github.com/OpenKinect/libfreenect2

[2016-04-07 13:54] at15 commented on #59
- https://github.com/BBC-News/wraith

[2016-04-07 14:35] at15 commented on #59
看 ng2 才知道了 html 的 base tag https://developer.mozilla.org/en/docs/Web/HTML/Element/base
- https://angular.io/docs/ts/latest/guide/router.html#!#base-href

[2016-04-08 03:14] at15 commented on #59
- https://github.com/so-fancy/diff-so-fancy cc @arrowrowe

[2016-04-08 03:24] sxjscience commented on #59
Has MXNet (https://github.com/dmlc/mxnet) been included in the weekly before?

[2016-04-08 03:47] at15 commented on #59
@sxjscience yep, https://github.com/dyweb/web-stuff/search?utf8=%E2%9C%93&q=mxnet

[2016-04-08 07:24] arrowrowe commented on #59
[Minty.js](https://github.com/lumpy-turnips/minty). Run your code through Minty.js to see the state of your variables as each line executes.

[2016-04-08 11:49] at15 commented on #59
- https://github.com/Fooidge/PleaseJS

[2016-04-08 11:51] at15 commented on #59
- https://github.com/icepy/Front-End-Develop-Guide

[2016-04-08 16:11] at15 commented on #59
- https://github.com/rlidwka/sinopia private npm registry

[2016-04-08 16:12] at15 commented on #59
- https://github.com/mzabriskie/axios

[2016-04-09 09:02] GokawaHaruki commented on #59
Emoji helpers as CLI with node: [emoji-cli](https://www.npmjs.com/package/emoji-cli) and [emomi](https://github.com/InubashiriMomizi/emomi).

[2016-04-09 09:42] at15 commented on #59
- https://github.com/showcases/nosql-databases
- https://github.com/rethinkdb/rethinkdb

[2016-04-09 11:53] ComMouse commented on #59
[PSR-7 By Example](https://mwop.net//blog/2015-01-26-psr-7-by-example.html)

[2016-04-09 14:48] LukeXuan commented on #59
[Veertu](http://veertu.com/) OS X native virtualization box provider.

[2016-04-09 15:35] arrowrowe commented on #59
[Space Radar Electron](https://github.com/zz85/space-radar), a space visualizer that allows interactive Sunburst and Treemap charting of your disk space and memory.

[2016-04-10 02:27] at15 commented on #59
- https://github.com/AlexNisnevich/untrusted

[2016-04-10 07:55] at15 commented on #59
- https://github.com/jaeksoft/opensearchserver  got a lot of features like OCR, but elasticsearch is already there ...

[2016-04-10 14:14] arrowrowe commented on #59
[WebUSB API](https://wicg.github.io/webusb/)

[2016-04-10 14:19] arrowrowe commented on #59
[B站2000万用户分析](http://ursb.me/2016/02/23/B%E7%AB%992000%E4%B8%87%E7%94%A8%E6%88%B7%E5%88%86%E6%9E%90/) (GitHub: [airingursb/bilibili-user](https://github.com/airingursb/bilibili-user))

[B站用户报告](http://ursb.me/bilibili-report/) (GitHub: [airingursb/bilibili-report](https://github.com/airingursb/bilibili-report))

[2016-04-10 14:23] arrowrowe commented on #59
[Mathics](https://mathics.github.io/) (GitHub: [mathics/Mathics](https://github.com/mathics/Mathics)), A free, light-weight alternative to Mathematica.

[2016-04-10 14:30] arrowrowe commented on #59
[WebTorrent Desktop](https://webtorrent.io/desktop) (GitHub: [feross/webtorrent-desktop](https://github.com/feross/webtorrent-desktop)), The streaming torrent client.

[2016-04-10 14:34] arrowrowe commented on #59
[GitLab Pages](http://pages.gitlab.io/)

[2016-04-10 14:46] arrowrowe commented on #59
[Composing Programs](http://composingprograms.com/), a free online introduction to programming and computer science.

[2016-04-10 14:50] arrowrowe commented on #59
[Analyzing the NPM dependency network](https://medium.com/graph-commons/analyzing-the-npm-dependency-network-e2cf318c1d0d)

![NPM](https://cdn-images-1.medium.com/max/1200/1*MrEp6Y0l1B7Ixt5mfE3fWA.png)

[2016-04-10 14:52] arrowrowe commented on #59
[Why Everyone Hates Go](http://npf.io/2014/10/why-everyone-hates-go/)

[2016-04-10 15:00] arrowrowe commented on #59
[How we built a recommendation system that helps readers discover 38 million interesting articles per month](https://medium.com/taringa-on-publishing/how-we-built-a-recommendation-system-that-helps-readers-find-38mm-interesting-articles-per-month-f6541168794b)

[2016-04-10 15:05] arrowrowe commented on #59
[Semantic Mining of Social Network](http://keg.cs.tsinghua.edu.cn/jietang/publications/book15-tang-Semantic-Mining-Social-Networks.pdf)

[2016-04-10 15:36] arrowrowe commented on #59
[Tern](http://ternjs.net/) (GitHub: [ternjs/tern](https://github.com/ternjs/tern)), a stand-alone, editor-independent JavaScript analyzer that can be used to improve the JavaScript integration of existing editors.

[2016-04-10 15:44] at15 commented on #59
@arrowrowe ....你怎么突然....

[2016-04-10 15:47] arrowrowe commented on #59
re @at15 几天没看新闻了, 怒清一波

[2016-04-10 23:38] GokawaHaruki commented on #59
[Webpack — The Confusing Parts](https://medium.com/@rajaraodv/webpack-the-confusing-parts-58712f8fcad9)

[2016-04-10 23:43] GokawaHaruki commented on #59
What just happened to [Greenkeeper](https://greenkeeper.io/): [_Your “just” considered harmful_](https://medium.com/@boennemann/your-just-considered-harmful-679db7366b95). Fake robot PRs? "Just" merge them totally trusting? See what's going on here.

[2016-04-11 05:36] at15 commented on #59
- https://github.com/froala/wysiwyg-editor another wysiwyg editor

[2016-04-11 05:38] at15 commented on #59
- https://github.com/maxogden/art-of-node e ... I am not very interested in node now /w\

[2016-04-11 05:39] at15 commented on #59
- https://github.com/yiom/sketchpad a simple sketch pad cc @arrowrowe

[2016-04-11 05:41] at15 commented on #59
- [bfs](http://mp.weixin.qq.com/s?__biz=MzAwMDU1MTE1OQ==&mid=406016886&idx=1&sn=f5aa286373fb981c9de904568fe7ddb2&scene=1&srcid=0411lD1Vhr9rxsBuptwBFpCq#rd) b站的小文件系统 (不是广搜....)

代码(居然在gh上 \w/) https://github.com/Terry-Mao/bfs

[2016-04-11 05:43] at15 commented on #59
从那篇文章里找到的作者 https://github.com/Terry-Mao 他的其他一些golang的项目 cc @gaocegege
- https://github.com/Terry-Mao/gopush-cluster
- https://github.com/Terry-Mao/goim

[2016-04-11 05:50] arrowrowe commented on #59
[ungit](https://github.com/FredrikNoren/ungit)

[2016-04-11 08:40] at15 commented on #59
- https://github.com/passy/givegif cc @gaocegege @swaylq @LukeXuan

have elder in your console \w/

[2016-04-11 09:03] at15 commented on #59
- http://leafletjs.com/ an open-source JavaScript library
  for mobile-friendly interactive maps from `@年轻漂亮的肥皂小姐`   用的是 openstreetmap的数据

[2016-04-11 10:15] at15 commented on #59
- https://github.com/fuckbilibili b站api什么的...

[2016-04-11 11:56] at15 commented on #59
- https://github.com/jakubfiala/atrament.js another js lib for drawing

[2016-04-12 09:42] at15 commented on #59
- https://github.com/mmcgrana/gobyexample

[2016-04-12 09:42] at15 commented on #59
- https://github.com/mmcgrana/services-engineering cc @gaocegege @tq5124

[2016-04-12 09:48] at15 commented on #59
- https://github.com/mperham/sidekiq.js js port for sidekiq from author of sidekiq 0.0

[2016-04-12 09:49] at15 commented on #59
- https://github.com/mperham/inspeqtor

cc @gaocegege

[2016-04-12 09:50] at15 commented on #59
- https://github.com/a8m/go-lang-cheat-sheet (guess this one may duplicate)

[2016-04-12 10:23] at15 commented on #59
From https://github.com/zenany/weekly/commit/d16a344e249456e6341362cadb9b24109c65aab5

**What are CSS Modules and why do we need them?**
- https://css-tricks.com/css-modules-part-1-need
- https://speakerdeck.com/vjeux/react-css-in-js

另外 ng2 的 css 是 scope 的，btw:很久没有关注 css 了.... 奉行自己能用即可不考虑浏览器兼容的原则

http://diycode.cc/topics/16

cc @ComMouse 里面有个国产的白鹭，支持flash和h5转化

http://www.infoq.com/cn/news/2016/

[2016-04-12 10:47] arrowrowe commented on #59
![Bell Curve for JavaScript App's Complexity and Size](http://www.planningforaliens.com/images/bell_curve.png)

![Bell Curve for JavaScript App's Complexity and Size, and Where are YOU](http://www.planningforaliens.com/images/bell_curve_2.png)

[2016-04-12 11:17] ComMouse commented on #59
@at15 白鹭很早就知道了，然而 H5 引擎性能都很坑

[2016-04-13 10:04] at15 commented on #59
- https://github.com/lauraxt/PMWD5E  不知道小豆怎么发现的这个 repo ... @ComMouse

[2016-04-13 10:06] at15 commented on #59
- https://github.com/relax/relax next gen cms on ~~php~~ Nodejs

[2016-04-13 14:46] arrowrowe commented on #59
Decorators & metadata reflection in TypeScript: From Novice to Expert
- [PART I: Method decorators](http://blog.wolksoftware.com/decorators-reflection-javascript-typescript)
- [PART II: Property decorators & Class decorators](http://blog.wolksoftware.com/decorators-metadata-reflection-in-typescript-from-novice-to-expert-part-ii)
- [PART III: Parameter decorators & Decorator factory](http://blog.wo

[2016-04-13 15:05] at15 opened #61 "Weekly for 2016/04/20"
2016/04/03, 第六循环第二次, 总第二十九期 -> @swaylq (由 @arrowrowe 代理)

投稿:
- [x] @at15
- [x] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [ ] @LukeXuan
- [ ] @tq5124
- [x] @gaocegege
- [ ] @Bluemit
- [x] @InubashiriMomizi
- [x] @sxjscience

[2016-04-13 15:05] at15 commented on #59
please go https://github.com/dyweb/web-stuff/issues/61

[2016-04-14 04:55] arrowrowe commented on #61
[WhitestormJS](http://whitestormjs.xyz/)

[2016-04-14 05:23] arrowrowe commented on #61
[Don’t design like a programmer](http://www.uxdesignedge.com/2010/03/dont-design-like-a-programmer/)

[2016-04-14 05:29] at15 commented on #61
@arrowrowe the more important thing is, don't give programmer the liberty to design..... everyone wants to be an artist....

[2016-04-14 11:24] at15 commented on #61
- https://github.com/alibaba/f2etest

[2016-04-15 02:53] GokawaHaruki commented on #61
[Welcoming JSCS to ESLint](http://eslint.org/blog/2016/04/welcoming-jscs-to-eslint), the JSCS team is now part of the ESLint team!

[2016-04-15 03:01] GokawaHaruki commented on #61
[Hjson, the Human JSON](http://hjson.org/) (GitHub: [laktak/hjson](https://github.com/laktak/hjson)).

[2016-04-15 03:03] GokawaHaruki commented on #61
[Deep Learning Tutorial Series for NLP](http://www.thoughtly.co/blog/category/deep-learning-tutorial-series/)

[2016-04-15 06:23] at15 commented on #61
- https://github.com/browserstate/history.js

badge 是亮点.... 项目13年之后就没有更新了，不过或许曾经inspire了很多前端router的实现?

[2016-04-15 06:25] at15 commented on #61
- https://github.com/niklasvh/html2canvas

[2016-04-15 07:31] at15 commented on #61
- https://code.visualstudio.com/blogs/2016/04/14/vscode-1.0

[2016-04-15 07:41] gaocegege commented on #61
Visual Studio Code更新后，变成中文版本了，而且多了很多theme，更加好用了。

[2016-04-15 07:43] at15 commented on #61
@gaocegege 这么认真总觉得你在黑.....

[2016-04-15 07:48] gaocegege commented on #61
。。。真的不是黑

[2016-04-15 07:51] gaocegege commented on #61
https://github.com/xtaci/algorithms
C++的各种算法实现，看看别人写的代码才觉得自己写的style好差劲

[2016-04-15 08:33] at15 commented on #61
from https://angular.io/docs/ts/latest/guide/forms.html

[2016-04-15 15:12] at15 commented on #61
- https://www.owasp.org/index.php/OWASP_AJAX_Security_Guidelines#Always_return_JSON_with_an_Object_on_the_outside

[2016-04-15 16:05] arrowrowe commented on #61
Rainux 推荐的 [Hammerspoon](http://www.hammerspoon.org/) (GitHub: [Hammerspoon/hammerspoon](https://github.com/Hammerspoon/hammerspoon)):

[2016-04-15 16:23] at15 commented on #61
but @arrowrowe we don't have mac /w\ TT

[2016-04-16 04:43] arrowrowe commented on #61
[Kite](https://kite.com/), your programming copilot, augments your coding environment with all the internet’s programming knowledge.See its plugins at [kiteco/plugins](https://github.com/kiteco/plugins) (currently IntelliJ, Atom, Sublime, Vim available).

[2016-04-16 13:15] at15 commented on #61
- https://github.com/vaadin/vaadin cc @gaocegege

[2016-04-17 03:59] ComMouse commented on #61
[Reveal.js controlled by gestures based on WebCam](https://github.com/willy-vvu/reveal.js)

[2016-04-17 05:20] at15 commented on #61
@ComMouse 小豆要用手势来讲?

[2016-04-17 06:19] ComMouse commented on #61
那个貌似只能当玩具。。

[2016-04-17 06:38] at15 commented on #61
- http://trendblog.net/ever-wondered-use-192-168-x-x-ip-addresses-home/ from @gaocegege (策策好帅!

[2016-04-17 14:28] at15 commented on #61
- https://github.com/philsturgeon/dbad 你不要太屌 license

[2016-04-17 16:03] at15 commented on #61
torrent related stuff in gloang
- https://github.com/colthreepv/golang-torrent-recap
- https://github.com/anacrolix/torrent
- https://github.com/Sioro-Neoku/go-peerflix watch moving while downloading

[2016-04-17 16:03] at15 commented on #61
- https://github.com/colthreepv/angular-login-example

[2016-04-17 23:23] arrowrowe commented on #61
[How to work with SVG icons](http://fvsch.com/code/svg-icons/how-to/) (中译: [SVG 图标制作指南](http://qianduan.guru/2016/04/17/How-to-work-with-SVG-icons/) ([知乎专栏版](http://zhuanlan.zhihu.com/p/20753791)))

[2016-04-17 23:28] arrowrowe commented on #61
[Chef](http://chef.io/) (GitHub: [chef/chef](https://github.com/chef/chef)), a systems integration framework, built to bring the benefits of configuration management to your entire infrastructure.

See also [Facebook Chef cookbooks](https://code.facebook.com/posts/1909042435988955/facebook-chef-cookbooks/).

[2016-04-18 01:17] gaocegege commented on #61
http://ask.githuber.cn/
国内github user group~?

[2016-04-18 06:25] at15 commented on #61
Laravel Repository pattern.
- https://bosnadev.com/2015/03/07/using-repository-pattern-in-laravel-5/
- https://github.com/andersao/l5-repository
- https://github.com/anlutro/laravel-repository/
- https://github.com/Bosnadev/Repositories

cc @ComMouse cure 的 repo 是你自己造的轮子吧？

[2016-04-18 10:54] at15 commented on #59
mail sent by @arrowrowe

[2016-04-18 10:54] #59 closed, assigned to at15

[2016-04-18 10:57] at15 opened #63 "Website for weekly and subscribe"
inspired by http://weekly.codetengu.com/

the original repo is https://github.com/CodeTengu/headquarters

[2016-04-18 13:09] arrowrowe commented on #61
[Finally, CSS In JavaScript! Meet CSSX](https://www.smashingmagazine.com/2016/04/finally-css-javascript-meet-cssx/)

[2016-04-18 15:43] at15 commented on #61
From https://github.com/zenany/weekly/commit/ce37552ad4ff044eb606609e9e6e2e546607495f
- http://www.typeisbeautiful.com/2015/04/9171/ 中文排版指南 cc @scottsun94
- http://www.gopherchina.org/ cc @gaocegege btw: logo不错
- https://github.com/ahangchen/How-to-Be-A-Programmer-CN

- **REACT NATIVE 蛮荒开发生存指南** http://www.desgemini.com/?p=77 cc @swaylq @daniyuu

- http://h5.baidu.com/ 百度的h5工具，文档感觉有点粗糙，不知道产品怎么样 cc

[2016-04-18 16:06] at15 commented on #61
- https://github.com/luin/medis mac redis gui client cc @gaocegege @swaylq

[2016-04-19 05:14] at15 commented on #61
- https://developer.ubuntu.com/en/snappy/  ubuntu for IOT, seems to be a new package system or small os image?
- https://github.com/ubuntu-core/snappy

[2016-04-19 06:44] at15 commented on #61
- https://github.com/ClassPreloader/ClassPreloader

I guess laravel is using this? @ComMouse `compiled.php`

[2016-04-19 10:50] at15 commented on #61
- https://github.com/fantasyland/fantasy-land cc @arrowrowe

[2016-04-19 11:13] arrowrowe commented on #61
[Google CDN Beta is here… and it’s already one of the fastest CDNs out there!](http://blog.speedchecker.xyz/2016/04/18/google-cdn-beta-is-here-and-it-brings-more-than-meets-the-eye/)

[2016-04-19 11:15] arrowrowe commented on #61
[Micro](https://github.com/zyedidia/micro), a **terminal-based** text editor that aims to be easy to use and intuitive, while also taking advantage of the full capabilities of modern terminals. (And it's written in Golang.)

[2016-04-19 11:20] arrowrowe commented on #61
[Code samples for _Neural Networks and Deep Learning_](https://github.com/mnielsen/neural-networks-and-deep-learning)

[2016-04-19 11:47] at15 commented on #61
- https://github.com/BradLarson/GPUImage2 cc @sxjscience

[2016-04-19 11:56] sxjscience commented on #61
http://www.deeplearningbook.org/

[2016-04-19 12:12] ComMouse commented on #61
[給網站初學者的建議：用 RUBY ON RAILS 非常辛苦，用 PHP 非常舒服](http://blog.turn.tw/?p=2881)

难得有赞扬世界上最好语言的文章

[2016-04-19 12:36] at15 commented on #61
- https://github.com/gliderlabs/docker-alpine cc @gaocegege

[2016-04-19 15:18] arrowrowe commented on #61
[Bluebird in the wild: Advanced promise-based workflows](http://blog.runnable.com/post/143035495456/bluebird-in-the-wild-advanced-promise-based) (reference: [API Reference | bluebird](http://bluebirdjs.com/docs/api-reference.html))

[2016-04-19 15:21] GokawaHaruki commented on #61
Continue the _Node Hero_ series! It's the 4th already: [Your First Node.js HTTP Server](https://blog.risingstack.com/your-first-node-js-http-server/).

[2016-04-20 03:26] at15 commented on #61
@arrowrowe 在大号小号间来去自如的咩

[2016-04-20 05:43] at15 commented on #61
- https://github.com/dariubs/GoBooks from @gaocegege star

[2016-04-20 07:32] at15 commented on #61
- https://github.com/draios/sysdig  cc @gaocegege

also a hosted version is available here https://sysdig.com/

[2016-04-20 07:37] at15 opened #64 "Weekly for 2016/04/27"
2016/04/27, 第六循环第三次, 总第三十期 -> @arrowrowe (由 @ComMouse 代理, 补偿 #55)

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [ ] @LukeXuan
- [ ] @tq5124
- [x] @gaocegege
- [ ] @Bluemit
- [ ] @InubashiriMomizi
- [ ] @sxjscience
- [x] @daniyuu

[2016-04-20 07:38] at15 commented on #61
please go #64

[2016-04-20 15:13] at15 commented on #64
- http://sqlmap.org/ from @gaocegege

cc @ComMouse have a try on cure and tongqu? (locally...)

[2016-04-20 16:27] arrowrowe commented on #61
Mails sent by @arrowrowe.

[2016-04-20 16:27] #61 closed, assigned to arrowrowe

[2016-04-21 02:17] ComMouse commented on #64
几百个 API 怎么测。。

[2016-04-21 02:39] daniyuu commented on #64
http://tylermcginnis.com/reactjs-tutorial-a-comprehensive-guide-to-building-apps-with-react/

This is a blog to introduce React.js, I think it better than its official tutorial. This is an ANLI www.

There are some mistakes (坑= =) in these articles, I will give a correct version later.

[2016-04-21 02:41] ComMouse commented on #64
[BrainFuck](https://learnxinyminutes.com/docs/brainfuck/) Language

Hello World Demo

[code]

[2016-04-21 07:39] at15 commented on #64
- https://github.com/apcera/libretto from @gaocegege  what's the difference with vagrant ?... and [packer](https://github.com/mitchellh/packer)

[2016-04-21 09:09] at15 commented on #64
- https://github.com/avwo/whistle HTTP, HTTPS, Websocket debugging proxy tool https://github.com/avwo/whistle

[2016-04-22 02:41] at15 commented on #64
- https://github.com/Uberi/speech_recognition

[2016-04-22 07:53] daniyuu commented on #64
I have already fix the mistakes in the [article](http://tylermcginnis.com/reactjs-tutorial-pt-2-building-react-applications-with-gulp-and-browserify/) and give a simple [example project](https://github.com/daniyuu/reactjs-gulp-browserify)
- https://github.com/daniyuu/reactjs-gulp-browserify

[2016-04-22 09:15] ComMouse commented on #64
### Tutorial Resources for HTTP protocol & RESTful API
- [HTTP 教程](http://www.tutorialspoint.com/http/)
- [HTTP: The Protocol Every Web Developer Must Know Part I](http://code.tutsplus.com/tutorials/http-the-protocol-every-web-developer-must-know-part-1--net-31177)
- [HTTP: The Protocol Every Web Developer Must Know Part II](http://code.tutsplus.com/tutorials/http-the-protocol-every-web-developer-

[2016-04-22 11:08] at15 commented on #64
- https://github.com/wequick/Small

cc @swaylq @arrowrowe @BrotherJing @xplorld

[2016-04-22 12:13] arrowrowe commented on #64
[dmlc/mxnet-memonger](https://github.com/dmlc/mxnet-memonger): Sublinear memory optimization for deep learning, reduce GPU memory cost to train deeper nets.

From @sxjscience's stars.

[2016-04-23 10:05] at15 commented on #64
- https://github.com/zythum/mama2 cc @gaocegege @swaylq @LukeXuan

[2016-04-24 02:46] at15 commented on #64
- http://fiona23.github.io/ 是个交大的研究生，看echart的pr看到的

[2016-04-24 10:30] at15 commented on #64
- https://github.com/FriendsOfPHP/Goutte a scrapper in php

[2016-04-24 16:51] at15 commented on #64
from https://github.com/zenany/weekly/commit/e322ab075d66f19233a8d38b9a4362369e51dd99
- 《七周七并发模型》作者Paul 讲的：[编程语言演变对开发者的意义](http://mp.weixin.qq.com/s?__biz=MjM5MDE0Mjc4MA==&mid=2650992195&idx=1&sn=4b799a5e53ed35327e7467cbae1898d9) cc @gaocegege
- [我在系统设计上犯过的14个错](http://mp.weixin.qq.com/s?__biz=MjM5MzYzMzkyMQ==&mid=2649826281&idx=1&sn=9c80215f5ee4b9fcf3be91012ad13608#rd)

- 渗透Hacking Team过程 http://

[2016-04-24 16:52] at15 commented on #64
from https://github.com/zenany/weekly/commit/e322ab075d66f19233a8d38b9a4362369e51dd99
- 计算机领域的日系书籍 http://droidyue.com/blog/2016/04/19/japanese-it-books/   cc @ComMouse @kdplus @daniyuu

[2016-04-24 17:12] kdplus commented on #64
@at15 感覺不錯

[2016-04-25 04:18] gaocegege commented on #64
我在系统设计上犯过的14个错 是阿里毕玄写的，之前他写的[架构师画像](https://yq.aliyun.com/articles/7491?spm=5176.100240.searchblog.8.gGlD8m) 非常热

[2016-04-25 06:48] at15 commented on #64
- https://www.synology.cn/en-us/products/DS216j 等以后有住的地方了剁一个

[2016-04-25 06:49] at15 commented on #64
cc @arrowrowe 把补偿看成了代偿。。。感觉好科幻，总觉得这个词在什么动漫或者小说里很常见。

[2016-04-25 09:43] at15 commented on #64
- https://github.com/koalaylj/xlsx2json

cc @arrowrowe

[2016-04-25 14:51] at15 commented on #64
- https://github.com/pangliang/miband-sdk-android 是通过反编译获取的 cc @振动 .... 不记得振动的 gh id了

[2016-04-26 01:51] gaocegege commented on #64
https://github.com/shekhargulati/52-technologies-in-2016 52-technologies-in-2016

[2016-04-26 11:56] arrowrowe commented on #64
[6 Lesser Known Python Data Analysis Libraries](http://jyotiska.github.io/blog/posts/python_libraries.html)

[2016-04-26 11:59] arrowrowe commented on #64
[19 Tips For Everyday Git Use](http://www.alexkras.com/19-git-tips-for-everyday-use/), 还是有些值得看看的... 比如 `-p` .....

[2016-04-26 12:21] arrowrowe commented on #64
[妈妈再也不用担心我的 MacBook 发热了计划之 1080P](https://github.com/nareix/mama-hd)

@at15 投稿的 [妈妈再也不用担心我的 MacBook 发热了计划2](https://github.com/zythum/mama2) 的分支.

[2016-04-26 13:23] kdplus commented on #64
@arrowrowe 2333我下午也剛star了這個，雖然我沒有mac

[2016-04-26 16:16] at15 commented on #64
@kdplus patpat 皮丘

[2016-04-27 04:59] arrowrowe commented on #64
Node v6.0.0: [World’s Fastest Growing Open Source Platform Pushes Out New Release](https://nodejs.org/en/blog/announcements/v6-release)

Hey, this is even but not LTS.........

[2016-04-27 05:50] at15 commented on #64
- https://github.com/robotlegs/robotlegs-framework An ActionScript 3 application framework for Flash and Flex http://www.robotlegs.org cc @ComMouse

[2016-04-27 05:51] at15 commented on #64
- https://github.com/dbader/schedule cc @LukeXuan @gaocegege life is short, I ~~watch av~~ use python

[2016-04-27 05:52] at15 commented on #64
- https://github.com/cisco/ChezScheme a lot of people (I followed) star it today, and I don't know why .... @sxjscience @laohyx

[2016-04-27 05:54] at15 commented on #64
- https://github.com/williamkapke/node-compat-table node compatibility table, since 6.0 is out. cc @arrowrowe

[2016-04-27 05:55] at15 commented on #64
- https://github.com/calebmer/postgraphql graphql for pg, the readme says graphql will replace rest like json replace xml. I think I can talk about graphql if I have time for next week's lecture. cc @LukeXuan

[2016-04-27 05:58] at15 commented on #64
- https://github.com/OfficeDev/Office-UI-Fabric it looks kind of like material design ... cc @scottsun94

[2016-04-27 12:48] arrowrowe commented on #64
[cnpm/npminstall](https://github.com/cnpm/npminstall) and [rstacruz/pnpm](https://github.com/rstacruz/pnpm).

[2016-04-27 13:09] arrowrowe commented on #64
[Sweave](https://www.statistik.lmu.de/~leisch/Sweave/), a tool that allows to embed the R code for complete data analyses in LaTeX documents.

[2016-04-27 13:21] arrowrowe commented on #64
[Typora](http://www.typora.io/), yet another Markdown writer.

[2016-04-27 15:23] at15 commented on #64
- http://stackoverflow.com/questions/14187956/npm-install-from-git-in-a-specific-version

install npm package from git. 专治常年不release的项目.....

[2016-04-28 02:05] daniyuu commented on #64
I highly recommend this website for web newbie
- http://courses.reactjsprogram.com/courses/reactjsfundamentals/lectures/762526

[2016-04-28 02:24] ComMouse opened #66 "Weekly for 2016/05/04"
2016/05/04, 第六循环第四次, 总第三十一期 -> @LukeXuan (由 @arrowrowe 代理)

投稿:
- [x] @at15
- [x] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [ ] @LukeXuan
- [ ] @tq5124
- [ ] @gaocegege
- [ ] @Bluemit
- [x] @sxjscience
- [ ] @InubashiriMomizi
- [ ] @daniyuu
- [x] @JasonQSY
- [ ] @kdplus

[2016-04-28 02:24] ComMouse commented on #64
Weekly locked, please go to #66

[2016-04-28 02:32] ComMouse commented on #66
为什么算了一下貌似还是我做这期。。

[2016-04-28 02:58] ComMouse commented on #66
[Fliglio: PHP Microservice demo](https://github.com/fliglio/rest-gs)

似乎支持用 Docker 跑的样子。。

[2016-04-28 03:07] ComMouse commented on #66
[A Journey into Microservices](https://sudo.hailoapp.com/services/2015/03/09/journey-into-a-microservice-world-part-1/)
[Introduction to Microservices](https://www.nginx.com/blog/introduction-to-microservices/)

[2016-04-28 08:04] sxjscience commented on #66
https://gym.openai.com/

[2016-04-28 09:35] at15 commented on #66
- http://www.ctex.org/documents/shredder/tex_doc.html a intro for tex

[2016-04-28 11:44] at15 commented on #66
- https://github.com/vincelwt/harmony

[2016-04-28 12:54] at15 commented on #66
- https://github.com/denysdovhan/bash-handbook
- https://github.com/liushuaikobe/bash-handbook-zh-CN

[2016-04-28 13:35] JasonQSY commented on #66
@ComMouse Does the weekly have some requirements?

[2016-04-28 13:37] arrowrowe commented on #66
re @JasonQSY nothing serious really. See also the previous.

[2016-04-28 13:41] JasonQSY commented on #66
[Chromebook-For-Chinese](https://github.com/dubuqingfeng/Chromebook-For-Chinese) A repo about how to configure a chromebook in China. It seems that chromebooks are cheap netbooks with linux.

[2016-04-28 16:26] at15 commented on #66
- http://www.apollostack.com/

[2016-04-29 05:56] arrowrowe commented on #66
[Node.js ES2015/ES6 Support](http://node.green/)

[2016-04-29 06:00] arrowrowe commented on #66
[Announcing Vue.js 2.0](http://vuejs.org/2016/04/27/announcing-2.0/)

[2016-04-29 06:17] arrowrowe commented on #66
- [autochecker](http://victorbjelkholm.github.io/autochecker/) tests your libraries in many different versions of NodeJS, Ruby, Java and many other languages.
- [Trevor](https://github.com/vdemedes/trevor), your own Travis CI to run tests locally.

[2016-04-29 06:31] arrowrowe commented on #66
[Ubuntu 16.04 LTS (Xenial Xerus)](https://wiki.ubuntu.com/XenialXerus/ReleaseNotes)

有请 @kdplus 谈谈使用感想......

[2016-04-29 06:35] arrowrowe commented on #66
[Xi Editor](https://github.com/google/xi-editor), a modern editor with a backend written in Rust.

[2016-04-29 06:39] mrmiywj commented on #66
Wow这是你们的分享吗？分享rust那么潮的？

[2016-04-29 06:59] at15 commented on #66
@arrowrowe 吃瓜观众表示，昨天一晚上mysql装不了，ssh各种挂，以及经典的 `高策哥哥来连接我吧` ..... and autochecker 为什么觉得已经见过了?

[2016-04-29 09:44] arrowrowe commented on #66
re @at15 至少周报里没投过...

[2016-04-29 11:56] at15 commented on #66
- https://github.com/kriskowal/gtor cc @arrowrowe

[2016-04-29 15:06] ComMouse commented on #66
[安卓端微信浏览器升级至 Blink 内核](http://x5.tencent.com/guide?id=4000)

看到是 Chromium 37，感觉还是有点慌。。

[2016-04-29 15:48] ComMouse commented on #66
[An inside look at the infrastructure of GitLab.com](https://about.gitlab.com/2016/04/28/look-into-gitlab-infrastructure/)

GitLab 全站貌似用了 38 台服务器。。

[2016-04-29 15:55] ComMouse commented on #66
[PHP-PM](https://github.com/php-pm/php-pm)

[2016-04-30 06:53] at15 commented on #66
- https://github.com/pavelgonchar/colornet cc @sxjscience  Neural Network to colorize grayscale images

[2016-04-30 10:02] #64 closed, assigned to ComMouse

[2016-04-30 10:45] arrowrowe commented on #64
Mails sent by @arrowrowe.

[2016-05-02 11:54] at15 commented on #66
好像这几天周报安静了，看来是都去飙车了.....

from https://github.com/zenany/weekly/commit/2b6e5bf1a7c9a004599540e74b87591ac9e872e7

**A Protocol for Dying**
 http://hintjens.com/blog:115

之前看到 rainux 在朋友圈分享，当时想放weekly但是忘了。

[2016-05-02 11:55] mrmiywj commented on #66
rainux是谁。。好巧。。

[2016-05-02 11:59] at15 commented on #66
from https://github.com/zenany/weekly/commit/2b6e5bf1a7c9a004599540e74b87591ac9e872e7
- **Almost complete guide to flexbox (without flexbox)**
  http://kyusuf.com/post/almost-complete-guide-to-flexbox-without-flexbox
  This is a cheatsheet-esque guide that offers backwards compatible alternatives to flexbox properties. Whilst some of the CSS in this guide may seem obvious, I am looking to challeng

[2016-05-02 12:00] at15 commented on #66
@mrmiywj rainux是之前在 hackshanghai 认识的 GitCafe 的 CTO， 现在在七牛。 https://github.com/rainux

[2016-05-02 12:54] at15 commented on #66
- http://blog.h5jun.com/post/left-pad.html cc @arrowrowe
  由NPM引发的关于left-pad的那些事儿

[2016-05-03 05:38] at15 commented on #66
- https://github.com/steshaw/plt  A path to Programming Language Theory enlightenment http://steshaw.org/plt

[2016-05-03 08:08] at15 commented on #66
- http://forum.bittorrent.com/topic/21622-have-you-had-a-dmca-notice/

因为有人在使用qa里公开的vpn的同时用bt下片，于是我收到了vps服务商转发的来自xx网站的dmca通知......要删服务器跑路了 google `dmca notice  bittorrent` 有好多

[2016-05-04 02:33] at15 commented on #66
- https://jenkins.io/2.0/ cc @gaocegege CI 策

[2016-05-04 06:55] arrowrowe commented on #66
[Awesome TensorFlow](https://github.com/jtoy/awesome-tensorflow)

[2016-05-04 07:40] swaylq commented on #66
- [ngReact](https://github.com/ngReact/ngReact) 看名字就知道是啥了

[2016-05-04 07:43] swaylq commented on #66
- [跨域处理](https://github.com/expressjs/cors)

[2016-05-04 13:17] at15 commented on #66
- http://www.businessinsider.com/apple-officially-discontinues-webobjects-2016-5

[2016-05-04 13:17] at15 commented on #66
- https://github.com/shirou/gopsutil

[2016-05-04 17:24] JasonQSY commented on #66
- [深入对比数据科学工具箱：python与R之争](http://mp.weixin.qq.com/s?__biz=MjM5Nzc3ODkyMA==&mid=402573384&idx=3&sn=89c60014566d445f30a5084384133257&scene=0#wechat_redirect) 不算深入但python和R的对抗蛮有意思的...

[2016-05-05 00:16] ComMouse commented on #66
@XLuke

[2016-05-05 00:23] LukeXuan commented on #66
噫 原来已经周四了

On Thu, May 5, 2016, 8:16 AM Kevin Han notifications@github.com wrote:

[2016-05-05 00:26] arrowrowe opened #68 "Weekly for 2016/05/11"
2016/05/11, 第七循环第一次, 总第三十二期 -> @at15 (由 @LukeXuan 代理)

投稿:
- [x] @arrowrowe
- [x] @at15
- [ ] @Bluemit
- [x] @ComMouse
- [ ] @daniyuu
- [x] @gaocegege
- [ ] @InubashiriMomizi
- [x] @JasonQSY
- [ ] @kdplus
- [ ] @LukeXuan
- [x] @mrmiywj
- [x] @swaylq
- [ ] @sxjscience
- [ ] @tq5124

[2016-05-05 00:27] arrowrowe commented on #66
Please go to #68.

[2016-05-05 03:13] ComMouse commented on #68
再次推荐一下。。以前发过
[Gogs - Got Git Service](https://gogs.io/)

国人用 Go 写的在线 Git 托管仓库，不知不觉已经涨到 13000+ star 了

[2016-05-05 03:24] ComMouse commented on #68
[FreeCodeCamp](https://github.com/FreeCodeCamp/FreeCodeCamp)

貌似 Star 数十万了。。不知道为什么这么恐怖。。

似乎里面有比较完整的前端教程的样子 @arrowrowe

[2016-05-05 07:43] at15 commented on #68
- http://www.posteriorscience.net/?p=206 from @mrmiywj

[2016-05-05 10:16] at15 commented on #68
- http://dev.af83.com/2012/07/31/should-we-namespace-redis.html cc @ComMouse @Bluemit
  很老的一篇文章，redis的作者也在下面评论了
- http://dev.af83.com/2012/08/02/namespace-redis-with-ease.html nest 这个库 https://github.com/soveran/nest 实现只有几十行，就是简单的prefix key
- https://github.com/resque/redis-namespace 这个是 resque使用的库，好像也只是简单的增加prefix

[2016-05-05 10:28] at15 commented on #68
https://github.com/resque/resque-loner Support for unique jobs in Resque: Only one job with the same payload per queue. 比如更新redis里的缓存

[2016-05-05 10:28] gaocegege commented on #68
https://pusher.com/?v=y  travis-CI使用的推送日志的工具

[2016-05-05 10:29] at15 commented on #68
@gaocegege github 好像也用它 ( 话说 postman 还在pending /w\

[2016-05-05 10:37] gaocegege commented on #68
=-=那就让他pending呗，有什么问题么，哼

[2016-05-05 10:46] arrowrowe commented on #68
re @ComMouse 刚开始的无聊的步骤好多好长懒得看了...... submit 了好几个还没完.........

[2016-05-05 10:47] JasonQSY commented on #68
@arrowrowe 点完了还不错的样子

[2016-05-05 10:49] ComMouse commented on #68
@arrowrowe 貌似可以直接跳目录。。

[2016-05-06 01:30] ComMouse commented on #68
[Windows原生运行Linux的技术细节](http://www.infoq.com/cn/news/2016/05/linux-windows)

[2016-05-06 09:15] ComMouse commented on #66
? @LukeXuan

[2016-05-06 12:17] mrmiywj commented on #68
Siggraph 16 的一篇[paper](http://hi.cs.waseda.ac.jp/~esimo/en/research/sketch/)

自动生成漫画。
目前可以公开Paper，model没有公开。

PS: 是否意味着普通人也可以画本子了。

[2016-05-06 12:47] mrmiywj commented on #68
[Non-lexical lifetime](http://smallcultfollowing.com/babysteps/blog/2016/04/27/non-lexical-lifetimes-introduction/)
MIT PhD's view of Rust's lifetime system

[2016-05-06 13:11] JasonQSY commented on #68
找SDK的时候发现了一个高仿微信的app和微信查拉黑的工具$_$
- https://github.com/motianhuo/wechat
- https://github.com/0x5e/wechat-deleted-friends

[2016-05-06 13:15] ComMouse commented on #68
@mrmiywj 似乎讲的是处理线稿的样子。。

[2016-05-06 13:16] mrmiywj commented on #68
是的，手绘以后处理线条啊什么的然后方便上色吧

[2016-05-06 13:17] at15 commented on #68
@mrmiywj 不能把脑补的东西自动补全出来么 /w\

[2016-05-06 13:54] ComMouse commented on #68
[《RePractise》](https://github.com/phodal/repractise) 讲述的是架构演变的代码实践相关的内容，不过似乎部分章节还没有完成。

私以为其中比较精彩的一部分是 [《前端篇-前端演进史》](http://repractise.phodal.com/#前端篇-前端演进史) （虽然后面有些内容已经超出前端范畴了=w=）

[2016-05-06 15:46] at15 commented on #68
- https://github.com/WechatFE/vConsole 一个针对手机网页的前端 console 调试面板 cc @ComMouse

[2016-05-07 06:14] at15 commented on #68
- https://github.com/google/flexbox-layout cc @BrotherJing @arrowrowe  I think we can put android stuff in this repo now, since the original repo is not maintained.

[2016-05-07 06:15] at15 commented on #68
- https://github.com/kamranahmedse/git-standup cc @arrowrowe

[2016-05-07 06:16] at15 commented on #68
- https://github.com/garris/BackstopJS  BackstopJS automates CSS regression testing of your responsive web UI by comparing DOM screenshots at various viewport sizes. cc @ComMouse

[2016-05-07 06:17] at15 commented on #68
- https://github.com/evancz/elm-architecture-tutorial have you heard of elm ?.....  http://elm-lang.org/

cc @arrowrowe @ComMouse

[2016-05-07 06:38] at15 commented on #68
- http://www.nature.com/nature/journal/v533/n7601/full/nature17439.html Machine-learning-assisted materials discovery using failed experiments \w/

在 gh 上还有代码 https://github.com/darkreactions/DRP

[2016-05-07 07:11] JasonQSY commented on #68
- 把markdown标题自动转换成目录 [github-markdown-toc.go](https://github.com/ekalinin/github-markdown-toc.go)
- [日请求从百万到八亿的技术历程](http://mp.weixin.qq.com/s?__biz=MzA5ODM5MDU3MA==&mid=2650861615&idx=1&sn=aa864106c735c5c514b7fb238477ea02&scene=4#wechat_redirect)
- http://kukuruku.co/hub/php/benchmarks-14-sorting-algorithms-and-php-arrays 讨论了一下各个排序算法的实际速度，PHP实现，事实证明世界上最好的语言自带的排序算法还是很靠谱的。。

[2016-05-07 08:11] arrowrowe commented on #66
Mails sent by @arrowrowe.

[2016-05-07 08:11] #66 closed, assigned to arrowrowe

[2016-05-07 12:36] at15 commented on #68
- https://github.com/mcxiaoke/packer-ng-plugin

下一代Android打包工具，1000个渠道包只需要5秒 https://github.com/mcxiaoke cc @BrotherJing

[2016-05-07 15:59] at15 commented on #68
https://www.elastic.co/products/graph elasticsearch 提供了图api, 并且提供了推荐功能 wow 然而这tm是试用30天后就要订阅的.....

[2016-05-07 17:38] swaylq commented on #68
- [Redux](http://redux.js.org/index.html)

[2016-05-08 03:00] ComMouse commented on #68
[PHP Performance Crash Course, Part 1: The Basics](https://dzone.com/articles/php-performance-crash-course)
[PHP Performance Crash Course, Part 2: The Deep Dive](https://dzone.com/articles/php-performance-crash-course-0)

[2016-05-08 05:57] arrowrowe commented on #68
[linkerd](https://github.com/BuoyantIO/linkerd), an out-of-process network stack for microservices.

[2016-05-08 06:44] swaylq commented on #68
- [material-ui](http://www.material-ui.com)

[2016-05-08 08:00] at15 commented on #68
- https://github.com/eclipse/omr

看上去有点屌 .....

[2016-05-08 11:26] at15 commented on #68
- https://github.com/eclipse/vert.x  Vert.x is a tool-kit for building reactive applications on the JVM

提供了异步的io, http server client etc. cc @LukeXuan

[2016-05-08 12:11] arrowrowe commented on #68
[VJ4](https://github.com/vijos/vj4), next generation [Vijos](https://vijos.org/), built with asyncio on Python 3.5.

[2016-05-08 17:09] at15 commented on #68
- https://github.com/onmyway133/Github.swift cc @xplorld

since both android-stuff and ios-stuff stop updating, I just put things here.

[2016-05-09 06:05] at15 commented on #68
- https://www.youtube.com/watch?v=TckqNdrdbgk google vr Tilt Brush cc @laohyx

btw: 这个感觉可以用来画3d的本子了!!!! 技术改变本子啊！

[2016-05-09 06:20] arrowrowe commented on #68
[Telegram 中文群组列表机器人](https://github.com/jqs7/Jqs7Bot), Telegram 群里一直出没的 "TG群组娘".

[2016-05-09 06:30] at15 commented on #68
@arrowrowe readme配图好评，要不web-stuff也每周换readme图吧 /w\ (我们到底是程序员还是整天看番的死宅.....

[2016-05-09 06:32] arrowrowe commented on #68
re @at15 周报有插图就够了...

[2016-05-09 09:58] mrmiywj commented on #68
[An AI composer](https://www.youtube.com/watch?v=S_f2qV2_U00)
"RNN with short memory, but unlike Donald Trump"....

[2016-05-09 10:21] at15 commented on #68
@mrmiywj unlik Trump .... btw: Trump 的老婆和女儿好像都很漂亮 /w\

[2016-05-09 10:23] mrmiywj commented on #68
Trump 女儿是几十亿美金身价的超模，超级好看\w/

[2016-05-09 10:23] gaocegege commented on #68
你俩发个周报还要发车，简直了

[2016-05-09 10:37] gaocegege commented on #68
https://github.com/zsh-users/zsh-syntax-highlighting
zsh语法高亮

[2016-05-09 11:24] at15 commented on #68
https://github.com/zenany/weekly/commit/a9caf83788a3a00bc0b0a76626a217957bbd5af8 更新了 cc @arrowrowe 你有空看下，我毕设去了....

[2016-05-09 12:33] arrowrowe commented on #68
test

[2016-05-10 03:42] gaocegege commented on #68
https://code.visualstudio.com/updates#vscode
Visual Studio Code 更新，看到了很多有趣的功能，Node.js Debugging 等等

[2016-05-10 03:45] gaocegege commented on #68
https://github.com/atipugin/telegram-bot-ruby
Ruby wrapper for Telegram's Bot API

[2016-05-10 04:33] kdplus commented on #68
https://imjad.cn/archives/lab/black-technology-automatic-tracing-and-automatic-coloring-technology-in-waseda-university-japan
日本早稻田大学发布自动描线与自动上色技术

[2016-05-10 10:28] arrowrowe commented on #68
[Gitsome](https://github.com/donnemartin/gitsome), a supercharged Git/Shell autocompleter with GitHub integration.

[2016-05-10 10:38] arrowrowe commented on #68
[EncloseJS](http://enclosejs.com/). Compile your Node.js project. No sources aboard.

[2016-05-10 11:58] arrowrowe commented on #68
[Cron best practices](https://sanctum.geek.nz/arabesque/cron-best-practices/)

没用过 cron... 有经验的同学来评价下? @at15 @gaocegege @ComMouse @LukeXuan

[2016-05-10 12:00] arrowrowe commented on #68
[Slate](https://github.com/tripit/slate/) helps you create beautiful, intelligent, responsive API documentation.

[2016-05-10 15:59] at15 commented on #68
@arrowrowe 看了，感觉一般，其实cron并不是个很好的job schedule工具，只是因为内置方便。另外systemd 里似乎有类似 cron 的功能，还是 cron 直接被放到了 systemd 里，没怎么了解 systemd

slate以前在GitCafe的时候Rainux提到过，那会他们在开发API

[2016-05-11 06:30] at15 commented on #68
- https://github.com/UChicagoInterviewPrep/algos /w\

[2016-05-11 06:58] at15 commented on #68
- http://playground.tensorflow.org/
- https://github.com/tensorflow/playground/blob/master/nn.ts cc @arrowrowe

[2016-05-11 08:59] arrowrowe commented on #68
[Electron 1.0](http://electron.atom.io/blog/2016/05/11/electron-1-0)

[2016-05-11 09:36] swaylq commented on #68
- [Falcor](http://netflix.github.io/falcor/documentation/jsongraph.html)
- [GraphQL](http://facebook.github.io/graphql/)

不同于 Restful 的 Api 架构，只暴露一个接口，通过 请求的 Model 获取数据

[2016-05-11 10:55] at15 commented on #68
- https://github.com/labs7in0/WindPT  phpwind 的 pt 插件

[2016-05-11 11:23] at15 commented on #68
Android
- https://github.com/hotchemi/PermissionsDispatcher
- https://github.com/shiraji/permissions-dispatcher-plugin

[2016-05-11 13:36] at15 commented on #68
一个基于阿里 coba https://github.com/alibaba/cobar 的开源 mysql 中间件 mycat  https://github.com/MyCATApache/Mycat-Server

btw: 他们提供了一个开源电商实现，还带了秒杀 cc @ComMouse
https://github.com/MyCATApache/Mycat-openEP/blob/master/mycat-ep-server/README.md

[2016-05-11 13:56] at15 commented on #68
- https://github.com/joeyh/git-annex an alternative for git lfs cc @gaocegege

[2016-05-11 13:59] at15 commented on #68
- https://github.com/versatica/JsSIP  JsSIP, the JavaScript SIP library

[2016-05-11 14:09] at15 commented on #68
from https://github.com/zenany/weekly/commit/a9caf83788a3a00bc0b0a76626a217957bbd5af8
- _Programming Language Theory_\*   https://github.com/steshaw/plt

- **[译]如果有人问你数据库的原理，叫他看这篇文章**

- **10 things you probably didn't know about JavaScript (React and Node.js) and GraphQL development at Facebook**  https://hashnode.com/post/10-things-you-probably-didnt-know-about-javascript-react-and-nodejs-and-gr

[2016-05-11 14:28] at15 commented on #68
- **微服务实践-系列**   http://dockone.io/article/1266   cc @ComMouse

- **OverAPI.com - Collecting all the cheat sheets**  http://overapi.com/

- **IT业也是制造业，日本IT产业奇葩在哪儿？**  http://mp.weixin.qq.com/s?__biz=MjM5MDE0Mjc4MA==&mid=2650992364&idx=1&sn=e193a5316f430904753937395c2de9ec

cc @kdplus 想到霓虹国抱着大河写代码的蠢丘
- **架构的本质是管理复杂性**  http://www.open-open.com/lib/view/open1460209702222.html

  - [Backends For Fron

[2016-05-12 04:05] at15 opened #71 "Weekly for 2016/05/18"
2016/05/18, 第七循环第二次, 总第三十三期 -> @swaylq

投稿:
- [x] @at15
- [ ] @swaylq
- [x] @arrowrowe
- [x] @ComMouse
- [ ] @LukeXuan
- [x] @sxjscience
- [ ] @tq5124
- [ ] @gaocegege
- [ ] @Bluemit
- [x] @mrmiywj
- [x] @JasonQSY

[2016-05-12 04:06] at15 commented on #68
please go #71

[2016-05-12 04:07] at15 commented on #71
- https://github.com/amznlabs/amazon-dsstne Deep Scalable Sparse Tensor Network Engine (DSSTNE) is an Amazon developed library for building Deep Learning (DL) machine learning (ML) models cc @sxjscience

[2016-05-12 04:08] at15 commented on #71
- https://www.imgix.com/ real time image processing
- https://github.com/pierrre/imageserver image server tookit in go

[2016-05-12 04:50] at15 commented on #71
- http://dl.acm.org/citation.cfm?id=974938 A Note on Distributed Computing from @gaocegege 是这个吧?

[2016-05-12 05:02] at15 commented on #71
- https://zhuanlan.zhihu.com/p/20879909 一个神奇的3d扫描网站 http://threedscans.com/ btw: 应该是用wp做的，图片路径 wp-content/upload ....
- http://threedscans.com/albertina/francois-willeme-2/ 一个例子

[2016-05-12 05:13] at15 commented on #71
- https://github.com/amueller/word_cloud

someone have a try? windows need to install vs to let it compile some extensions ...

[2016-05-12 06:41] mrmiywj commented on #71
- [Save firefox](https://www.eff.org/deeplinks/2016/04/save-firefox)
  阴吹思婷。。。

[2016-05-12 07:35] at15 commented on #71
- https://github.com/coolwanglu/pdf2htmlEX pdf处理哪家强 .... 感觉可以转成 html 然后解析 html .... jsoup 或者 php 或者 js 都可以了 .....

[2016-05-12 09:17] at15 commented on #71
- https://github.com/facebook/fbctf cc @spacemeowx2

[2016-05-12 10:25] at15 commented on #71
- https://github.com/NarrativeScience/Log.io real time log in your browser (早就想做一个看nginx log的了..... )

[2016-05-12 13:02] JasonQSY commented on #71
- [Introducing FBLearner Flow: Facebook's AI backbone](https://code.facebook.com/posts/1072626246134461/introducing-fblearner-flow-facebook-s-ai-backbone/) Details about Facebook's ML system.
- [亚马逊开源的深度学习工具又能带来什么?](http://news.zol.com.cn/582/5827643.html) Introduction about amazon-dsstne. cc @at15

[2016-05-12 13:28] arrowrowe commented on #71
[Nginx-Simple-Watcher](https://github.com/sjtug/nginx-simple-watcher/), a zero-extra-dependency C++14 nginx server watcher providing CPU usage, mem usage, latest nginx logs and hottest directories, all in JSON format. A simple static web frontend is also provided.